<template>
  <div class='newUser'>
    <div class='logo'>
      <img src="../../assets/logo3.png" alt="">
    </div>
    <div class="newuser-contetn">
      <div class='auth-code'>
       <h1>SIGN UP</h1>
      </div>
      <el-form ref="form" :model="form">
        <el-form-item prop="platform"
                      :rules="[{
                        required: true,
                        message: 'Select country',
                        trigger: 'blur'
                 }]"
        >
          <el-select v-model="form.platform" filterable placeholder="Select social media" style="width: 100%">
            <el-option v-for="(item, index) in platformList" :key="item.label+index" :label="item.label" :value="item.value" class="el-select-item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop='id'
                      :rules="[
                    { required: true, message: 'Type in ID', trigger: 'blur' }
                ]"
        >
          <el-input v-model="form.id" placeholder="Account ID" :autofocus="isAutofocus" @blur="checkExist"></el-input>
        </el-form-item>
        <el-form-item
          prop="email"
          :rules="[
                    { required: true, message: 'Type in E-mail', trigger: 'blur' },
                    { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                ]"
        >
          <el-input v-model="form.email" placeholder="E-mail" :autofocus="isAutofocus" @blur="checkExist"></el-input>
        </el-form-item>
        <el-form-item
          prop="pass"
          :rules="[
                    {
                        required: true,
                        message: 'Type in password',
                        trigger: 'blur'
                    }, {
                        min: 6,
                        max: 20,
                        message: 'The password should be 6-20 figures',
                        trigger: 'blur'
                    }
                ]"
        >
          <el-input v-model="form.pass" type="password" placeholder="Password" @keyup.enter.native="onSubmit('form')"></el-input>
        </el-form-item>
        <p>By signing up you confirm that you accept the <a href="http://www.star.store/cn/terms.html"target=_blank>Terms of Use</a>and <a href="http://www.star.store/cn/privacy.html"target=_blank>Privacy Policy</a>.</p>
        <div class="newUser-submit">
          <el-button type="primary" v-loading="loading" style="width:70%;margin-bottom: 20px; transform: translateX(23%);" @click="onSubmit('form')">SIGN UP</el-button>
        </div>
      </el-form>
      <div class="newUser-submit">
        <el-button class='sign-buttun' style="width:70%;margin-bottom: 20px; transform: translateX(23%);border:solid 1px #ff6c72;" @click="onSubmit('login')">SIGN IN</el-button>
      </div>
    </div>
    <div class="logoin-footer">
        <span>
        </span>
      © 2017 STAR.STORE
      <span >
        </span>
    </div>
  </div>
</template>

<script>
  import {
    addNewUser,
    chaeckInfluencerUser
  } from '../../apiRequest.js';
  import sha1 from 'sha1';
  import store from 'store2';
  import platformList from '../../platform.json';
  import promotion from '../../assets/promotion-reg.jpg';
  import close from '../../assets/close.png';
  export default {
    name: 'newuser',
    data() {
      return {
        msg: 'Welcome',
        loading: false,
        isAutofocus: false,
        form: {
          id: '',
          email: '',
          platform: '',
          pass: ''
        },
        platformList: []
      }
    },
    created(){
      platformList.forEach((c, i) => {
        this.platformList.push({
          value: c.name,
          label: c.name
        })
      })
    },
    methods: {

      checkExist(){
        chaeckInfluencerUser({
          email: this.form.email
        }).then((data)=>{
          if(data.data.code === 3){
            this.$notify({
              message: 'E-mail existed',
              type: 'warning'
            });
            this.form.email = '';
            this.$refs['form'].validateField('email' , (valid) => {
              if (valid) {

              }else{
                return false;
              }
            });
          }
        })
      },
      onToSingUp() {
        this.$router.push('/addNewUser');
      },
      onLogin() {
        this.$router.push('/login');
      },
      onSubmit(form) {
        if (form === 'form') {
          this.$refs[form].validate((valid) => {
            if (valid) {
              this.loading = true;
              let obj = {
                email: this.form.email.trim().toLowerCase(),
                id:this.form.id,
                platform: this.form.platform,
                password: sha1(this.form.pass)
              }
              addNewUser(obj).then((data) => {
                if (data.data.code === 0) {
                  this.$notify({
                    message: 'success',
                    type: 'success'
                  });
                  store('email',obj.email);
                  this.$router.push('/verification');
                } else {
                  Promise.reject(data.data.msg);
                }
              }).catch((err) => {
                this.isAutofocus = true;
                this.loading = false;
                this.$message.error(err);
              });
            } else {
              return false;
            }
          });

        } else if (form === 'login') {
          this.$router.push('/login');
        }
      },
    }
  }</script>

<style scoped>


  .newuser-contetn{
    box-shadow: 0px 0px 2px #6e6b70;
    box-sizing: border-box;
    background:rgba(255,255,255,.5);
    border-radius: 1px;
    position: absolute;
    width:400px;
    min-height:450px;
    z-index: 1111;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 45px 40px;
  }

  .newuser-contetn h1 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
  }
  .newuser-contetn p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
  }
  .el-select-item {
    display: block;
  }
  .logo img{
    top:-40px;
  }
  .sign-buttun{
    color:#c1272d;
    background:rgba(255,255,255,0);
  }
  .sign-buttun:hover{
    color:#ff6c72;
  }
  p a{
    color:#ff6c72;
  }
</style>
