<template>
  <div class="newUser">
    <div class='logo'>
      <img src="../../assets/logo3.png" alt="">
    </div>
    <div class="newuser-contetn">
      <div class='newuser-code'>
        {{code}}
      </div>
      <el-form ref="form" :model="form" >
        <el-form-item prop="email" :rules="[
                    { required: true, message: 'Type in E-mail', trigger: 'blur' },
                    { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                ]">
          <el-input v-model="form.email" placeholder="E-mail" :disabled="disabled"></el-input>
        </el-form-item>
        <el-form-item prop="password"
                      :rules="[
                    {
                        required: true,
                        message: 'Type in password',
                        trigger: 'blur'
                    }
                ]">
          <el-input type="password" v-model="form.password" placeholder="Password" @keyup.enter.native="onSubmit('form')"></el-input>
        </el-form-item>

        <div class="newUser-submit">
          <el-button  type="primary" style="width:100%;margin-bottom: 20px;font-weight:bold;" @click="onSubmit('form')">SIGN UP</el-button>
        </div>
      </el-form>
    </div>
    <div data-v-ea2532b0="" class="logoin-footer">
        <span data-v-ea2532b0="">
        </span>
      © 2017 STAR.STORE
      <span data-v-ea2532b0="">
        </span>
    </div>
  </div>
</template>

<script>
  import {
    login,
    auth,
    resetPassword,
    setInflupwd
  } from '../../apiRequest.js';
  import sha1 from 'sha1';
  import store from 'store2';
  import promotion from '../../assets/promotion-reg.jpg';
  import close from '../../assets/close.png';
  export default {
    name: 'newuser',
    data() {
      return {
        code:'',
        disabled:false,
        query:[],
        id:'',
        platform:'',
        influid:'',
        email:'',
        key:'',
        msg: 'Welcome',
        loading: false,
        form: {
          email: '',
          password: ''
        }
      }
    },
    created() {
      sessionStorage.removeItem('dataToken');
      localStorage.removeItem('influencerUser');
      localStorage.removeItem('close');
      let arr=document.cookie.split(';');
      arr.forEach((c,i)=>{
        document.cookie=c+";max-Age=-1";
      })
      this.queryInit();
    },
    methods: {
      queryIndex(type){
        for(var i=0;i<this.query.length;i++){
          if(this.query[i].indexOf(type)!=-1){
            return this.query[i].split('=')[1];
          }
        }
      },
      queryInit(){
        this.query=location.hash.split('?')[1] ? location.hash.split('?')[1].split('&') : '';
        if(this.query){
          this.influid=this.queryIndex('influ_id');
          this.email=this.queryIndex('email') ? decodeURIComponent(this.queryIndex('email')) : '';
          this.pid=this.queryIndex('pid');
          this.key=this.queryIndex('key');
          this.platform=this.queryIndex('platform');
          this.emailShow(this.email);
        }else{
          this.emailShow(this.email);
        }
      },
//      判断email框是否存在
      emailShow(email){
        if(email&&email!=''){
          this.form.email=this.email;
          this.disabled=true;
          this.code='Please type the password to create your account'
        }else{
          this.form.email='';
          this.code='Please type the e-mail and password to create your account';
        }
      },
      closePromotion() {
        this.promotionVisible = false;
      },
      resetPassword() {
        this.$router.push('/forgetPassword');
      },
      onToSingUp() {
        this.$router.push('/addNewUser');
      },
      onLogin() {
        this.$router.push('/login');
      },
      onSubmit(form) {
        if(form === 'form'){
          this.$refs[form].validate((valid) => {
            if(valid){
              setInflupwd({
                id:this.pid? this.pid : '',
                influid:this.influid ? this.influid : '',
                key:this.key? this.key : '',
                platform:this.platform? this.platform : '',
                email:this.form.email ? this.form.email : this.email,
                password:this.form.password
              }).then((data) => {
                if(data.data.code === 0){
                  this.Login();
                }else{
                  return Promise.reject(data.data.msg);
                }
              }).catch((err) => {
                this.isAutofocus = true;
                this.loading = false;
                this.$message.error(err);
              });
            }else{
               return false;
            }
          })
        }
      },
      Login() {
        let obj = {
          email: this.form.email ? this.form.email : this.email,
          password: sha1(this.form.password)
        }
        login(obj).then((data) => {
          if (data.data.code === 0) {
            store('influencerUser', data.data.msg);
            store('close', {close1 : false});
            let urltoken=decodeURIComponent(data.data.msg.token);
            let date=new Date((new Date().getFullYear()+1).toString());
            document.cookie="influ="+data.data.msg.user.influencer_user_id+";domain=.star.store;path=/;expires="+date;
            sessionStorage.setItem("dataToken", urltoken);
            if (data.data.msg.user.influencer_user_verification === 0) {
              this.$router.push('/verification');
            } else {
              this.$router.push('/home/campaignList/ca');
            }
          } else if (data.data.code === 4) {
            this.$router.push('/verification');
          } else if (data.data.code === 5) {
            this.loading = false;
            return Promise.reject(data.data.msg);
          } else if (data.data.code === 3) {
            this.loading = false;
            this.$notify({
              message: 'Incorrect password or email',
              type: 'error'
            });
          }
        }).catch((res) => {
          this.loading = false;
          this.$message.error(res);
        });
      },
    }
  }
</script>

<style scoped>
  .newUser{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-size: cover;
    overflow: auto;
    padding-bottom: 50px;
  }
  .newuser-contetn{
    box-shadow: 0px 0px 2px #6e6b70;
    background:rgba(255,255,255,.5);
    box-sizing: border-box;
    border-radius: 1px;
    position: absolute;
    width:400px;
    min-height:450px;
    z-index: 1111;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 80px 40px;
  }
  .newuser-contetn h1 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .newuser-code{
    margin-bottom: 30px;
    line-height: 30px;
  }

  .newuser-contetn p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
  }
  .newUser-submit{
    width: 70%;
    transform: translate(23%);
    margin-top:40px;
  }
  .el-select-item {
    display: block;
  }
  .btn-defalt {
    color: #c1272d;
    border: 1px solid #c1272d;
  }

  .btn-defalt:hover {
    color: #fff;
    background-color: #c1272d;
    border: 1px solid #c1272d;
  }

  .forgetPassword>p {
    text-align: right;
    cursor: pointer;
    color: #c1272d;
  }


</style>
