<template>
  <div class="auth-login">
    <div class='logo'>
      <img src="../../assets/logo3.png" alt="">
    </div>
    <div class="auth-content">
      <h1>SIGN IN</h1>
      <div class='auth-code'>
        Choose the top-paying campaigns and earn money by your influence!
      </div>
      <div class="block">
        <span class="wrapper">
          <!--facebook-->
          <el-button  class="auth-button" >
            <a href='http://shop.star.store/authlogin/platform/facebook/start'>
              <img src="../../assets/tw.png" alt="" />
              <span>Facebook</span>
            </a>
          </el-button>
          <!--google plus-->
          <el-button  class="auth-button">
            <a  href='http://shop.star.store/authlogin/platform/googleplus/start'>
            <img src="../../assets/gg.jpg" alt="" />
             <span>Google+</span>
            </a>
          </el-button>
          <!--youtube-->
          <el-button  class="auth-button">
            <a href='http://shop.star.store/authlogin/platform/youtube/start'>
              <img src="../../assets/mu.png" alt="" />
              <span>YouTube</span>
            </a>
          </el-button>
          <!--instagram-->
          <el-button  class="auth-button">
            <a  href='http://shop.star.store/authlogin/platform/instagram/start'>
               <img src="../../assets/ins.png" alt="" />
              <span>Instagram</span>
            </a>
           </el-button>
          <!--twitter-->
          <el-button  class="auth-button">
            <a  href='http://shop.star.store/authlogin/platform/twitter/start'>
              <img src="../../assets/in.png" alt="" />
             <span>Twitter</span>
            </a>
          </el-button>
        </span>
      </div>
      <div class='auth-text'>
        <a @click='login' style='cursor: pointer;margin-right:20px;'>
          E-mail log in
        </a>
      </div>
    </div>
    <div class="logoin-footer">
        <span data-v-ea2532b0="">
        </span>
      © 2017 STAR.STORE
      <span data-v-ea2532b0="">
        </span>
    </div>
  </div>
</template>

<script>
  import {
    addNewUser,
    chaeckInfluencerUser
  } from '../../apiRequest.js';
  import sha1 from 'sha1';
  import store from 'store2';
  import promotion from '../../assets/promotion-reg.jpg';
  import close from '../../assets/close.png';
  export default {
    name: 'newuser',
    data() {
      return {

      }
    },
    created(){

    },
    methods: {
      login(){
        this.$router.push('/login');
      }
    }
  }
</script>

<style scoped>

  .auth-content{
    box-shadow: 1px 5px 10px #ccc;
    box-sizing: border-box;
    background:rgba(255,255,255,.5);
    border-radius: 1px;
    position: absolute;
    width:700px;
    min-height:390px;
    z-index: 1111;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 20px 40px;
    overflow: hidden;
  }
  .auth-button a{
    width: 80px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#000;
    font-size:16px;
    font-weight:bold;
  }
  a i{
    display: block;
    width: 80px;
    height: 80px;
    border-radius:5px;
    background: #c1272d;
    color: #fff;
    font-style: normal;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
  }
  .auth-content .block{
    margin-top:30px;
  }
   .auth-content .wrapper{
     display:flex;
     align-items:center;
     justify-content: space-around;
   }
   .auth-button img{
     border-radius:5px;
     margin-bottom:10px;
     width:100%;
   }
  .auth-login {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: auto;
    padding-bottom: 50px;
  }

  .auth-text{
    width:100%;
    text-align:center;
    color:#c1272d;
    font-weight:bold;
    margin:20px 0;
    font-size: 20px;
    text-decoration: underline;
    text-align: right;
  }
  .auth-code{
    font-size: 17px;
    font-weight: bold;
  }
  .login-header>img{
    height: 100%;
  }
  .el-button{
    width: 13%;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: rgba(255,255,255,0);
    color: #1f2d3d;
    margin: 10px;
    padding: 0;
    border: none;
  }

  .auth-content h1 {
    text-align: center;
    margin: 0;
    font-size: 26px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .auth-content p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
  }

  .el-select-item {
    display: block;
  }

</style>
