<template>
  <div class="enter-inf">
    <div class='logo'>
      <img src="../../assets/logo3.png" alt="">
    </div>
    <div class="enter-content">
      <div class='enter-platform'>
        <img :src='imgsrc' alt="">
      </div>
      <h2><code>{{platform}}</code> has been successfully authorized, we have created for you
        the star.store account. Let us open the magic tour together!</h2>
    </div>
    <div class="logoin-footer">
        <span>
        </span>
      © 2017 STAR.STORE
      <span >
        </span>
    </div>
  </div>
</template>

<script>
  import {
    login,
    auth,
    resetPassword,
    getInfluById
  } from '../../apiRequest.js';
  import sha1 from 'sha1';
  import store from 'store2';
  export default {
    name: 'newuser',
    data() {
      return {
        platform:'',
        influid:'',
        token:'',
        msg:{},
        imgsrc:'',
        src:''
      }
    },
    created() {
      this.queryInit();
      this.getInfluId(this.influid);
      this.imgSrcInit(this.platform);
      this.infLogin(this.token);
    },
    methods: {
      queryIndex(type){
        for(var i=0;i<this.query.length;i++){
          if(this.query[i].indexOf(type)!=-1){
            return this.query[i].split('=')[1];
          }
        }
      },
      //封装函数通过url获取influid,token
      queryInit(){
        this.query=location.hash.split('?')[1] ? location.hash.split('?')[1].split('&') : '';
        if(this.query){
          this.influid=this.queryIndex('influ_id');
          this.token=this.queryIndex('token');
          this.platform=this.queryIndex('platform')
        }else{
        }
      },
       imgSrcInit(platform){
         this.imgsrc =
           platform === 'Twitter' ? require('../../assets/in.png')
         : platform === 'Facebook' ? require('../../assets/tw.png')
         : platform === 'Instagram' ? require('../../assets/fa.png')
         : platform === 'Youtube'? require('../../assets/mu.png')
         : platform === 'Googleplus' ? require('../../assets/gg.jpg')
         : '';
       } ,
      //通过id获取到influence，存入localStorage
      getInfluId(id){
        getInfluById({influid : id}).then((data)=>{
          if (data.data.code === 0) {
            store('influencerUser', data.data.msg);
            this.msg = store('influencerUser');
          }
        });
      },
      //将token,id信息存入完成后进入页面
      infLogin(token){
        let urltoken=decodeURIComponent(token);
        store('influencerUser', this.msg);
        store('close', {close1 : false});
        sessionStorage.setItem("dataToken", urltoken);
        this.$router.push('/home/campaignList/ca');
      },
    }
  }
</script>

<style scoped>
  h2{
    line-height: 30px;
    font-size: 17px;
    margin-right: 50px;
  }
  code{color:#c1272d;
  font-size:22px;
  font-weight:bold;
  }
  .enter-content{
    display: flex;
    align-items:center;
    box-shadow: 0px 0px 2px #6e6b70;
    box-sizing: border-box;
    background:rgba(255,255,255,.5);
    width:700px;
    height:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .enter-platform{
    float: left;
    margin: 0 30px 0 100px;
    width: 196px;
    height: 100px;
  }
  .enter-platform img{
    width:100%;
  }

</style>
