<template>
    <div class="newuser">
        <div class='logo'>
          <img src="../../assets/logo3.png" alt="">
        </div>
        <div class="newuser-contetn" v-if="!isSubmit">
            <el-form ref="form" :model="form">
                <el-form-item prop="email" :rules="[
                        { required: true, message: 'Type in E-mail', trigger: 'blur' },
                        { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                    ]">
                    <el-row :gutter="20">
                        <el-col :span="24">
                            <el-input v-model="form.email" placeholder="E-MAIL" style="width:100%;" @blur="checkExist"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>

                <div>
                    <el-button type="primary" style="width:100%;margin-bottom: 20px;" @click="sendEmail" @keyup.enter.native="onSubmit('login')">SUBMIT</el-button>
                </div>
                <div class="newUser-submit">
                    <el-button v-loading="loading" type="text" style="width:100%;" @click="onSubmit('login')">LOG IN</el-button>
                </div>
            </el-form>
        </div>

        <div class="newuser-contetn-msg" v-if="isSubmit">
            <h1>NOTICE !</h1>
            <img src="../../assets/msg2.png" alt="">
            <p>
                We've sent an email containing instructions to reset your password to your mailbox.
                If you have not received the e-mail, please send message to contact@star.store for help.
            </p>
        </div>
      <div class="logoin-footer">
        <span data-v-ea2532b0="">
        </span>
        © 2017 STAR.STORE
        <span data-v-ea2532b0="">
        </span>
      </div>
    </div>
</template>

<script>
    import {
        resetPassword,
        resetNewPassword,
        chaeckInfluencerUser
    } from '../../apiRequest.js';
    import sha1 from 'sha1';
    import store from 'store2';
    export default {
        name: 'newuser',
        data() {
            return {
                msg: 'Welcome',
                loading: false,
                isSubmit: false,
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        created() {
            store('influencerUser', {});
            store('influencerPage', '');
            sessionStorage.setItem("dataToken", '');
        },
        methods: {
            checkExist(){
                if(this.form.email){
                    chaeckInfluencerUser({
                        email: this.form.email
                    }).then((data)=>{
                        if(data.data.code === 3){

                        }else if(data.data.code === 0){
                            this.$notify({
                                message: "The account doesn't exist",
                                type: 'warning'
                            });
                            this.form.email = '';
                        }
                    })
                }else{

                }
            },
            sendEmail() {
                if (this.form.email) {
                    resetPassword({
                        email: this.form.email.trim().toLowerCase()
                    }).then((data) => {
                        if(data.data.code === 0){
                            this.isSubmit = true;
                        }
                    }).catch((res) => {
                        this.$notify.error({
                            message: res.toString()
                        });
                    })
                } else {
                    this.$notify.warning({
                        message: 'Type in E-mail'
                    });
                }
            },
            onToSingUp() {
                this.$router.push('/addNewUser');
            },
            onLogin() {
                this.$router.push('/login');
            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$router.push('/login');
                } else if (type === 'sigup') {
                    this.$router.push('/addNewUser');
                }

                return;
            },
        }
    }
</script>

<style scoped>
    .login-header>img{
        height: 100%;
    }
    .login-header {
        height: 60px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    .newuser-contetn {
        box-shadow: 0px 0px 2px #6e6b70;
        box-sizing: border-box;
        background:rgba(255,255,255,.5);
        width: 400px;
        border-radius: 1px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 60px 60px 40px;
    }
    .newuser-contetn-msg {
        box-sizing: border-box;
        width: 450px;
        /*background: #fafafa;*/
        border: 3px solid #c1272d;
        border-radius: 1px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 40px;
    }
    .newuser-contetn-msg>img{
        position: absolute;
        background-color: #fff;
        width: 70px;
        top: -20px;
        left: -20px;
    }
    .newuser-contetn-msg>h1 {
        text-align: center;
        font-size: 30px;
        color: #333;
        color: #c1272d;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .newuser-contetn-msg p {
        text-indent:25px;
        padding: 0;
        margin: 0;
        font-size: 18px;
        color: #333;
        line-height: 25px;
        text-align: left;
    }

    .el-select-item {
        display: block;
    }

    .btn-defalt {
        color: #c1272d;
        border: 1px solid #c1272d;
    }

    .btn-defalt:hover {
        color: #fff;
        background-color: #c1272d;
        border: 1px solid #c1272d;
    }
</style>
