<template>
  <div class="newUser">
      <div class='logo'>
        <img src="../../assets/logo3.png" alt="">
      </div>
      <div class="newuser-contetn">
        <div class='newuser-code'>
          <h1>LOG IN</h1>
        </div>
        <el-form ref="form" :model="form">
            <el-form-item prop="email" :rules="[
                    { required: true, message: 'Type in E-mail', trigger: 'blur' },
                    { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                ]">
                <el-input v-model="form.email" placeholder="E-mail"></el-input>
            </el-form-item>
            <el-form-item prop="password"
                :rules="[
                    {
                        required: true,
                        message: 'Type in password',
                        trigger: 'blur'
                    }
                ]">
                <el-input type="password" v-model="form.password" placeholder="Password" @keyup.enter.native="onSubmit('login')"></el-input>
            </el-form-item>
            <div class="forgetPassword">
                <p style="width:100%;margin-bottom: 20px;" @click="resetPassword">Forgot password?</p>
            </div>
            <div class="newUser-submit">
                <el-button v-loading="loading" type="primary" style="width:100%;margin-bottom: 20px;font-weight: bold" @click="onSubmit('login')">LOG IN</el-button>
            </div>
            <div class="newUser-submit">
                <el-button type="text" style="width:100%;margin-bottom: 20px;font-weight: bold" @click="onSubmit('sigup')">SIGN UP</el-button>
            </div>
        </el-form>
      </div>
      <div data-v-ea2532b0="" class="logoin-footer">
        <span data-v-ea2532b0="">
        </span>
        © 2017 STAR.STORE
        <span data-v-ea2532b0="">
        </span>
      </div>
  </div>
</template>

<script>
    import {
        login,
        auth,
        resetPassword
    } from '../../apiRequest.js';
    import sha1 from 'sha1';
    import store from 'store2';
    import promotion from '../../assets/promotion-reg.jpg';
    import close from '../../assets/close.png';
    export default {
        name: 'newuser',
        data() {
            return {
                msg: 'Welcome',
                loading: false,
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        created() {
            //清除cookie
          sessionStorage.removeItem('dataToken');
          localStorage.removeItem('influencerUser');
          localStorage.removeItem('close');
          let arr=document.cookie.split(';');
          arr.forEach((c,i)=>{
              document.cookie=c+";max-Age=-1";
          })
        },
        methods: {
            closePromotion() {
                this.promotionVisible = false;
            },
            resetPassword() {
                this.$router.push('/forgetPassword');
            },
            onToSingUp() {
                this.$router.push('/addNewUser');
            },
            onLogin() {
                this.$router.push('/login');
            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            this.loading = true;
                            let obj = {
                                email: this.form.email.trim().toLowerCase(),
                                password: sha1(this.form.password)
                            }
                            login(obj).then((data) => {
                                if (data.data.code === 0) {
                                    this.loading = false;
                                    store('influencerUser', data.data.msg);
                                    store('close', {close1 : false});
                                    sessionStorage.setItem("dataToken", data.data.msg.token);
                                    let date=new Date((new Date().getFullYear()+1).toString());
                                    document.cookie="influ="+data.data.msg.user.influencer_user_id+";domain=.star.store;path=/;expires="+date;
                                    if (data.data.msg.user.influencer_user_verification === 0) {
                                        this.$router.push('/verification');
                                    } else {
                                        this.$router.push('/home/campaignList/ca');
                                    }
                                } else if (data.data.code === 4) {
                                    this.$router.push('/verification');
                                } else if (data.data.code === 5) {
                                    this.loading = false;
                                    return Promise.reject(data.data.msg);
                                } else if (data.data.code === 3) {
                                    this.loading = false;
                                    this.$notify({
                                        message: 'Incorrect password or email',
                                        type: 'error'
                                    });
                                }
                            }).catch((res) => {
                                this.loading = false;
                                this.$message.error(res);
                            });
                        } else {
                            return false;
                        }
                    });

                } else if (type === 'sigup') {
                    this.$router.push('/auth');
                }
            },
        }
    }
</script>

<style scoped>
  .newuser-contetn{
    box-shadow: 0px 0px 2px #6e6b70;
    box-sizing: border-box;
    background: rgba(255,255,255,.5);
    border-radius: 1px;
    position: absolute;
    width:400px;
    min-height:450px;
    z-index: 1111;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding:40px;
  }
    .newuser-contetn h1 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        color: #333;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .newuser-code{
      margin-bottom: 30px;
      line-height: 30px;
    }

    .newuser-contetn p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #666;
        line-height: 25px;
        text-align: left;
        margin-bottom: 20px;
    }
    .newUser-submit{
      height:50px;
      width: 70%;
      transform: translate(23%);
    }
    .el-select-item {
        display: block;
    }

    .btn-defalt {
        color: #c1272d;
        border: 1px solid #c1272d;
    }

    .btn-defalt:hover {
        color: #fff;
        background-color: #c1272d;
        border: 1px solid #c1272d;
    }

    .forgetPassword>p {
        text-align: right;
        cursor: pointer;
        color: #c1272d;
    }
</style>
