<template>
  <div class="newuser">
    <div class="login-header">
        <img src="../../assets/logo6.png" alt="">
        <el-button @click="onToSingUp" size="small" class="btn-defalt" style="float:right;margin-top:5px;">SIGN UP</el-button>
        <el-button @click="onLogin" size="small" class="btn-defalt" style="float:right;margin-top:5px; margin-right:20px;">LOG IN</el-button>
    </div>
      <div class="newuser-contetn" v-if="!isSubmit">
        <el-form ref="form" :model="form">
            <!--<el-form-item prop="email" :rules="[
                    { required: true, message: 'Type in E-mail', trigger: 'blur' },
                    { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                ]">
                <el-row :gutter="20">
                    <el-col :span="24">
                        <el-input v-model="form.email" placeholder="E-MAIL" style="width:100%;"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button @click="sendEmail" style="width:100%;">SEND</el-button>
                    </el-col>
                </el-row>
            </el-form-item>-->
            <el-form-item prop="password"
                :rules="[
                    {
                        required: true,
                        message: 'Type in password',
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 20,
                        message: 'The password should be 6-20 figures',
                        trigger: 'blur'
                    }
                ]">
                <el-input type="password" v-model="form.password" placeholder="NEW PASSWORD" @keyup.enter.native="resetPassword"></el-input>
            </el-form-item>
            <div>
                <el-button type="primary" style="width:100%;margin-bottom: 20px;" @click="resetPassword">SUBMIT</el-button>
            </div>
            <div class="newUser-submit">
                <el-button v-loading="loading" type="text" style="width:100%;margin-bottom: 20px;" @click="onSubmit('login')">LOG IN</el-button>
            </div>
        </el-form>
      </div>
      <div class="logoin-footer"> <span></span> &copy 2017 STAR.STORE <span></span> </div>
  </div>
</template>

<script>
    import {
        resetPassword,
        resetConmitPassword,
        resetNewPassword
    } from '../../apiRequest.js';
    import sha1 from 'sha1';
    import store from 'store2';
    export default {
        name: 'newuser',
        data() {
            return {
                msg: 'Welcome',
                loading: false,
                isSubmit: false,
                form: {
                    token: '',
                    password: ''
                }
            }
        },
        created() {
            this.form.token = this.$route.query.token;
        },
        methods: {
            resetPassword() {
                if (this.form.password) {
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            resetNewPassword({
                                token:  this.form.token,
                                pwd: sha1(this.form.password)
                            }).then((data) => {
                                if (data.data.code === 0) {
                                    this.$notify({
                                        message: 'success',
                                        type: 'success'
                                    });
                                    this.$router.push('/login');
                                }
                            }).catch((res) => {
                                this.$notify.error({
                                    message: res.toString()
                                });
                            });
                        } else {
                            return false;
                        }
                    });
                } else {
                    this.$notify.warning({
                        message: 'Type in password'
                    });
                }
            },
            onToSingUp() {
                this.$router.push('/addNewUser');
            },
            onLogin() {
                this.$router.push('/login');
            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$router.push('/login');
                } else if (type === 'sigup') {
                    this.$router.push('/addNewUser');
                }

                return;
            },
        }
    }
</script>

<style scoped>
    .newuser {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        width: 100%;
        height: 100%;
        /*background: #ccc url('../../assets/bg.jpg') no-repeat;*/
        background-size: cover;
    }

    .login-header {
        height: 60px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    .login-header>img{
        height: 100%;
    }
    .newuser-contetn {
        box-sizing: border-box;
        width: 450px;
        background: #fafafa;
        border-radius: 1px;
        position: fixed;
        left: 50%;
        top: 20%;
        margin-left: -225px;
        padding: 20px 40px;
    }

    .newuser-contetn h1 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        color: #333;
        margin-bottom: 30px;
    }

    .newuser-contetn p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #666;
        line-height: 25px;
        text-align: left;
        margin-bottom: 20px;
    }

    .el-select-item {
        display: block;
    }

    .logoin-footer {
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 100%;
        color: #80807d;
    }

    .logoin-footer>span {
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

    .btn-defalt {
        color: #c1272d;
        border: 1px solid #c1272d;
    }

    .btn-defalt:hover {
        color: #fff;
        background-color: #c1272d;
        border: 1px solid #c1272d;
    }
</style>
