<template>
    <div class='User'>
        <div class='logo'>
          <img src="../../assets/logo3.png" alt="">
        </div>
        <div class="text">
          <div class='content'>
            <span class='animated bounce'><img src="../../assets/msg3.png" alt=""></span>
            <h2>Soon to success!</h2>
          </div>
            <p>We have sent you the confirm e-mail to <i>{{email}}</i><br/>
              Please check your e-mail, click on the confirm button to complete your star.store account creation.
            </p>

            <p style=' width:100%;display:flex;justify-content:flex-end;padding-right: 20px;'>Did not receive mail? <a> Click here to resend</a></p>
        </div>
        <div class="logoin-footer"> <span></span> &copy 2017 STAR.STORE <span></span> </div>
    </div>
</template>
<script>
    import {
        checkVerification,
        verification
    } from '../../apiRequest.js';
    import store from 'store2';
    export default {
        name : 'verification',
        data() {
            return {
              email:store('email')
            };
        },
        created() {
            if (this.$route.query.token) {
                verification({token:this.$route.query.token}).then((data)=> {
                    if (data.data.code === 0) {
                        sessionStorage.setItem("dataToken", data.data.msg.token);
                        store('influencerUser', data.data.msg);
                        this.$router.push('/home/setting/po');
                    } else {
                        return Promise.reject(data.data.msg);
                    }
                }).catch((err)=>{
                    this.$message.error("" + err);
                    return;
                })
            }
        },
        methods: {
            onToSingUp() {
                this.$router.push('/addNewUser');
            },
            onLogin() {
                this.$router.push('/login');
            }
        }
    }
</script>

<style scoped>
    .text {
      box-shadow: 3px 2px 0px rgba(200,200,200,.5);
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      box-sizing: border-box;
      width: 1000px;
      height:300px;
      border: 1px solid #ccc;
      border-radius: 1px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      padding: 40px;
    }
    .text p{
      line-height:40px;
      font-size: 23px;
      font-weight: 500;
      font-family: '微软雅黑';
    }
    .content h2 {
      width:270px;
      text-align: center;
      font-size: 30px;
      color: #c1272d;
      position: absolute;
      left: 65%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    p>i,p>a{
      color:#c1272d;
    }
    p>a{
      margin-left: 10px;
      cursor:pointer;
    }
    a:hover{
      text-decoration:underline ;
    }
    i{
      font-style:normal;
    }
    .content{
      width:400px;
      height:100px;
      position:fixed;
      background:#fff;
      padding-left: 40px;
      left: 50%;
      top: -2%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
    }
    .content i{vertical:middle}
  .content span{
    display:block;
    width:40%;
    height:100px;
  }
  span img{
    width:67%;
  }
</style>
