<template>
  <div class="home">
    <div class="home-body">
        <div class="home-header">
            <div class="home-header-msg">
                <span>{{currentMenu}}</span>
                <div class="user-msg">
                    <el-dropdown trigger="click" @command="handleCommand">
                        <span class="el-dropdown-link">
                            <!--<h4>{{userName}}</h4>-->
                            <!--<i class="fa fa-sort-desc fa-fw" aria-hidden="true"></i>-->
                            <i class="icon-yonghu iconfont"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown" class="user-dropdown">
                            <el-dropdown-item command="LOGOUT" class="menu-list">LOGOUT</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <!--<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>-->
                </div>
            </div>
        </div>
<!--左侧边栏导航 shangzhipei-->

        <div class="home-left-menu">
            <div class="left-logo">
              <img src="../assets/slogo.jpg" alt="logo" style="height: 74px;">
            </div>
          <el-menu
            class="el-menu el-menu-demo"
            :default-openeds="['1','2','3','4']"
            @open="handleOpen"
            @close="handleClose"
            >
            <el-submenu index="1">
              <template slot="title">
                <i class="fa fa-address-book fa-fw" aria-hidden="true"  style="font-size:24px;color:#ccc;"></i>
                <span class="el-menu-item-group__title">CAMPAIGNS</span>
              </template>
              <el-menu-item-group :class="{'defalut-li': true}">
                <el-menu-item index="1-1" @click="handleCommand('ca_ca')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.ca_ca}">Campaigns</el-menu-item>
                <el-menu-item  index="1-2" @click="handleCommand('ca_my')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.ca_my}">My campaigns</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-submenu index="2">
              <template slot="title">
                <span>
                  <i class="fa fa-usd fa-fw" aria-hidden="true" style="font-size:24px;color:#ccc;"></i>
                  <span class="el-menu-item-group__title">WALLET</span>
                </span>
                <span class="el-menu-item-group__money" :class="{'pre-money':homeNum>1000000}">${{homeNum}}</span>
              </template>
              <el-menu-item-group :class="{'defalut-li': true}">
                <el-menu-item index="2-1" @click="handleCommand('wa_bi')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.wa_bi}">Bill Info</el-menu-item>
                <el-menu-item index="2-2" @click="handleCommand('wa_wi')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.wa_wi}">Withdraw</el-menu-item>
                <el-menu-item  index="2-3" @click="handleCommand('wa_hi')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.wa_hi}">History</el-menu-item>
              </el-menu-item-group>
            </el-submenu>

            <el-submenu index="3">
              <template slot="title">
                <i class="fa fa-cog fa-fw" aria-hidden="true"  style="font-size:24px;color:#ccc;"></i>
                <span class="el-menu-item-group__title">SETTINGS</span>
              </template>
              <el-menu-item-group :class="{'defalut-li': true}">
          <el-menu-item index="3-1" @click="handleCommand('se_pr')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.se_pr}">Profile</el-menu-item>
          <el-menu-item  index="3-2" @click="handleCommand('se_so')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.se_so}">Social Media</el-menu-item>
          <el-menu-item  index="3-3" @click="handleCommand('se_pa')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.se_pa}">Password</el-menu-item>
          </el-menu-item-group>
          </el-submenu>

          <el-submenu index="4">
            <template slot="title">
              <i class="fa fa-question-circle fa-fw" aria-hidden="true" style="font-size:24px;color:#ccc;"></i>
              <span class="el-menu-item-group__title">Support Center</span>
            </template>
            <el-menu-item-group :class="{'defalut-li': true}">
              <el-menu-item index="4-1" @click="handleCommand('su_st')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.su_st}">How to start</el-menu-item>
              <el-menu-item  index="4-2" @click="handleCommand('su_wo')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.su_wo}">How to work</el-menu-item>
              <el-menu-item  index="4-3" @click="handleCommand('su_qa')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.su_qa}">Q&A</el-menu-item>
              <el-menu-item  index="4-4" @click="handleCommand('su_qu')" class="el-menu-item" style="padding: 0px 85px;" :class="{'active': isactive.su_qu}">Questionnaire</el-menu-item>

            </el-menu-item-group>
          </el-submenu>
          </el-menu>

          <el-popover
            ref="popover2"
            placement="bottom"
            title=""
            width="200"
            trigger="click"
            content="If you meet any problem, please contact us by sending E-mail to: contact@star.store">
          </el-popover>

          <el-button v-popover:popover2  class="emailbutton"><img src="../assets/msg2.png" alt="" class='emmsg'></el-button>
        </div>
<!--body部分-->
        <div class="home-body-view">
            <transition name="fade" mode="out-in">
                <router-view class= "view" on:message="aaa"
                >
                </router-view>
            </transition>
        </div>
    </div>

  </div>
</template>

<script>
    import {getInfluWallet} from '../apiRequest.js';
    import Vue from 'vue';
    import store from 'store2';
    import config from '../config.js';
    import promot from '../assets/promotion-profile2.jpg';
    import promot1 from '../assets/promotion-profile1.jpg';
    import bouns from '../assets/promotion-bouns.jpg';
    import close from '../assets/close.png';
    import { Loading } from 'element-ui';
    export default {
        name: 'home',
        data() {
            return {
                homeNum:0,
                msg: 'Welcome',
                amount : '0',
                default: true,
                promot : promot1,
                promotionVisible : false,
                close : close,
                loading2:false,
                dialogPromot1Visible : true,
                demo:'CAMPAIGNS',
                isactive: {
                    ca: true,
                    my: false,
                    wa: false,
                    se: false,
                    fa: false
                },
                avatar: '',
                userName: '',
                userId:'',
                currentMenu: 'CAMPAIGNS',
                minHeight: {
                    height: window.innerHeight - 120 + 'px'
                }
            }
        },
        mounted() {
            let msg = store('influencerUser').user;
            if (msg.influencer_user_promotion_verification && !msg.influencer_user_promotion_profile) {
                this.promot = promot1;
                this.promotionVisible = true;
            }  else if (msg.influencer_user_promotion_complete1 === true) {
                this.promot = bouns;
                this.promotionVisible = true;
            } else if (msg.influencer_user_promotion_verification && msg.influencer_user_promotion_profile) {
                this.promot = promot;
                this.promotionVisible = true;
            } else if (!msg.influencer_user_promotion_verification && !msg.influencer_user_promotion_profile) {
                this.promot = bouns;
                this.promotionVisible = true;
            }
            let close = store('close');
            if (close.close1 == true) {
                this.promotionVisible = false;
            }
        },
        created() {
            let msg = store('influencerUser').user;
            let mmm = store('influencerPage');
            let id= msg.influencer_user_id;
            this.userName = msg.influencer_user_email;
            this.getMoney(id);
            if (msg.influencer_user_logo) {
                this.avatar = config.logURL +  msg.influencer_user_logo;
            } else {
                this.avatar = avatar;
            }
            this.$on('message', (msg) => {
            })
        },
        methods: {
            handleOpen(key, keyPath) {
              console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
              console.log(key, keyPath);
            },
            getMoney(id){
              getInfluWallet({
                influ_id: id
              }).then((data)=> {
                let msg = store('influencerUser').user;
                if (data.data.code === 0 && data.data.msg.length > 0) {
                  this.homeNum=((msg.influencer_wallet_amount+data.data.msg[0].influencer_freez_amount)/1000).toFixed(2);
                }
              })
            },
            chooseToLoad(val){
               var name='ca_'+val;
              this.changeSelectItem(name);
            },
            clickPromotion() {
                if (this.promot === bouns) {
                    this.$router.push('/home/promotion');
                }
            },
            closePromotion() {
                this.promotionVisible = false;
                store('close', {close1 : true});
            },
            aaa(msg) {
                this.user = msg;
            },
            changePromotion() {
                let msg = store('influencerUser').user;
                if (msg.influencer_user_promotion_verification && !msg.influencer_user_promotion_profile) {
                    this.promot = promot1;
                    this.promotionVisible = true;
                }  else if (msg.influencer_user_promotion_complete1 === true) {
                    this.promot = bouns;
                    this.promotionVisible = true;
                } else if (msg.influencer_user_promotion_verification && msg.influencer_user_promotion_profile) {
                    this.promot = promot;
                    this.promotionVisible = true;
                } else if (!msg.influencer_user_promotion_verification && !msg.influencer_user_promotion_profile) {
                    this.promot = bouns;
                    this.promotionVisible = true;
                }
                let close = store('close');
                if (close.close1 == true) {
                    this.promotionVisible = false;
                }
            },
            changeSelectItem(name) {
                for (let i in this.isactive) {
                    if (this.isactive[i]) {
                        this.isactive[i] = false;
                    }
                }
                this.isactive[name] = true;
                this.currentMenu =
                  name === 'ca_ca' ? 'CAMPAIGNS'
                    : name === 'ca_my' ? 'MY CAMPAIGNS'
                    : name === 'wa_wi' ? 'WITHDRAW'
                    : name === 'wa_hi'? 'HISTORY'
                    : name === 'wa_bi' ? 'Bill Info'
                    : name === 'se_pr' ? 'PROFILE'
                    : name === 'se_so'?'SOCIAL MEDIA'
                    : name === 'se_pa'? 'PASSWORD'
                    : name === 'su_st' ? 'HOW TO START'
                    : name === 'su_wo' ? 'HOW TO WORK'
                    : name === 'su_qa' ? 'Q&A'
                    : name === 'cad' ? 'DETAILS'
                    : name === 'su_qu' ? 'QUESTIONNAIRE'
                    : name === 'promotion' ? 'Bonus Activity'
                    : '';
            },
            handleCommand(command) {
                this.changeSelectItem(command);
                let msg = store('influencerUser').user;
                let mmm = store('influencerPage');
                this.userName = msg.influencer_user_email;
                if (command === 'LOGOUT') {
                  sessionStorage.removeItem('dataToken');
                  localStorage.removeItem('influencerUser');
                  localStorage.removeItem('close');
                  let arr=document.cookie.split(';');
                  arr.forEach((c,i)=>{
                    document.cookie=c+";max-Age=-1";
                  })
                  this.$router.push('/auth');
                } else {
                    if (!msg.influencer_user_page && !mmm) {
                      this.$message('Page name is required');
                      this.$router.push('/home/setting/pr');
                    } else {
                        if (command === 'ca_ca') {
                          this.$router.push('/home/campaignList/ca');
                        }else if(command === 'ca_my'){
                          this.$router.push('/home/campaignList/my');
                        } else if (command === 'wa_wi') {
                          this.$router.push('/home/wallet/wi');
                        } else if (command === 'wa_hi') {
                          this.$router.push('/home/wallet/hi');
                        }else if(command === 'wa_bi'){
                          this.$router.push('/home/wallet/bi');
                        }else if (command === 'se_pr') {
                          this.$router.push('/home/setting/pr');
                        }else if (command === 'se_so') {
                          this.$router.push('/home/setting/so');
                        }else if (command === 'se_pa') {
                          this.$router.push('/home/setting/pa');
                        } else if (command === 'su_st') {
                          this.$router.push('/home/supportCenter/st');
                        } else if (command === 'su_wo') {
                          this.$router.push('/home/supportCenter/wo');
                        } else if (command === 'su_qa') {
                          this.$router.push('/home/supportCenter/qa');
                        } else if (command === 'su_qu') {
                          this.$router.push('/home/qsearch');
                        }else if (command === 'promotion') {
                          this.$router.push('/home/promotion');
                        } else {
                          this.$router.push('/home/myCampaign/ca');
                        }
                    }
                }
            },
    },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .emailbutton{
      margin-left:85px; margin-top:15px; color: #c1272d;
      background:#333;
      border:none;
    }
    p:hover{color: tomato;}
    .pre-money{
      position: absolute;
      top: 56%;
      left: 50%;
    }
    .home {
        position: relative;
        background:#e2e3e5;
    }
    .iconfont{
      font-size:30px;
    }
    .home-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 230px;
        z-index: 10;
        height: 74px;
        box-sizing: border-box;
        padding: 0 0 0 40px;
        line-height: 74px;
        background:#333;
    }
    .home-left-menu {
        background:#333;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 230px;
        z-index: 200;
        box-sizing: border-box;
        overflow:auto
    }
  .home-left-menu::-webkit-scrollbar{
    display: none;
  }
    .left-logo{
      display:flex;
      justify-content: center;
    }
    .home-left-menu>ul {
        list-style: none;
        margin: 0;
      background-color: #333;
      color:#97a8be;
    }

    .defalut-li {
      background:#333;
        margin-top:30px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
    }
   .defalut-li:first-child{
     margin:0;
   }
    .active {
        background-color: #525a66;
        border-left-color: #c1272d;
    }
    .emmsg{
      width: 50px;
      margin-top: 10%;
    }
    .el-menu-item-group{
      word-wrap: break-word;
    }
    .el-menu-item-group__title{
      padding-top:0;
      font-size: 16px;
      line-height:30px;
      color:#ccc;
      font-weight: bold;
    }
    .defalut-li .el-menu-item-group__title{
      padding-left:0;
    }
    .el-menu-item-group__money {
        color: #c1272d;
        margin-left:5px;
        line-height:30px;
    }

    .home-left-menu>ul>li>i {
        /*color: #20A0FF;*/
        color: #ccc;
        font-size: 24px;
    }

    .home-body-view {
      box-sizing: border-box;
      padding-left: 230px;
      overflow: auto;
      height: 100%;
      padding-top: 70px;
    }

    .home-header-msg {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        box-sizing: border-box;
    }

    .home-header-msg>span {
        font-size: 16px;
        font-weight:bold;
        color:#ccc;
    }

    .home-header-msg>img {
        display: inline-block;
        vertical-align: middle;
    }

    .home-header-msg i {
        vertical-align: middle;
        padding: 10px 5px;
        cursor: pointer;
    }

    .user-msg {
        position: absolute;
        top: 0;
        right: 40px;
    }

    h4 {
        display: inline;
        vertical-align: middle;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
    }

    .home-header-menu {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }

    .home-header-menu i {
        color: #fff;
        font-size: 30px;
        margin-left: 40px;
        cursor: pointer;
        vertical-align: middle;
    }

    .home-header-menu>span {
        color: #fff;
        font-size: 18px;
        padding-left: 60px;
        font-weight: 500;
    }

    .user-dropdown {
        padding: 15px;
        border-radius: 5px;
    }

    .dropdown-box {
        width: 200px;
        border-radius: 5px;
    }
    .home-body {
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
    }

    .el-menu-item{
      /*color:#97a8be;97a8b*/
      color:#ccc;
      height:auto;
      line-height: 20px;
    }

    .el-menu-item:hover{
      background-color: #525a66;
      border-left-color: #c1272d;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all .2s ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }

.wx {
    width: 400px;
    height: 300px;
}

.wx1 {
    width: 400px;
    height: 300px;
    border: 1px solid saddlebrown;
    position: fixed; right: 5px; bottom: 5px;
}

.wx2 {
    width: 25px;
    height: 25px;
    position: fixed; right: 5px; bottom: 285px;
}

</style>
