<template>
  <div class="take-campaign-details">
    <el-row>
      <div class="campaign-list-card">
        <div class="campaign-list-card-right">
          <p><span style="color:#ccc;">{{detailsObj.date}}</span></p>
          <el-button type="primary" @click="takeCampaign" style="width:90px;height:30px;line-height:0px;">TAKE</el-button>
          <P style="line-height: 44px;height: 28px;"><span>{{detailsObj.amountType}}</span><span style="font-size:20px;font-weight:bold;"> {{detailsObj.amount}}</span> </P>
        </div>
        <div class="campaign-list-card-left">
          <el-row>
            <img :src="detailsObj.logo" alt="logo">
            <div class="campaign-list-card-left-logo">
              <h2>{{detailsObj.type + ' ' + detailsObj.type1}}-{{detailsObj.name}}</h2>
              <p>
                <span class="country">
                  <i>Countries:</i>
                 <el-tag type="danger" style="margin-right:5px" v-for="c in tableData2" v-if="c.country!='Default'" :key="c">{{c.country}}</el-tag>
                </span>
              </p>
              <p>
                <span class="social">
                  <i>Social Media:</i>
                  <el-tag v-for="c in detailsObj.platform" :key="c.platform" style="padding:0">
                    <img :src="changeImg(c)" alt="" class="mini-img">
                  </el-tag>
                </span>
                <span class="device">
                  <i>Device:</i>
                  <el-tag  style="padding:0;background:rgba(255,255,255,0);" v-for="c in detailsObj.device" :key="c">
                    <img :src="changeImg(c)" alt="" class="mini-img">
                  </el-tag>
                </span>
              </p>

            </div>
          </el-row>
        </div>
      </div>
    </el-row>
    <el-row>
      <div class="campaign-list-card">
        <div class='campaign-list-card-left-content'>
          <p><span>Preview URL:</span> <span style="color:#c1272d">{{detailsObj.url}}</span></p>
          <p><span>Materials:</span> <span>If you don't know how to promote this campaign, we give you example picture or video, you can use it  or imitate it. Here are the <a
            @click="downloadMsg"><i class="material">materials</i></a>. You can click it to download.</span></p>
          <p><span>Description:</span> <span>{{detailsObj.desc}}</span></p>
          <p><span>KPI:</span> <span>{{detailsObj.kpi}}</span></p>
          <p><span>PICTURE:</span>
            <span>
              <img src="../../assets/img1.jpg" alt="">
              <img src="../../assets/img2.jpg" alt="">
              <img src="../../assets/img3.jpg" alt="">
            </span>
          </p>
          <p><span>VIDEO:</span>
            <span>
              <img src="../../assets/video.jpg" alt="" style="width:200px;">
            </span>
          </p>
        </div>
      </div>
    </el-row>
  </div>
</template>

<script>
    import echarts from 'echarts';
    import {
        getTakeCampaign,
        getMyTakeCampaign,
        createInfluencerPost,
        getCkHourly,
        getPbHourly,
        getacssIdByInfluId,
        getInfluWallet,
        getPackageMsg,
        cpdetail,
        takecp,
    } from '../../apiRequest.js';
    import base from '../../config.js';
    import store from 'store2';
    import moment from 'moment';
    export default {
        name: 'details',
        data() {
            let end = new Date();
            let start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
        return {
            brandCurrent: {
              pics: [],
              desc: '',
              isVideo: '',
              video: ''
            },
            moreForm: {
              abname: ''
            },
            baseUrl: base.logURL,
            dialogVisible5: false,
            msg: {},
            tableData: [],
            tableData2: [],
          //postUrl表格信息-tableData3
            tableData3: [],
            dateValue: [start,end],
            loading: false,
            detailsObj: {
            },
            value: '',
            form: {
                start: '',
                end: ''
            },
            dialogFormVisible: false,
            step: {
                one: true,
                two: false,
                three: false
            },
            platformName: '',
            feedUrl: {
                mu: '',
                yo: '',
                in: '',
                tw: '',
                li: '',
                fa: ''
            },
            post: {
                mu: false,
                yo: false,
                in: false,
                tw: false,
                li: false,
                fa: false
            },
            show: {
              mu: false,
              yo: false,
              in: false,
              tw: false,
              li: false,
              fa: false
            },
            feeds: [],
            campaignid: '',
            userPag: '',
            influencerId: '',
            postList: [],
            userPage: '',
            baseUrls: base.logURL,
            wallet: '',
            userId:'',
            currentState: this.$route.params.state
            }
        },
        created() {
            window.scrollTo(0,0);
//            this.refresh(this.$route.params.id);
            this.currentState = this.$route.params.state;
            let userMsg = store('influencerUser');
            this.userId = userMsg.user.influencer_user_id;
            let page = store('influencerPage') || userMsg.user.influencer_user_page;
            this.userPage = page;
            this.$parent.$emit('message', 'cad');
            this.onShowMsgList(false);
            this.getMoneys();
            this.refresh(this.$route.params.id);
        },
        methods: {
            changeImg(type){
              switch(type.toLowerCase()){
                case 'youtube':return require('../../assets/mu.png');break;
                case 'facebook':return require('../../assets/tw.png');break;
                case 'twitter':return require('../../assets/in.png');break;
                case 'google+':return require('../../assets/gg.jpg');break;
                case 'instagram':return require('../../assets/ins.png');break;
                case 'musical.ly':return require('../../assets/li.png');break;
                case 'live.ly':return require('../../assets/yo.png');break;
                case 'twitch':return require('../../assets/twitch.jpg');break;
                case 'tumblr':return require('../../assets/tum.jpg');break;
                case 'snapchat':return require('../../assets/snap.jpg');break;
                case 'ios':return require('../../assets/ios.jpg');break;
                case 'android':return require('../../assets/and.png');break;
                case 'pc':return require('../../assets/pc.png');break;
                default:break;
              }
            },
            takeCampaign() {
            this.$confirm('Are you sure to take the campaign?', 'Tips',{
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
            }).then(() => {
              takecp({
                influ_id:this.userId,
                op_campaign_id:this.$route.params.id
              }).then((data)=>{
                if(data.data.code===0){
                  this.$message({
                    type: 'success',
                    message: 'success!'
                  });
                  this.$router.push('/home/myCampaignDetails/' + this.$route.params.id + '/' + this.$route.params.state);
                }else{
                  this.$notify.error({
                    title: 'error',
                    message: data.data.msg
                  });
                }
              })
            })
          },
            refresh(id) {
              cpdetail({
                campaign_id: id
              }).then((data) => {
                if (data.data.data) {
                  let msg = data.data.data;
                  let price=msg.influ_country_price;
                  let resultprice;
                  let tbobj=[];
                  let priceList=[];
                  if(typeof(price)==='number'){
                      resultprice="$"+(price/1000).toFixed(2);
                  }else{
                    for(let i in price){
                      tbobj.push({
                        country:i,
                        ios:price[i].ios_price?(price[i].ios_price/1000).toFixed(2):'-',
                        android:price[i].android_price?(price[i].android_price/1000).toFixed(2):'-',
                        pc:price[i].pc_price?(price[i].pc_price/1000).toFixed(2):'-',
                      });
                    }
//              price区间
                    tbobj.forEach((c,i)=>{
                      priceList.push(c.ios,c.android,c.pc);
                    })
                    priceList=priceList.filter(function(n){ return n!='-'});
                    priceList.sort(function(a,b){return a-b});
                  }

                  this.detailsObj.name = msg.operation_campaign_name;
                  this.moreForm.abname = msg.abname;
                  this.detailsObj.id = msg.operation_campaign_id;
                  this.detailsObj.state = msg.operation_campaign_state;
                  this.detailsObj.logo = msg.operation_campaign_logo ? base.logURL + msg.operation_campaign_logo : base.logURL + base.defaultImg;
                  this.detailsObj.type = msg.operation_campaign_type.toUpperCase();
                  this.detailsObj.type1 = msg.operation_campaign_subtype?msg.operation_campaign_subtype:'';
                  this.detailsObj.isLogo = msg.operation_campaign_logo;
                  this.detailsObj.desc = msg.operation_campaign_desc;
                  this.detailsObj.kpi = msg.operation_campaign_kpi;
                  this.detailsObj.isVideo = msg.operation_campaign_video;
                  this.detailsObj.video = base.logURL + msg.operation_campaign_video;
                  this.detailsObj.assocId = msg.influencer_campaign_assoc_id;
                  this.detailsObj.amountType = this.checkPriceType(msg.price_type);
                  this.detailsObj.platform = msg.operation_campaign_platform?msg.operation_campaign_platform.split(','):'';
                  this.detailsObj.device = msg.operation_campaign_devices?msg.operation_campaign_devices.split(','):'';
                  this.detailsObj.url = msg.operation_campaign_brurl?msg.operation_campaign_brurl:'';
                  if(priceList.length>=2){
                    if(priceList[0]!=priceList[priceList.length-1]){
                      priceList[0]=(priceList[0]==0?10:priceList[0]);
                      resultprice=this.detailsObj.amountType==="CPS"?priceList[0]*100+"% - "+priceList[priceList.length-1]*100+"%":"$"+priceList[0]+"- $"+priceList[priceList.length-1];
                    }else{
                      resultprice=this.detailsObj.amountType==="CPS"?priceList[priceList.length-1]*100+"%":"$"+priceList[priceList.length-1];
                    }
                  }
                  if(msg.price_type==2){
                      resultprice="$"+(msg.influ_country_price/1000).toFixed(2);
                  }
                  this.detailsObj.amount = resultprice;
                  this.detailsObj.date = msg.operation_campaign_createat.slice(0,10);
                  if(msg.operation_campaign_pics){
                    this.detailsObj.pics = msg.operation_campaign_pics;
                  }
                  this.brandCurrent.pics = msg.operation_campaign_pics ? msg.operation_campaign_pics:'';
                  this.brandCurrent.desc = msg.operation_campaign_desc;
                  this.brandCurrent.isVideo = msg.operation_campaign_video;
                  this.brandCurrent.video = base.logURL + msg.operation_campaign_video;
                  this.brandCurrent.id = msg.brand_campaign_id;
                  let region=[];
                  msg.operation_campaign_region.split(',').forEach((c,i)=>{
                    region.push({
                       country:c
                    })
                  });
                  this.tableData2=tbobj.length>0?tbobj.reverse():region;
                }
              })
          },
            checkPriceType(type){
                switch(type){
                  case 0:return 'CPC';break;
                  case 1:return 'CPA';break;
                  case 2:return 'Package';break;
                  case 3: return 'CPI';break;
                  case 4: return 'CPS';break;
                  case 5: return 'CPM';break;
                  default:break;
                }
            },
            downloadMsg(){
                getPackageMsg({
                    op_campaignid: this.$router.params.id
                }).then((data)=>{
                    if(data.data.code === 0){
                        location.href=base.logURL + data.data.msg;
                    }
                }).catch((res) => {
                    this.$message.error(res);
                });
            },
            makePostUrlnum(t) {
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
                let num = t === 'fa' ? 0 : t === 'in' ? 1 : t === 'tw' ? 2 : t === 'mu' ? 3 : t === 'li' ? 4 : 5;
                return num;
            },
            postUrl(row){
                this.myCampaign = row;
                getMyTakeCampaign({
                    influencer_campaign_assoc_id: row.id
                }).then((data) => {
                    if (data.data.code === 0 && data.data.msg.length > 0) {
                        let msg = data.data.msg[0];
                        if(msg.operation_campaign_state === 3 && msg.link_default === 1){
                           this.dialogFormVisible = true;
                        }else{
                            this.getMyCampaignList(this.userId);
                        }
                    }
                });
            },
            getMoneys(){
                getInfluWallet({
                    influ_id: this.userId
                }).then((data)=>{
                    this.wallet = 0;
                    if(data.data.code === 0 && data.data.msg.length>0){
                        this.wallet = data.data.msg[0].influencer_wallet_amount / 1000;
                    }
                })
            },
            changeDate(value) {
                this.value = '0';
            },
            onShowMsgList(one) {
                this.loading = true;
                let start = moment(this.dateValue[0]).format('YYYY-MM-DD');
                let pend = moment(this.dateValue[1]);
                let end = moment(this.dateValue[1]).format('YYYY-MM-DD');
                if (start === end) {
                    this.$notify.warning({
                        title: '',
                        message: "The start date and end date cann't be the same."
                    });
                    this.dateValue[0] = '';
                    this.dateValue[1] = '';
                    this.loading = false;
                    return;
                    // end = pend.add(1, 'days').format('YYYY-MM-DD');
                }
                let s = moment(this.dateValue[0]);
                let e = moment(this.dateValue[1]).format('YYYY-MM-DD');
                let xarr = [start];
                while (true) {
                    let ss = s.add(1, 'days').format('YYYY-MM-DD');
                    xarr.push(ss);
                    if (ss === e) {
                        break;
                    }
                }
                let obj = {
                    id: this.$route.params.id,
                    startdate: start + ' 00:00:00',
                    enddate: end + ' 23:59:59'
                };
                getCkHourly(obj).then((data) => {
                    let newArr = [{
                        date: start + '-' + end,
                        cicount: 0,
                        cacount: 0,
                        cpcount: 0,
                        picount: 0,
                        pacount: 0,
                        ppcount: 0,
                        check: '',
                        subData: ''
                    }];
                    xarr.forEach((u, i) => {
                        let num = 0;
                        let iosnum = 0;
                        let andnum = 0;
                        let pcnum = 0;
                        let subArr = [];
                        if(data.data.length>0){
                            data.data.forEach((d, i) => {
                                let dd = d.date.slice(0, 10);
                                if (dd === u) {
                                    if (d.os === 'ios') {
                                        iosnum += d.count;
                                    } else if (d.os === 'android') {
                                        andnum += d.count;
                                    } else if (d.os === 'pc') {
                                        pcnum += d.count;
                                    };
                                    subArr.push(d);
                                }
                            });
                        }
                        newArr.push({
                            date: u,
                            cicount: iosnum,
                            cacount: andnum,
                            cpcount: pcnum,
                            picount: 0,
                            pacount: 0,
                            ppcount: 0,
                            check: '',
                            subData: subArr
                        });
                    });
                    getPbHourly(obj).then((data) => {
                        let pit = 0;
                        let pat = 0;
                        let ppt = 0;
                        let cit = 0;
                        let cat = 0;
                        let cpt = 0;
                        newArr.forEach((n, i) => {
                            let pinum = 0;
                            let panum = 0;
                            let ppnum = 0;
                            if (data.data.length > 0) {
                                data.data.forEach((d, i) => {
                                    let t = d.date.slice(0, 10);
                                    if (n.date === t) {
                                        if (d.os === 'ios') {
                                            pinum += d.count;
                                        } else if (d.os === 'android') {
                                            panum += d.count;
                                        } else if (d.os === 'pc') {
                                            ppnum += d.count;
                                        };
                                    }
                                })
                            }
                            n.picount = pinum;
                            n.pacount = panum;
                            n.ppcount = ppnum;
                            pit += n.picount;
                            pat += n.pacount;
                            ppt += n.ppcount;
                            cit += n.cicount;
                            cat += n.cacount;
                            cpt += n.cpcount;
                        });
                        let ii = (pit / cit * 100).toFixed('2');
                        let aa = (pat / cat * 100).toFixed('2');
                        let pp = (ppt / cpt * 100).toFixed('2');
                        newArr[0].picount = pit + ' (' + (isNaN(ii) ? '0' : ii) + '%)';
                        newArr[0].pacount = pat + ' (' + (isNaN(aa) ? '0' : aa) + '%)';
                        newArr[0].ppcount = ppt + ' (' + (isNaN(pp) ? '0' : pp) + '%)';
                        newArr[0].cicount = cit;
                        newArr[0].cacount = cat;
                        newArr[0].cpcount = cpt;
                        if(pit || pat || ppt || cit || cat || cpt){
                            this.tableData = newArr;
                        }
                        if(one){
                            this.tableData = newArr;
                        }
                        this.loading = false;
                    }).catch((response) => {
                        this.loading = false;
                    })
                }).catch((response) => {
                    this.loading = false;
                })
            },
            selectPlatform(type) {
                if(this.post[type]){
                    this.post[type] = false;
                }else{
                    this.post[type] = true;
                }
            },
            changeClick(type) {
                for (let i in this.post) {
                    if (this.post[i]) {
                        this.post[i] = false;
                    }
                }
                this.post[type] = true;
                this.platformName = type === 'yo' ? 'YouTube' : type === 'li' ? 'Live.ly' : type === 'tw' ? 'Twitter' : type === 'in' ? 'Instagram' : type === 'fa' ? 'Facebook' : type === 'mu' ? 'Musical.ly' : '';
            },
            makePostUrl(t) {
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
                let num = t === 'Facebook' ? 0 : t === 'Instagram' ? 1 : t === 'Twitter' ? 2 : t === 'Musical.ly' ? 3 : t === 'Live.ly' ? 4 : 5;
                this.feeds.push({
                    platform: num,
                    feed: this.feedUrl
                });
            },
        }
    }
</script>

<style scoped>
  .material{
    color:#c1272d;
    cursor:pointer;
  }
  .material:hover{
    text-decoration: underline #c1272d;
  }
  .promotion{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:20px;
    width:100%;
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    height: 50px;
    line-height: 50px;
  }
  .nomargin .el-form-item:nth-child(odd){
    background:#f5f7fa;
  }
  .nomargin .el-form-item:nth-child(even){
    background:#fff;
  }
  .promotion .link-left,.promotion .link-right{
    width:50%;
    box-sizing: border-box;
  }
  i{
    font-style: normal;
  }
  .data h1{
    font-size:20px;
    margin:20px 0;
  }
  .search-list{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    justify-content: space-between;
    margin: 20px 0;
  }
  .clicks span{
    font-size:40px;
    font-weight:bold;
  }
  .clicks span i {
    font-size:20px;
  }
  .clicks{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    justify-content: space-between;
    padding:0;
  }
  .clicks li{
    width: 32%;
    height: 150px;
    background:#f5f7fa;
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
  }
  .clicks li:nth-child(2){
    background:#f9ced0;
  }
  .campaign-details {
    margin: 0 auto;
    padding: 10px 20px;
  }
  .dialog{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #fff;
    background: #c1272d;
    box-sizing: border-box;
    position: relative;
  }
  .dialog .close{
    position:absolute;
    right:10px;
    top:0px;
  }
  .dialog .close i{
    font-size:16px;
  }
  .dialog span{
    display: block;
    text-align: center;
    line-height: 50px;
  }
  .dialog span i{
    font-size:35px;
    color:#fff;
  }
  .dialog hgroup{
    margin-left:20px;
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: column;
    justify-content: center;
  }
  .dialog h1{
    font-size:18px;
  }
  .take-campaign-details p.amount-box{
    font-size: 14px;
    padding: 0;
    font-family: "微软雅黑";
    margin-bottom: 20px;
  }
  .campaign-list-card-left-content p{
    margin-bottom:5px;
    overflow: hidden;
    min-width:620px;
    word-break:break-all;
  }
  .campaign-list-card-left-content p span{
    float:left;
    font-size: 14px;
    line-height:25px;
  }
  .campaign-list-card-left-content img{
    width:100%;
    display: block;
    margin-bottom: 3px;
  }
  .campaign-list-card-left-content p span:nth-child(1){
    font-weight: bold;
    width:110px;
  }
  .campaign-list-card-left-content p span:nth-child(2){
    margin-left:10px;
    width:80%;
  }
  .social{
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
    margin-right:10px;
  }
  .social i{
    min-width:90px;
    margin-right:10px;
  }
  .country,.device{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .device i,.country i{
    display: block;
  }
  .country{
    width:100%;
    /*margin-left:10%;*/
  }
  .device{
    width:180px;
  }
  .device i{
    width:60px;
  }
  .country i{
    width:80px;
    margin-right:20px;
  }
  .subcountry{
    display: -webkit-flex;
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-wrap:wrap;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1;
    flex: 1;
    /* for uc */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
  }
  .back-list-btn {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .take-campaign-details {
    position: relative;
    margin: 15px;
  }
  .grid-content>h1 {
    font-size: 28px;
  }

  .take-campaign-details .grid-content>p {
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
    margin: 5px 0px;
  }

  .download {
    position: absolute;
    left: 10px;
    top: 0;
  }

  .take-campaign-details-logo {
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
  }

  .take-campaign-details-logo>img {
    border-radius: 10px;
    overflow: hidden;
  }
  .campaign-list-card-left .el-row img{
    float:left;
    width:80px;
    height:80px;
  }
  .take-campaign-details-msg{
    margin-top: 20px;
  }
  .take-campaign-details-msg>p{
    /*margin-top: 20px;*/
    line-height: 30px;
  }
  .take-campaign-details h1 {
    /*text-shadow: 2px 2px 5px #666;*/
    padding-left: 20px;
    font-size: 26px;
  }

  .take-campaign-details h4 {
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: normal;
  }
  .take-campaign-details h4>span {
    font-weight: bold;
  }
  .take-campaign-details p {
    font-size: 22px;
    color: #666;
  }
  .take-btn {
    width: 50%;
  }

  #main-chart1 {
    height: 300px;
    width: 100%;
  }

  .campaings-card-item-second {
    padding-top: 20px;
    text-align: center;
    padding-left: 20px;
  }

  .campaings-card-item-second div {
    text-align: left;
    font-size: 22px;
  }

  .campaings-card-item-second div {
    font-size: 14px;
    color: #999;
  }

  .campaings-card-item-second h2 {
    font-weight: normal;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 18px;
    color: #333;
  }

  .dialog-step-one {
    text-align: center;
    padding-bottom: 30px;
  }

  .dialog-step-one>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-one>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .dialog-step-one-li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
  }

  .dialog-step-one>ul>li>img {
    width: 60px;
    display: block;
    margin-bottom: 10px;
  }

  .active {
    color: #c1272d;
  }

  .activeli {
    border-color: #c1272d;
  }

  .dialog-step-two>h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .dialog-step-two-btn {
    text-align: center;
    margin: 20px 0;
  }

  .dialog-step-two>p {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #c1272d;
    color: #fff;
  }

  .dialog-step-two-left {
    padding: 14px;
  }

  .dialog-step-two-right {
    padding: 14px;
  }

  .dialog-step-three {
    text-align: center;
  }

  .dialog-step-three>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-three-btn {
    text-align: center;
    margin: 20px 0 30px;
  }

  .platform-list {
    padding: 0 0 20px;
  }

  .platform-list h4 {
    font-weight: normal;
    text-align: left;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .platform-list h4>span {
    float: left;
    width: 90px;
    text-align: right;
  }
  .platform-list h4>a {
    padding-left: 10px;
    display: block;
    margin-left: 90px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .platform-list p {
    /*padding: 0;*/
    font-size: 16px;
    word-wrap: break-word;
    word-break: normal;
  }
  .dialog-step-two>h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .dialog-step-two-btn {
    text-align: center;
    margin: 20px 0;
  }

  .dialog-step-two>p {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #c1272d;
    color: #fff;
  }

  .dialog-step-two-left {
    padding: 14px;
  }

  .dialog-step-two-right {
    padding: 14px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    width: 100%;
  }
  .dialog-step-two-right-desc{
    padding: 14px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .dialog-step-one {
    text-align: center;
    padding-bottom: 30px;
  }

  .dialog-step-one>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-one>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .dialog-step-one-li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
  }

  .dialog-step-one>ul>li>img {
    width: 60px;
    display: block;
    margin-bottom: 10px;
  }
  .active {
    color: #c1272d;
  }

  .activeli {
    border-color: #c1272d;
  }
  .post-ruls{
    width: 606px;
    margin: 0 auto;
  }
  .post-ruls>h2{
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .post-ruls {
    width: 606px;
    margin: 0 auto;
  }

  .post-ruls>h2 {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .post-ruls img {
    display: inline-block;
    height: 36px;
    vertical-align: top;
  }

  .post-ruls>div {
    margin: 20px;
  }
  .post-input{
    display: inline-block;
    width: 80%;
    margin-left: 20px;
  }
  .btn-groups{
    margin: 20px 0;
    text-align: center;
  }
  .dialogfooter{
    text-align: center;
  }
  .take-more-dialog1{
    padding: 10px;
  }
  .take-more-dialog1>h3{
    padding: 10px;
    text-align: center;
  }
  .take-more-dialog1>span{
    padding: 10px;
  }
  .campaign-list-card {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    margin-bottom:10px;
  }
  .campaign-list-card-left{
    margin-right: 150px;
  }
  .campaign-list-card-left-logo{
    padding-top: 15px;
  }
  .campaign-list-card-left-logo>img{
    width: 96px;
    height: 96px;
    border-radius: 8px;
    float: left;
  }
  .campaign-list-card-left-logo>h2{
    font-size:18px;
    color: #c1272d;
    margin-left: 120px;
    line-height: 25px;
  }
  .campaign-list-card-left-logo>p{
    margin-left: 120px;
    line-height: 30px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .campaign-list-card-left-desc{
    margin: 20px 20px 0 0;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 74px;
    overflow: hidden;
    font-size: 14px;
    line-height: 25px;
  }
  .campaign-list-card-right{
    margin-right:10px;
    width: 200px;
    float: right;
    text-align: right;
  }
  .campaign-list-card-right>p{
    padding: 0;
    margin-bottom:5px;
  }
  .campaign-list-card-right p span{
    font-size: 14px;
    color: #c1272d;
  }
  .dialog-step-two-right-pop{
    display: inline-block;
    font-size: 12px;
    color: #c1272d;
    border: 1px solid #c1272d;
    padding: 10px;
    position: relative;
    /*margin-left: 120px;*/
  }
  .dialog-step-two-right-pop>div{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -11px;
    left: 200px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #c1272d;
  }
  ul,li{
    list-style:none;
  }
  .nomargin .el-form-item{
    margin-bottom:0px;
    padding:10px 0;
  }
  .link-right{
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .campaign-list-card-left .el-row .mini-img{
    width:20px;
    height:20px;
    border-radius:5px;
  }
</style>
