<template>
	<div class="campaign-list">
		<el-tabs v-model="activeName" @tab-click="handleClick">
			<el-tab-pane label="Campaigns" name="first">
				<el-row class="campaign-list-first">
					<img v-cloak v-if="isShowForImag" src="../../assets/no-ca1.png" alt="" style="padding:20px">
					<div class="campaign-list-card" v-for="o in list" :key="'list'+o.brand_campaign_id" @click="checkDetail(o)">
            <div class="level">
              <img src="../../assets/xz.png" alt="" v-cloak v-if="!o.mode">
            </div>
						<div class="campaign-list-card-right">
							<P> <span style="color:#ccc;">{{o.date}}</span> </P>
              <el-button type="primary" @click.stop="takeCampaign(o)" style="width:90px;height:30px;line-height:0px;">TAKE</el-button>
							<P style="line-height: 44px;height: 28px;"> <span style="color:#c1272d">{{o.cpc}}</span><span style="color:#c1272d;font-size:20px;font-weight:bold;"> {{o.price}}</span></P>
						</div>
						<div class="campaign-list-card-left">
							<el-row>
								<div class="campaign-my-list-card-row1-left">
									<img :src="o.logo" alt="logo">
									<h2>{{o.type + ' ' + o.type1}}-{{o.name}}</h2>
                  <p>
                    <span class="country">
                    <i>Countries:</i>
                      <span class="subcountry">
                         <el-tag type="danger" style="margin-right:5px" v-for="c in o.country1" :key="c">{{c}}</el-tag>
                      </span>
										</span>
                  </p>
								</div>
                <div class="campaign-my-list-card-row2">
                  <p>
                    <span class="social">
                    <i>Social Media:</i>
                    <el-tag v-for="c in o.platform" :key="c.platform">
                      <img :src="changeImg(c)" alt="" class="mini-img">
                    </el-tag>
                    </span>
                    <span class="device">
                    <i>Device:</i>
                    <el-tag  style="padding:0;background:rgba(255,255,255,0);" v-for="c in o.device" :key="c" >
                      <img :src="changeImg(c)" alt="" class="mini_img" :class="{'ios_img':isIosImg}">
                    </el-tag>
                    </span>
                  </p>
                </div>
							</el-row>

						</div>
					</div>
				</el-row>
			</el-tab-pane>
    <!--my campaign-->
			<el-tab-pane label="My campaigns" name="second">
				<el-row  class="campaign-list-second">
					<img v-cloak v-if="isShowImag" src="../../assets/no-ca1.png" alt="">
					<div v-for="o in myList" class="campaign-my-list-card" :key="'my'+o" @click="checkMyDetail(o)">
            <div class="level">
              <img src="../../assets/xz.png" alt="" v-cloak v-if="!o.mode">
            </div>
            <div class="campaign-list-card-right">
              <P>
                <span style="color:#ccc;">
										{{o.type === 1 ? 'Started' : 'Ended'}}
                </span>
              </P>
              <!--<el-button v-cloak v-if="o.type*1 === 1" type="primary" @click.stop="postUrl(o)" style="width:120px;height:30px;line-height:0px;">POST LINK</el-button>-->
              <p style="line-height: 44px;height: 28px;"><span class="first">{{o.cpc}}</span><span class="last"> {{o.price}}</span></p>
            </div>
						<div class="campaign-my-list-item">
							<div class="campaign-my-list-card-row1">
                <img :src="o.url" alt="logo">
								<div class="campaign-my-list-card-row1-left">
									<h2>{{o.type1 + ' ' + o.type2}}-{{o.name}}</h2>
									<p>
                    <span class="country">
                    <i>Countries:</i>
                      <span class="subcountry">
                         <el-tag type="danger" style="margin-right:5px" v-for="c in o.country1" :key="c">{{c}}</el-tag>
                      </span>
										</span>
									</p>
									<!--<p>Description: {{o.desc}}</p>-->
									<!--<p>{{o.name}}{{o.name}}</p>-->
								</div>
							</div>
			              <div class="campaign-my-list-card-row2">
			                <p>
                        <span class="social">
                        <i>Social Media:</i>
                        <el-tag v-for="c in o.platform" :key="c.platform">
                          <img :src="changeImg(c)" alt="" class="mini-img">
                        </el-tag>
                        </span>
                        <span class="device">
                        <i>Device:</i>
                        <el-tag  style="padding:0;background:rgba(255,255,255,0);" v-for="c in o.device" :key="c" >
                        <img :src="changeImg(c)" alt="" class="mini_img" :class="{'ios_img':isIosImg}">
                        </el-tag>
                        </span>
                      </p>
			              </div>
						</div>
					</div>

				</el-row>
			</el-tab-pane>
      <!--分页器-->
      <div class="block" v-cloak v-if="currentShow">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage1"
          :page-size="sizes"
          :total='nums'
          layout="total,prev, pager, next, jumper"
          >
        </el-pagination>
      </div>
		</el-tabs>
    <el-dialog title="" size="mini" v-model="dialogPostVisible" :close-on-press-escape="false" :close-on-click-modal="false">
      <div class="dialog-step-one">
        <div class="post-ruls">
          <el-form  style="position: relative;" :model="dynamicValidateForm" ref="dynamicValidateForm">
            <el-form-item>
              <h2>Post LINK</h2>
              <el-button @click="addDomain" type="primary">+</el-button>
            </el-form-item>
            <el-form-item
              v-for="(domain, index) in dynamicValidateForm.domains"
              :key="domain.key"
              :prop="'domains.' + index + '.value'"
              :rules="{required: true, message: 'Please fill in the URL', trigger: 'blur'}"
            >
              <el-input class="post-input" v-model="domain.value"  placeholder="Post LINK"></el-input>
            </el-form-item>
            <el-form-item class="btn-groups">
              <el-button type="primary" @click="onSubmit('dynamicValidateForm')" style="width:150px;">SUBMIT</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </el-dialog>
	</div>
</template>

<script>
	import {
		getCampaigns, // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
		getMyInfluencerList,
		conectProductAndInfluencer,
		getPackageMsg,
		getMyTakeCampaign,
		getAllCampaignList,
		checkCurrentStates,
		createInfluencerPost,
		takeMoreCamopaign,
		getAbnameExist,
		getCampaignsCountryList,
		checkShortName,
		check_campaign_state,
		getInfluWallet,
    influ_taked_campaings,
    camlist,
    takecp,
	} from '../../apiRequest.js';
	import _ from 'lodash';
	import base from '../../config.js';
	import store from 'store2';
	export default {
		name: 'campaigns',
		data() {
			return {
        dynamicValidateForm:{
          domains:[{value: '', key:''}],
        },
				msg: {},
        nums:0,
        sizes:8,
        currentShow:false,
        currentPage1:1,
				selectedRow : '',
				visible2: true,
				dialogPostVisible: false,
				list: [],
				myList: [],
				moreForm: {
					abname: ''
				},
				rules: {
					abname: [{
						required: true,
						message: 'Short name is required.',
						trigger: 'blur'
					}, {
						min: 3,
						max: 20,
						message: 'The length of short name should between 3 to 20 letters.',
						trigger: 'blur'
					}]
				},
				isIosImg:true,
				istaked: true,
				baseUrl: base.logURL,
				isShowImag: false,
				isShowForImag: false,
				activeName: 'first',
				userId: '',
				myCampaign: {},
			}
		},
		created() {
			window.scrollTo(0, 0);
			let id = store('influencerUser').user.influencer_user_id;
			let msg = store('influencerUser').user;
			this.influencerId = id;
			this.userId = id;
			this.$parent.$emit('message', 'ca');
			this.getForCampaignList();
			this.getMyCampaignList(id);
      if(document.location.hash === '#/home/campaignList/my'){
        this.activeName = 'second';
        this.currentShow=true;
      }else if(document.location.hash === '#/home/campaignList/ca'){
        this.currentShow=false;
        this.activeName = 'first';
      }
		},
    watch:{
            '$route.params.param':function(val){
                this.chooseToLoad(val)
            }
        },
		methods: {
      handleClick(tab) {
        if(tab.name === 'first') {
          this.getForCampaignList();
          this.currentShow=false;
        } else {
          this.getMyCampaignList(this.userId);
          this.currentShow=true;
        }
      },
      changeImg(type){
          switch(type.toLowerCase()){
            case 'youtube':return require('../../assets/mu.png');break;
            case 'facebook':return require('../../assets/tw.png');break;
            case 'twitter':return require('../../assets/in.png');break;
            case 'google+':return require('../../assets/gg.jpg');break;
            case 'instagram':return require('../../assets/ins.png');break;
            case 'musical.ly':return require('../../assets/li.png');break;
            case 'live.ly':return require('../../assets/yo.png');break;
            case 'twitch':return require('../../assets/twitch.jpg');break;
            case 'tumblr':return require('../../assets/tum.jpg');break;
            case 'snapchat':return require('../../assets/snap.jpg');break;
            case 'ios':return require('../../assets/ios.jpg');break;
            case 'android':return require('../../assets/and.png');break;
            case 'pc':return require('../../assets/pc.png');break;
            default:break;
          }
        },
      checkPriceType(type){
        switch(type*1){
          case 0:return 'CPC';break;
          case 1:return 'CPA';break;
          case 2:return 'Package';break;
          case 3: return 'CPI';break;
          case 4: return 'CPS';break;
          case 5: return 'CPM';break;
          default:break;
        }
      },
      handleSizeChange(val){
          //每页多少条
      },
      handleCurrentChange(val){
          //当前页
        influ_taked_campaings({
          influid:this.userId,
          page:val,
          limit:this.sizes
        }).then((data) => {
          if(data.data.code === 0) {
            if(data.data.msg && data.data.msg.length === 0) {
              this.isShowImag = true;
            } else {
              this.getPrice(data);
            }
          }
        })
      },
//      页面路由变化
      chooseToLoad:function (val) {
                if( val === 'ca' ){
                this.activeName = 'first';
                this.getForCampaignList();
                this.currentShow=false;
                }else if( val === 'my' ){
                this.activeName = 'second';
                  this.getMyCampaignList(this.userId);
                this.currentShow=true;
                }
            },
//      回填POST
      addDomain() {
        this.dynamicValidateForm.domains.push({
          value: '',
          key: Date.now()
        });
      },
//      提交POST
      onSubmit (formName) {
        this.$refs[formName].validate((valid) => {
            if (valid) {
              let arr=[];
              this.dynamicValidateForm.domains.forEach((c,i)=>{
                  arr.push({
                    platform:0,
                    feed:c.value
                  })
              })
              createInfluencerPost({
                influencer_campaign_assoc_id: this.myCampaign.id,
                feeds: JSON.stringify(arr),
              }).then((data) => {
                if(data.data.code === 0) {
                  this.checkMyDetail(this.myCampaign);
                }
               });
             } else {
               return false;
             }
          });
       },
//      回填POST弹出框
			postUrl(row) {
				this.myCampaign = row;
				getMyTakeCampaign({
					influencer_campaign_assoc_id: row.id
				}).then((data) => {
					if(data.data.code === 0 && data.data.data) {
						let msg = data.data.data;
						if(msg.link_default === 1) {
							this.dialogPostVisible = true;
              this.dynamicValidateForm={
                domains: [{value:'',key:''}]
              }
						} else {
							this.getMyCampaignList(this.userId);
						}
					}
				});
			},
//      campaign详情
			checkDetail(o) {
				this.$router.push('/home/campaignDetails/' + o.id + '/' + o.type);
			},
//      my campaign详情
      checkMyDetail(o) {
        this.$router.push('/home/myCampaignDetails/' + o.id + '/' + o.type);
      },
//      My campaign列表
			getMyCampaignList(id) {
        influ_taked_campaings({
					influid: id,
          page:1,
          limit:this.sizes
				}).then((data) => {
					if(data.data.code === 0) {
						if(data.data.msg.length === 0) {
							this.isShowImag = true;
						} else {
              this.nums=JSON.parse(data.data.nums);
					    this.getPrice(data);
						}
					}
				})
			},
//      campaign列表
			getForCampaignList() {
        camlist().then((data) => {
					let arr = [];
					if(data.data.code === 0) {
						if(data.data.data.length === 0) {
							this.isShowForImag = true;
						} else {
              this.isShowForImag = false;
							data.data.data.forEach((_msg, index) => {
								let list = [];
								let country1 = _msg.operation_campaign_region.split(',');
								if(country1.length > 0) {
									country1.forEach((_country, index) => {
										if(_country!='Default'){
                      list.push(_country);
                    }else{};
									})
								} else {
									list.push('Global');
								}
                let price;
                if(_msg.price.length>=2){
                      _msg.price.sort(function(a,b){return a-b});
                      if(_msg.price[0]!=_msg.price[_msg.price.length-1]){
                        price=_msg.price_type===4?((_msg.price[0]/1000))+"% -"+((_msg.price[_msg.price.length-1]/1000))+"%":"$"+(_msg.price[0]/1000).toFixed(2)+"- $"+(_msg.price[_msg.price.length-1]/1000).toFixed(2);
                      }else{
                        price=_msg.price_type===4?((_msg.price[_msg.price.length-1]/1000))+"%":"$"+(_msg.price[_msg.price.length-1]/1000).toFixed(2);
                      }
                  }else{
                     price=_msg.price_type===4?((_msg.price/1000))+"%":"$"+(_msg.price/1000).toFixed(2);
                  }
                if(_msg.price_type==2){
                  price="$"+(_msg.price/1000).toFixed(2);
                }
								let obj = {
									date: _msg.operation_campaign_createat.slice(0, 10),
									name: _msg.operation_campaign_name,
									abname: _msg.abname,
                  cpc: this.checkPriceType(_msg.price_type),
									type: _msg.operation_campaign_type,
									type1: _msg.operation_campaign_subtype,
									logo: _msg.operation_campaign_logo ? base.logURL + _msg.operation_campaign_logo : base.logURL + base.defaultImg,
									desc: _msg.operation_campaign_desc,
									id: _msg.operation_campaign_id,
									note: _msg.operation_campaign_note,
									pics: _msg.operation_campaign_pics ? _msg.operation_campaign_pics.split(",") : [],
									video: _msg.operation_campaign_video?base.logURL + _msg.operation_campaign_video:'',
									isVideo: _msg.operation_campaign_video,
									country1: list,
									device:_msg.operation_campaign_devices?_msg.operation_campaign_devices.split(','):'',
									platform:_msg.operation_campaign_platform?_msg.operation_campaign_platform.split(','):'',
									pagck: '',
									package: '',
									balance: '',
                  price:price,
                  mode:_msg.distr_mode
								};
								arr.push(obj);
							});
						}
						this.list = arr;
					}
				});
			},
//			take操作
			takeCampaign(row) {
        this.$confirm('Are you sure to take the campaign?', '!Tips',{
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
        }).then(() => {
          let msg = store('influencerUser').user;
          if (!msg.influencer_user_page && !store('influencerPage')) {
            this.$router.push('/home/setting/pr');
          }else{
            takecp({
              influ_id:this.userId,
              op_campaign_id:row.id
            }).then((data)=>{
              if(data.data.code===0){
                if(row.cpc=='Package'){
                  this.$notify({
                    type:'success',
                    title: 'success',
                    message: "You've successfully taken the campaign, and the deposit is in your wallet already.",
                    duration: 10000
                  });
                }else if(row.cpc=='CPA'||row.cpc=='CPS'){
                  this.$notify({
                    type:'success',
                    title: 'success',
                    message: 'You have successfully taken the campaign. Promote it now, earn the future!',
                    duration: 10000
                  });
                }else{
                  this.$notify({
                    type:'success',
                    title: 'success',
                    message: 'success',
                    duration: 10000
                  });
                }
                this.$router.push('/home/myCampaignDetails/' + data.data.assoc_id + '/'+row.type);
                this.getMoney(this.userId);
              }else{
                this.$notify({
                  title: 'Warning',
                  message: data.data.msg,
                  type:'warning'
                });
              }
            })
          }
        }).catch(() => {

        });
			},
      getPrice(data){
         let arr = [];
          let msg=[];
         if(data.data.data){
             msg=data.data.data
         }else{
             msg=data.data.msg
         }
         msg.forEach((influ, i) => {
           let list = [];
//                处理country
           let country1 = influ.operation_campaign_region.split(',');
           if(country1.length > 0) {
             country1.forEach((_country, index) => {
               if(_country!='Default'){
                 list.push(_country);
               }else{};
             })
           } else {
             list.push('Global');
           }
//								处理price
           let price;
           let priceList=[];
           if(influ.influ_country_price && influ.influ_country_price!="[]"){
             price=JSON.parse(influ.influ_country_price.replace(/\\/g,''));
             if(price.ios){
               if(price.ios.data.length>0){
                 price.ios.data.forEach((c,i)=>{
                   priceList.push(c.price);
                 })
               }else{}
             }
             if(price.android){
               if(price.android.data.length>0){
                 price.android.data.forEach((c,i)=>{
                   priceList.push(c.price);
                 })
               }else{}
             }
             if(price.pc){
               if(price.pc.data.length>0){
                 price.pc.data.forEach((c,i)=>{
                   priceList.push(c.price);
                 })
               }else{}
             }
             priceList.sort(function(a,b){return a-b});
             if(priceList.length>=2){
               if(priceList[0]!=priceList[priceList.length-1]){
                   priceList[0]=(priceList[0]==0?10:priceList[0]);
                 price=influ.price_type===4?((priceList[0]/1000))+"% - "+((priceList[priceList.length-1]/1000))+"%":"$"+(priceList[0]/1000).toFixed(2)+"- $"+(priceList[priceList.length-1]/1000).toFixed(2);
               }else{
                 price=influ.price_type===4?((priceList[priceList.length-1]/1000))+"%":"$"+(priceList[priceList.length-1]/1000).toFixed(2);
               }
             }else{}
           }else if(influ.price.length>=2){
             influ.price.sort(function(a,b){return a-b});
             if(influ.price[0]!=influ.price[influ.price.length-1]){
               influ.price=(influ.price[0]==0?10:influ.price[0]);
               price=influ.price_type===4?((influ.price[0]/1000))+"% -"+((influ.price[influ.price.length-1]/1000))+"%":"$"+(influ.price[0]/1000).toFixed(2)+"- $"+(influ.price[influ.price.length-1]/1000).toFixed(2);
             }else{
               price=influ.price_type===4?((influ.price/1000))+"%":"$"+(influ.price/1000).toFixed(2);
             }
           }else{
             let array=[influ.price,influ.ios_price,influ.android_price,influ.pc_price];
             array.sort(function(a,b){return a-b});
             if(array[0]!=array[array.length-1]){
                array[0]= (array[0]==0?10:array[0]);
                 price=influ.price_type===4?((array[0]/1000))+"% - "+((array[array.length-1]/1000))+"%":"$"+(array[0]/1000).toFixed(2)+"- $"+(array[array.length-1]/1000).toFixed(2);
             }else{
                 price=influ.price_type===4?((array[0]/1000))+"%":"$"+(array[0]/1000).toFixed(2);
             }
           }
//           package价格处理
           if(influ.price_type==2){
               price="$"+(influ.price/1000).toFixed(2);
           }
           arr.push({
             name: influ.operation_campaign_name,
             url: influ.operation_campaign_logo ? base.logURL + influ.operation_campaign_logo : base.logURL + base.defaultImg,
             desc: influ.operation_campaign_desc,
             cpc: this.checkPriceType(influ.price_type),
             mmm: influ.price / 1000,
             id: influ.influencer_campaign_assoc_id,
             cid: influ.operation_campaign_id,
             type: influ.taked_status,
             type1: influ.operation_campaign_type,
             type2: influ.operation_campaign_subtype,
             country1: list,
             pics: influ.operation_campaign_pics ? influ.operation_campaign_pics.split(",") : [],
             desc1: influ.operation_campaign_desc,
             isVideo: influ.operation_campaign_video,
             video: base.logURL + influ.operation_campaign_video,
             brand_campaign_id : influ.brand_campaign_id,
             device:influ.operation_campaign_devices?influ.operation_campaign_devices.split(','):'',
             platform:influ.operation_campaign_platform?influ.operation_campaign_platform.split(','):'',
             price:price,
             mode:influ.distr_mode
           });
         })
            this.myList=arr;
      },
//      take后左边栏money改变
      getMoney(id){
        getInfluWallet({
          influ_id: id
        }).then((data)=> {
          let msg = store('influencerUser').user;
          if (data.data.code === 0 && data.data.msg.length > 0) {
            this.$parent.homeNum=((msg.influencer_wallet_amount+data.data.msg[0].influencer_freez_amount)/1000).toFixed(2);
          }
        })
      }
		},
	}
</script>

<style scoped>
  p{
    font-size:14px;
  }
	.campaign-list {
		margin: 0 auto;
    padding-right:20px;
    font-family: 微软雅黑;
	}
  .mini-img{
    width:20px;
    height:20px;
    border-radius:5px;
  }
  .campaign-my-list-card-row2 .mini_img, .campaign-my-list-card-row1-left .mini_img{
    width:20px;
    height:20px;
  }
  .campaign-my-list-card-row1-left p i{
    margin-right:20px;
  }
  .campaign-my-list-card-row2 p i{
    margin-right:10px;
  }
 .social{
   display: -webkit-flex;
   display: flex;
   /* for uc */
   display: -ms-flexbox; /* TWEENER - IE 10 */
   align-items: center;
   margin-right:10px;
 }
 .social i{
   min-width:90px;
 }
  .country,.device{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .device i,.country i{
     display: block;
   }
  .country{
    width:100%;
    /*margin-left:10%;*/
  }
  .device{
    min-width:180px;
  }
  .country i{
    width:80px;
  }
  .subcountry{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-wrap:wrap;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1;
    flex: 1;
    /* for uc */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
  }
  .block{
    margin-bottom:20px;
  }
	.campaign-list-card {
    cursor:pointer;
		width: 98%;
		position: relative;
		background-color: #fff;
		border-radius: 20px;
		box-sizing: border-box;
		overflow: hidden;
		padding: 15px 30px;
    margin:7px 15px;
	}
  .campaign-list-card:first-child{
    margin-top:15px;
  }
  .campaign-my-list-card:first-child{
    margin-top:15px;
  }
	.campaign-list-card-left {
		margin-right: 150px;
	}

	.campaign-list-card-left-logo>img {
		width: 96px;
		height: 96px;
		border-radius: 8px;
		float: left;
	}

	.campaign-list-card-left-logo>h2 {
    margin-left: 120px;
    line-height: 40px;
    font-size: 18px;
    color: #c1272d;
	}

	.campaign-list-card-left-logo>p {
		margin-left: 120px;
		line-height: 30px;
		font-size: 14px;
		word-wrap: break-word;
		word-break: break-all;
		padding-right: 10px;
	}
  i{
    font-style:normal;
  }
  .campaign-list-card-left-logo>p i{
    font-style:normal;
  }
	.campaign-list-card-left-desc {
		margin: 20px 20px 0 0;
		word-wrap: break-word;
		word-break: break-all;
		max-height: 74px;
		overflow: hidden;
		font-size: 14px;
		line-height: 25px;
	}
	.campaign-list-card-right {
		width: 200px;
		float: right;
		text-align: right;
    transform: translateY(-50%);
    position: absolute;
    right: 25px;
    top: 50%;
	}
  .campaign-list-card-right>p{
    padding: 0;
    margin:5px 0;
  }
  .campaign-list-card-right p span{
    font-size: 14px;
    color: #c1272d;
  }
	.campaign-my-list-card {
    cursor:pointer;
    width: 98%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 30px;
    margin:7px 15px;
    position:relative;
	}
  .level{
    height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left:20px;
    left:20px;
  }
  .level img{
    width:35px;
    height:45px;
  }
	.campaign-my-list-card-row1-right {
		float: right;
		width: 150px;
		text-align: center;
    margin-top:5px;
		/*height: 80px;*/
	}

	.campaign-my-list-card-row1-right>p {
    color:#c1272d;
		margin: 10px 0;
    font-weight:bold;
    font-size:16px;
	}

	.campaign-my-list-card-row1-left>img {
		width: 80px;
		height: 80px;
		border-radius: 8px;
		float: left;
	}

	.campaign-my-list-card-row1-left>h2 {
		margin-left: 120px;
		line-height: 25px;
    font-size: 18px;
    color: #c1272d;
	}
  .campaign-my-list-card-row1 img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius:8px;
  }
	.campaign-my-list-card-row1-left>p {
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
		margin-left: 120px;
		line-height: 30px;
		font-size: 14px;
		word-wrap: break-word;
		word-break: break-all;
		padding-right: 10px;
	}
  .campaign-my-list-card-row2 {
    margin-left: 120px;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 45px;
    line-height: 30px;
  }
  .campaign-my-list-card-row2 p{
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }

	.campaign-my-list-card-row3 {
		word-wrap: break-word;
		word-break: break-all;
    width: 80%;
    float: left;
		line-height: 30px;
	}
  .campaign-my-list-card-row3 p{
    font-size:14px;
  }
  .campaign-my-list-card-row3 p span{
    position:absolute;
  }
  .campaign-my-list-card-row3 p>code{
    font-family: "微软雅黑";
    padding-left: 110px;
    font-size: 14px;
    margin-left: 10px;
    line-height:25px;
    display: inline-block;
  }
	.campaign-my-list-card-row4 {
    position:absolute;
    top:100px;
    right:50px;
		text-align: center;
	}
	.dialog-step-two>h2 {
		text-align: center;
		margin-bottom: 15px;
	}
	.dialog-step-two-btn {
		border: 1px solid red;
		text-align: center;
		margin: 20px 0;
	}
	.dialog-step-two>p {
		text-align: center;
		padding: 10px 0;
		margin-bottom: 10px;
		background-color: #c1272d;
		color: #fff;
	}
	.dialog-step-two-left {
		padding: 14px;
	}
	.dialog-step-two-right {
		padding: 14px;
		word-wrap: break-word;
		word-break: break-all;
		display: inline-block;
		width: 100%;
	}

	.dialog-step-two-right-desc {
		padding: 14px;
		word-wrap: break-word;
		word-break: break-all;
	}
	.dialog-step-two-right-pop {
		display: inline-block;
		width: 90%;
		font-size: 12px;
		color: #c1272d;
		border: 1px solid #c1272d;
		padding: 10px;
		position: relative;
	}
	.dialog-step-two-right-pop>div {
		position: absolute;
		width: 0px;
		height: 0px;
		top: -11px;
		left: 120px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 10px solid #c1272d;
	}
	.dialog-step-one {
		text-align: center;
		padding-bottom: 30px;
	}
	.dialog-step-one>h2 {
		margin-bottom: 30px;
	}
	.dialog-step-one>ul {
		list-style: none;
		padding: 0;
		margin-bottom: 20px;
	}
	.dialog-step-one-li {
		display: inline-block;
		margin: 10px;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 5px;
	}
	.dialog-step-one>ul>li>img {
		width: 60px;
		display: block;
		margin-bottom: 10px;
	}
	.active {
		color: #c1272d;
	}
	.activeli {
		border-color: #c1272d;
	}
	.post-ruls {
		width: 606px;
		margin: 0 auto;
	}
	.post-ruls>h2 {
		text-align: left;
		font-size: 18px;
		font-weight: normal;
		padding-left: 20px;
		margin-bottom: 20px;
	}
	.post-ruls img {
		display: inline-block;
		height: 36px;
		vertical-align: top;
	}
	.post-ruls>div {
		margin: 20px;
	}
	.post-input {
		display: inline-block;
		width: 100%;
		margin-left: 0px;
	}
	.btn-groups {
		margin-top: 20px;
	}
	.dialogfooter {
		text-align: center;
	}
	.take-more-dialog1 {
		padding: 10px;
	}
	.take-more-dialog1>h3 {
		padding: 10px;
		text-align: center;
	}
	.take-more-dialog1>span {
		padding: 10px;
	}
	.another-link {
		padding: 0 20px 20px 20px;
		text-align: center;
	}
	.another-link>span {
		display: block;
		padding: 0 20px 30px 20px;
		text-align: center;
		font-size: 20px;
	}

	.demo-ruleForm {
		margin-bottom: 30px;
	}

	.success-take {
		padding: 0 20px 20px 20px;
		text-align: center;
	}

	.success-take>h4 {
		padding: 0 20px 20px 20px;
		font-size: 20px;
	}
	.campaign-title {
		width: 100%;
		color: #ffffff;
		background-color: #c1272d;
		text-align: center;
	}
  .campaign-list-card-right .first{
    font-size:16px;
  }
  .campaign-list-card-right .last{
    font-size:20px;
    font-weight:bold;
  }
</style>
