<template>
  <div id="chart">

  </div>
</template>

<script>
    import echarts from 'echarts';
    export default {
        name: 'el-chart',
        props: ['message', 'bodyStyle'],
        data() {
            return {
                msg: '',
                chart: null,
                opinion: ['高富帅', '矮富帅', '高富挫', '矮富挫', '女生'],
                opinionData: [{
                    value: 26,
                    name: '高富帅'
                }, {
                    value: 31,
                    name: '矮富帅'
                }, {
                    value: 18,
                    name: '高富挫'
                }, {
                    value: 28,
                    name: '矮富挫'
                }, {
                    value: 21,
                    name: '女生'
                }]
            }
        },
        created() {
        },
        methods: {
            // 绘图
            drawGraph(id) {
                this.chart = echarts.init(document.getElementById(id))
                this.chart.showLoading()
                this.chart.setOption({
                    title: {
                        text: '女生喜欢的男生种类',
                        subtext: '纯属扯犊子',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        x: 'center',
                        y: 'bottom',
                        data: this.opinion
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            dataView: {
                                show: true,
                                readOnly: false
                            },
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {
                                show: true
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    calculable: true,
                    series: [{
                        name: '种类',
                        type: 'pie',
                        // 内圆半径，外圆半径
                        radius: [30, 100],
                        // 位置，左右，上下
                        center: ['50%', '50%'],
                        roseType: 'area',
                        data: this.opinionData, // 别忘了this
                    }]
                })
                this.chart.hideLoading()
            }
        },
        mounted() {
            this.$nextTick(function() {
                this.drawGraph('chart')
            })
        }
    }
</script>

<style scoped>
    #chart {
        width: 100%;
        height: 200px;
    }
</style>
