<template>

  <div class="faq">
    <div class='nav'>
      <h3>Welcome to</h3>
      <h1>Star.Store</h1>
      <p>With Star.Store you can take campaigns and promote them on your social media channel then get paid for valid conversions. It is easy and highly rewarding!</p>
    </div>
    <el-collapse v-model="activeName" accordion class="faq-body">
      <el-collapse-item title="How to start" name="1">
        <div class='a1'>Be a Star.Storer</div>
        <div class='a3'>Take campaigns and get paid in Star.Store is so easy!
          First of all, please type a name to create the page, this is your unique promotion link and  homepage in Star.Store.
          It will always be together with you in Star.Store.
          Please be careful to choose the page you want to create, once submitted, it is unchangeable.</div>
      </el-collapse-item>
      <el-collapse-item title="How to work" name="2">
        <div class='a1'>Take campaigns and run them</div>
        <div>Check available campaigns in “Campaigns”.
          You can see the brief introductions of the campaigns, such as: countries we want to promote, price, and short description.
          Once you find a campaign that suits your audience’s interests, press “TAKE”.
          Think about how you are going to promote the campaign (call-to-action message, pictures,
          video? We have prepared materials for you, you can press “DOWNLOAD” to see, then go and create).
          Then copy your promotion link, make your promotional post and don’t forget to paste there the link.
          Also, please remember to come back and press “POST LINK” to fill in the post LINK. We will track the performance and direct campaigns which fit you perfectly.
          You can then press “my campaigns” and check your promotion performance of each campaign under “DETAILS”.
          <div class=a2>YouTube</div>
          We all love YouTube and it is a great network to run campaigns!
          Make a video about the campaigns you’re promoting and invite your followers to join,
          or make a brief introduction about the campaigns, mentioning the link can be found in the description box of the video.
          <div class=a2>Instagram</div>
          It is also possible to promote your tracking links in one of the most visual networks ever.
          After you generate your tracking link and paste it on the ‘website’ section in your bio
          Publish a photo that promotes the campaign and write a description introduces the campaign to your followers.
          <div class=a2>Facebook</div>
          Of course it is also possible to promote campaigns on the queen of social media networks. Do the following with your tracking link:
          Paste the link on a status & a picture or video of the campaign.
          A call-to-action message is fundamental but keep in mind that on mobile only the first 3 lines of a status are visible.
          We recommend you to write a call-to-action message up to 3 lines, otherwise your followers will have to click on ‘see more’ to check the tracking link.
          <div class=a2> Twitter</div>
          Sharing campaigns here is as quick and simple as a tweet.
          Paste your promotion link on Twitter along with a call-to-action message that motivates your followers to join the campaign.
          We would advise you to add a picture of the campaign to your tweet and to use hashtags.
          <div class=a2>Do's</div>
          Customize your campaigns & choose campaigns that suit your audience’s interests.
          Add a call-to-action message that motivates your followers to join the campaign.
          Share a picture or a video of the campaign.
          <div class=a2> Don'ts</div>
          Excessive self-download is not allowed.
          Search and download apps directly from the app store without the promotion link.
          Hesitate to contact us if you have any questions.
        </div>
      </el-collapse-item>
      <el-collapse-item title="Q&A" name="3">
        <div class='a1'>Important stuff</div>
        Installs & Why you may not have received payments?
        You may see that your followers have downloaded the apps you have promoted but nothing changed in your wallet.
        Why? There are 3 possible reasons:
        <div class=a2>ACTIVITY</div>
        Your followers haven’t opened the app or haven’t received the level we required.
        Star.Store is all about promoting apps people can use, so payments will only appear after your followers reached the required level.
        <div class=a2>AVAILABILITY</div>
        The campaign has stopped. The app in question may no longer be available in our platform,
        and hence payments will no longer be credited into your account.
        <div class=a2>TIME</div>
        Your followers haven’t opened the app or haven’t received the level we required.
        Star.Store is all about promoting apps people can use,
        so payments will only appear after your followers reached the required level.
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>

    export default {
        name: 'faq',
        data() {
            return {
                msg: 'Welcome',
                activeName: '1',
                routeParam: this.$route.params.param
            }
        },
        watch:{
            '$route.params.param':function (val) {
                if( val === 'st' ){
                    this.activeName = '1'
                }else if ( val === 'wo' ){
                    this.activeName = '2'
                }else if ( val === 'qa' ){
                  this.activeName = '3'
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('message', 'fa');
            if( this.routeParam === 'st'){
                this.activeName = '1'
            }else if( this.routeParam === 'wo' ){
                this.activeName = '4'
            }
        },
        methods: {

        }
    }
</script>

<style scoped>
  .el-collapse-item__header{
    color: #c1272d;
    font-size: 20px;
  }
    .faq {
      margin: 20px 20px;
      padding: 0 20px;
      background: #fff;
    }

    .faq-body {
        width: 60%;
        padding: 5px;
        border: 0;
        background-color: #fff;
    }
  h1{
    color: #c1272d;
    padding: 5px 0px;
  }
  h3{
    padding: 5px 0px;
  }
  p{
    font-size: 18px;
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
  .a1{
    font-size: 20px;
  }
  .a2{
    font-size: 18px;
    color: #ff6c72;
  }
  .nav{
    width: 60%;
  }

</style>
