<template>
  <div class="wallet">
    <div class="wallet-item">
    <el-table
      :data="tableData"
      empty-text="No Data"
      style="width: 100%">
      <el-table-column
        prop="camName"
        label="Campaign Name">
      </el-table-column>
      <el-table-column
        prop="date"
        label="Date">
      </el-table-column>
      <el-table-column
        prop="click"
        label="Click">
      </el-table-column>
      <el-table-column
        prop="uclick"
        label="Uclick">
      </el-table-column>
      <el-table-column
        prop="conversion"
        label="Conversion">
      </el-table-column>
      <el-table-column
        prop="ptype"
        label="Price Type">
      </el-table-column>
      <el-table-column
        prop="price"
        label="Price($)">
      </el-table-column>
      <el-table-column
        prop="deduction"
        label="Deduction($)">
      </el-table-column>
      <el-table-column
        prop="revenue"
        label="Revenue($)">
      </el-table-column>
    </el-table>
    </div>
  </div>
</template>

<script>
  import {
    getInfluWallet,
    setInfluWallet,
    getInfluWalletList,
    influ_wallet_get_exist
  } from '../../apiRequest.js';
  import sha1 from 'sha1';
  import store from 'store2';
  export default {
    name: 'wallet',
    data() {
      return {
        tableData: [

        ],
      }
    },
    created() {
      window.scrollTo(0,0);
    },
  }
</script>

<style scoped>
  .wallet {
    margin: 0 auto;
    padding: 0px 20px;
  }
  .wallet-item {
    background-color: #fff;
    padding: 40px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
</style>
