<template>
  <div class="my-campaign-list">
      <el-row :gutter="24">
          <img v-if="isShowImag" src="../../assets/no-ca1.png" alt="">
            <div v-for="o in list" class="campaign-list-card" :key="'my'+o">
                <div class="campaign-list-item">
                    <h2>{{o.name}}</h2>
                    <img :src="o.url" alt="logo">
                    <div class="campaings-card-type" :style="{backgroundColor: o.type === 0 ? '#9b9b9b' : o.type === 1 ? '#00bd9c' : o.type === 4 ? '#9b9b9b' : '#fff'}">
                        {{o.type === 1 && o.state === 3 ? 'Started' : 'Ended'}}
                    </div>
                    <div>{{o.desc}}</div>
                    <el-row>
                        <el-col :span="12">
                            <div>
                                <span class="first">{{o.cpc}}</span>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div>
                                <span class="last">${{o.mmm}}</span>
                            </div>
                        </el-col>
                    </el-row>
                    <el-button type="primary" @click="checkDetail(o)" class="take-btn">DETAILS</el-button>
                </div>
            </div>
        </el-row>
  </div>
</template>

<script>
    import {
        getMyInfluencerList,
        getInfluWallet
    } from '../../apiRequest.js';
    import store from 'store2';
    import base from '../../config.js';
    export default {
        name: 'mycampaigns',
        data() {
            return {
                msg: {
                    name: '',
                    url: '',
                    desc: '',
                    cpc: '',
                    mmm: '',
                    id: ''
                },
                list: [],
                isShowImag: false
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('message', 'my');
            let id = store('influencerUser').user.influencer_user_id;
            getInfluWallet({
				influ_id: id
			}).then((data)=>{
				if(data.data.code === 0 && data.data.msg.length>0){
					this.$parent.amount = data.data.msg[0].influencer_wallet_amount/1000;
				}
			})
            getMyInfluencerList({
                influid: id
            }).then((data) => {
                if (data.data.code === 0) {
                    if (data.data.msg.length === 0) {
                        this.isShowImag = true;
                    } else {
                        let arr = [];
                        let newarr = data.data.msg[0];
                        arr.push({
                            name: newarr.operation_campaign_name,
                            url: newarr.operation_campaign_logo ? base.logURL + newarr.operation_campaign_logo : base.logURL + base.defaultImg,
                            desc: newarr.operation_campaign_desc,
                            cpc: newarr.price_type === 2 ? 'Package' : newarr.price_type === 1 ? 'CPA' : newarr.price_type === 0 ? 'CPC' : '',
                            mmm: newarr.price / 1000,
                            id: newarr.influencer_campaign_assoc_id,
                            type: newarr.link_default,
                            state: newarr.operation_campaign_state
                        });
                        data.data.msg.forEach((influ, i) => {
                            if (influ.brand_campaign_id !== newarr.brand_campaign_id) {
                                arr.push({
                                    name: influ.operation_campaign_name,
                                    url: influ.operation_campaign_logo ? base.logURL + influ.operation_campaign_logo : base.logURL + base.defaultImg,
                                    desc: influ.operation_campaign_desc,
                                    cpc: influ.price_type === 2 ? 'Package' : influ.price_type === 1 ? 'CPA' : influ.price_type === 0 ? 'CPC' : '',
                                    mmm: influ.price / 1000,
                                    id: influ.influencer_campaign_assoc_id,
                                    type: influ.link_default,
                                    state: influ.operation_campaign_state
                                });
                            }
                        })
                        this.list = arr;
                    }
                }
            })
        },
        methods: {
            checkDetail(o) {
                this.$router.push('/home/campaignDetails/' + o.id + '/' + o.type);
            }
        }
    }
</script>

<style scoped>
    .my-campaign-list {
        margin: 0 auto;
        padding: 60px 40px;
    }

    .campaign-list-card {
        width: 250px;
        margin: 10px;
        float: left;
        position: relative;
    }

    .campaign-list-item {
        width: 100%;
        background-color: #fff;
        margin-bottom: 20px;
        border-radius: 3px;
        text-align: center;
        padding: 40px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

    .campaign-list-item h2 {
        font-size: 18px;
        color: #333;
    }

    .campaign-list-item img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin: 20px 0 12px;
    }

    .campaign-list-item div {
        font-size: 16px;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
    }

    .campaign-list-item p {
        margin: 26px 0 20px;
    }

    .campaign-list-item p>span {
        padding: 0 10px;
    }

    .campaign-list-item span.first {
        color: #666;
        font-size: 16px;
    }

    .campaign-list-item span.last {
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }

    .take-btn {
        width: 100%;
    }

    .campaign-list-item .campaings-card-type {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #0188fa;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        color: transparent;
        overflow: hidden;
        cursor: pointer;
    }

    .campaign-list-item .campaings-card-type:hover {
        width: 75px;
        color: #fff;
        transition: 0.3s 0.1s all ease;
    }
</style>
