<template>
  <div class="campaign-details">
    <!--产品详情-->
      <el-row>
        <div class="campaign-list-card">
          <div class="campaign-list-card-right">
            <P><span style="color:#ccc;">{{detailsObj.date}}</span></P>
            <P><span :style="{color: detailsObj.otype === 0 ? '#9b9b9b' : detailsObj.otype === 1 ? '#c1272d' : '#fff'}">{{detailsObj.otype==1?'Started':'Ended'}}</span></P>
            <P style="line-height:44px;height:28px;"><span>{{detailsObj.amountType}}</span><span style="font-size:20px;font-weight:bold;"> {{detailsObj.amount}}</span> </P>
          </div>
          <div class="campaign-list-card-left">
            <el-row>
              <img :src="detailsObj.logo" alt="logo">
              <div class="campaign-list-card-left-logo">
                <h2>{{detailsObj.type + ' ' + detailsObj.type1}}-{{detailsObj.name}}</h2>
                <p>
                <span class="social">
                  <i>Social Media:</i>
                  <el-tag  v-for="c in detailsObj.platform" :key="c.platform" style="padding:0">
                    <img :src="changeImg(c)" alt="" class="mini-img">
                  </el-tag>
                </span>
                  <span class="device">
                  <i>Device:</i>
                  <el-tag  style="padding:0;background:rgba(255,255,255,0);" v-for="c in detailsObj.device" :key="c">
                    <img :src="changeImg(c)" alt="" class="mini-img">
                  </el-tag>
                </span>
                </p>
                <p>
                <span class="country">
                  <i>Countries:</i>
                  <el-tag type="danger" style="margin-right:5px" v-for="c in tableData2" v-cloak v-if="c.country!='Default'" :key="c">{{c.country}}</el-tag>
                </span>
                </p>
              </div>
            </el-row>
          </div>
        </div>
      </el-row>
    <!--回填POST LINK-->
      <el-form :model="feedForm" class="nomargin" ref="feedForm">
        <div class="post-box">
          <div style="line-height:36px;font-size:14px;width:500px;" >
            <span style="text-align:right;font-weight: bold;display: inline-block;min-width:130px;padding-right:20px;">PROMOTION LINK</span>
            <span id="copy-board">{{pageUrl}}</span>
            <i class="iconfont icon-fuzhi btn" data-clipboard-target="#copy-board" style="color:#c1272d;cursor:pointer"></i>
          </div>
          <el-button type="primary" style="width:40px;" v-if='!isdomain' @click="isdomain=true">+</el-button>
        </div>
        <!--<div style="width:100%;display:flex;justify-content: center;align-items:center;" v-cloak v-if="feedForm.domains.length<1 || isdomain">-->
          <!--<span style="padding-right:20px;">POST URL</span>-->
          <!--<el-input v-model="feedForm.value" style="width:40%" required></el-input>-->
          <!--<el-button type="primary" @click="submitUrl" style="margin-left:10px;">OK</el-button>-->
        <!--</div>-->
        <el-form-item
          class="center-item"
          prop="value"
          :rules="{type:'url',trigger:'blur',message:'post url is not a valid url'}"
          v-cloak v-if="feedForm.domains.length<1 || isdomain"
          required
        >
          <span style="padding-right:20px;display: inline-block;min-width:130px;text-align:right;">POST URL</span>
          <el-input v-model="feedForm.value"></el-input>
          <el-button type="primary" @click="submitUrl('feedForm')" style="margin-left:10px;">OK</el-button>
          <i class="el-icon-close" style="font-size:12px;color:#c1272d;padding-left:10px;cursor:pointer" @click="isdomain=false"></i>
        </el-form-item>
        <el-form-item
          v-for="(domain,index) in feedForm.domains"
          :key="domain.key"
          :prop="'domains.' + index + '.value'"
          v-cloak v-if="openFlag?index<0:index>=0"
          style="display: flex;align-items:center;justify-content: center"
        >
          <div style="width:100%;display:flex;justify-content: center;align-content: center;">
            <span>{{domain.value}}</span>
          </div>
        </el-form-item>
        <div style="width:100%;display: flex;align-items:center;justify-content:right;float:right;text-align:center;margin:10px 0;" v-cloak v-if="feedForm.domains.length>=1">
          <span style="color:#c1272d;cursor:pointer;display: block;width:100%;font-size:14px;" @click="isOpenData"><i :class="openFlag?'el-icon-arrow-down':'el-icon-arrow-up'"></i></span>
        </div>
      </el-form>

      <el-row>
      <div class="iview">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="Campaign Details" name="first" style="position:relative">
            <!--详情-->
            <el-row>
              <div class="campaign-list-card" style="padding-bottom:20px;">
                <div class='campaign-list-card-left-content'>
                  <p><span>Preview URL:</span> <span  style="color:#c1272d">{{detailsObj.url}}</span></p>
                  <p><span>Description:</span> <span>{{detailsObj.desc}}</span></p>
                  <p><span>Material:</span> <span>If you don't know how to promote this campaign, we give you example picture or video, you can use it  or imitate it. Here are the <a
                    @click="download"><i class="material">materials</i></a>. You can click it to download.</span></p>
                  <p><span>KPI:</span> <span>{{detailsObj.kpi}}</span></p>
                  <div class="data" v-cloak v-if="detailsObj.amountType!='Package'">
                    <h1>What is the Price?</h1>
                    <el-table :data="tableData2" style="width: 100%;">
                      <el-table-column
                        prop="country"
                        label="Countries">
                      </el-table-column>
                      <el-table-column
                        prop="ios"
                        :label="detailsObj.amountType==='CPS'?'IOS':'IOS($)'">
                      </el-table-column>
                      <el-table-column
                        prop="android"
                        :label="detailsObj.amountType==='CPS'?'Android':'Android($)'">
                      </el-table-column>
                      <el-table-column
                        prop="pc"
                        :label="detailsObj.amountType==='CPS'?'PC':'PC($)'">
                      </el-table-column>
                    </el-table>
                  </div>
                  <p><span>PICTURE:</span>
                    <span>
                        <img src="../../assets/img1.jpg" alt="">
                        <img src="../../assets/img2.jpg" alt="">
                        <img src="../../assets/img3.jpg" alt="">
                    </span>
                  </p>
                  <p><span>VIDEO:</span>
                    <span>
                        <img src="../../assets/video.jpg" alt="" style="width:200px;">
                    </span>
                  </p>
                </div>
              </div>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="Data Performance" name="Second" style="position:relative">
            <!--数据展示-->
            <el-row>
              <!--点击转化-->
              <div class="list-card campaign-list-card">
                 <!--周期数据-->
                <div class="data">
                  <div class="box-card">
                    <el-table :data="tableData" style="width: 100%;" >
                      <el-table-column
                        prop="date"
                        label="Date"
                        width="180"
                      >
                      </el-table-column>
                      <el-table-column
                        prop="click"
                        label="Click">
                      </el-table-column>
                      <el-table-column
                        prop="uclick"
                        label="UClick">
                      </el-table-column>
                      <el-table-column
                        prop="conv"
                        label="Conversion">
                      </el-table-column>
                      <el-table-column
                        prop="cr"
                        label="CR">
                      </el-table-column>
                      <el-table-column
                        prop="revenue"
                        label="Revenue($)">
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
              </div>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </div>
    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts';
  import Clipboard from 'clipboard';
  import {
    getTakeCampaign,
    getMyTakeCampaign,
    createInfluencerPost,
    getCkHourly,
    getPbHourly,
    getacssIdByInfluId,
    getInfluWallet,
    getPackageMsg,
    getReport,
    cppostlink
  } from '../../apiRequest.js';
  import base from '../../config.js';
  import store from 'store2';
  import moment from 'moment';
  export default {
    name: 'details',
    data() {
      let end = new Date();
      let start = new Date();
      let btn = new Clipboard('.btn');
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
      return {
        pageUrl:'',
        isdomain:false,
        openFlag:true,
        userId:'',
        userPage:'',
        associd:'',
        fromData:'',
        toData:'',
        dialog:false,
        reportObj:{
          click:0,
          conversion:0,
          total:0,
        },
        brandCurrent: {
          pics: [],
          desc: '',
          isVideo: '',
          video: ''
        },
        moreForm: {
          abname: ''
        },
        baseUrl: base.logURL,
        dialogVisible5: false,
        msg: {},
        tableData: [],
        tableData2: [],
        detailsObj: {},
        feedForm:{
            value:'',
            domains:[]
        },
        activeName:'first'
      }
    },
    created() {
      window.scrollTo(0,0);
      let userMsg = store('influencerUser');
//      必需信息
      this.userPage= userMsg.user.influencer_user_page;
      this.userId = userMsg.user.influencer_user_id;
      this.associd = this.$route.params.id;
      this.$parent.$emit('message', 'cad');
      this.refresh(this.$route.params.id);
      this.report(this.$route.params.id);
    },
    methods: {
      checkPriceType(type){
        switch(type){
          case 0:return 'CPC';break;
          case 1:return 'CPA';break;
          case 2:return 'Package';break;
          case 3: return 'CPI';break;
          case 4: return 'CPS';break;
          case 5: return 'CPM';break;
          default:break;
          }
        },
      getPostLink(){
        cppostlink({
          influencer_campaign_assoc_id:this.$route.params.id
        }).then((data)=>{
           if(data.data.code===0){
             let msg=data.data.data;
             msg.forEach((c,i)=>{
               this.feedForm.domains.push({
                 value:c.influencer_campaign_feed,
                 key:'',
               })
             })
           }
        })
      },
      changeImg(type){
        switch(type.toLowerCase()){
          case 'youtube':return require('../../assets/mu.png');break;
          case 'facebook':return require('../../assets/tw.png');break;
          case 'twitter':return require('../../assets/in.png');break;
          case 'google+':return require('../../assets/gg.jpg');break;
          case 'instagram':return require('../../assets/ins.png');break;
          case 'musical.ly':return require('../../assets/li.png');break;
          case 'live.ly':return require('../../assets/yo.png');break;
          case 'twitch':return require('../../assets/twitch.jpg');break;
          case 'tumblr':return require('../../assets/tum.jpg');break;
          case 'snapchat':return require('../../assets/snap.jpg');break;
          case 'ios':return require('../../assets/ios.jpg');break;
          case 'android':return require('../../assets/and.png');break;
          case 'pc':return require('../../assets/pc.png');break;
          default:break;
        }
      },
//      初始化信息:campaign detail
      refresh(id) {
        getMyTakeCampaign({
          influencer_campaign_assoc_id: id
        }).then((data) => {
          if (data.data.code === 0) {
            if (data.data.data) {
              let msg = data.data.data;
              console.log(msg);
              //              what is price
              let price=msg.influ_country_price;
              let resultprice;
              let tbobj=[];
              let priceList=[];
              let arr=[];
              for(let i in price){
                tbobj.push({
                  country:i,
                  ios:price[i].ios_price?(price[i].ios_price/1000).toFixed(2):'-',
                  android:price[i].android_price?(price[i].android_price/1000).toFixed(2):'-',
                  pc:price[i].pc_price?(price[i].pc_price/1000).toFixed(2):'-',
                });
              }
//              price区间
              tbobj.forEach((c,i)=>{
                 priceList.push(c.ios,c.android,c.pc);
              })
             priceList=priceList.filter(function(n){ return n!='-'});
             priceList.sort(function(a,b){return a-b});
              this.detailsObj.otype= msg.taked_status;
              this.detailsObj.date = msg.createat.slice(0,10);
              this.detailsObj.name = msg.operation_campaign_name;
              this.moreForm.abname = msg.abname;
              this.detailsObj.id = msg.operation_campaign_id;
              this.detailsObj.state = msg.operation_campaign_state;
              this.detailsObj.logo = msg.operation_campaign_logo ? base.logURL + msg.operation_campaign_logo : base.logURL + base.defaultImg;
              this.detailsObj.type = msg.operation_campaign_type.toUpperCase();
              this.detailsObj.type1 = msg.operation_campaign_subtype;
              this.detailsObj.isLogo = msg.operation_campaign_logo;
              this.detailsObj.desc = msg.operation_campaign_desc;
              this.detailsObj.kpi = msg.operation_campaign_kpi;
              this.detailsObj.isVideo = msg.operation_campaign_video;
              this.detailsObj.video = base.logURL + msg.operation_campaign_video;
              this.detailsObj.assocId = msg.influencer_campaign_assoc_id;
              this.detailsObj.amountType = this.checkPriceType(msg.price_type);
              this.detailsObj.platform = msg.operation_campaign_platform?msg.operation_campaign_platform.split(','):'';
              this.detailsObj.device = msg.operation_campaign_devices?msg.operation_campaign_devices.split(','):'';
              this.detailsObj.url = msg.operation_campaign_brurl?msg.operation_campaign_brurl:'';
//             价格处理
              if(priceList.length>=2){
                if(priceList[0]!=priceList[priceList.length-1]){
                  priceList[0]=(priceList[0]==0?10:priceList[0]);
                  resultprice=this.detailsObj.amountType==="CPS"?priceList[0]+"% - "+priceList[priceList.length-1]+"%":"$"+priceList[0]+"- $"+priceList[priceList.length-1];
                }else{
                  resultprice=this.detailsObj.amountType==="CPS"?priceList[priceList.length-1]+"%":"$"+priceList[priceList.length-1];
                }
              }else{
                  resultprice=this.detailsObj.amountType==="CPS"?((msg.price/1000).toFixed(2))+"%":"$"+(msg.price/1000).toFixed(2)
              }
//              package价格处理
              if(msg.price_type==2){
                  resultprice="$"+(msg.price/1000).toFixed(2);
              }
//             what is price处理
              if(msg.price_type==4){
                  tbobj.forEach((c,i)=>{
                      arr.push({
                        country:c.country,
                        ios:c.ios=='-'?"-":c.ios+"%",
                        android:c.android=='-'?'-':c.android+"%",
                        pc:c.pc=='-'?"-":c.pc+"%"
                      })
                  })
              }
              this.detailsObj.amount = resultprice;
              this.detailsObj.pics = msg.operation_campaign_pics;
              this.brandCurrent.pics = msg.operation_campaign_pics ? msg.operation_campaign_pics:'';
              this.brandCurrent.desc = msg.operation_campaign_desc;
              this.brandCurrent.isVideo = msg.operation_campaign_video;
              this.brandCurrent.video = base.logURL + msg.operation_campaign_video;
              this.brandCurrent.id = msg.brand_campaign_id;
              this.pageUrl='http://'+this.userPage+'.star.store/'+msg.abname;
              this.tableData2=msg.price_type==4?arr.reverse():tbobj.reverse();
            }
          }
        })
      },
      submitUrl(form){
        this.$refs[formName].validate((valid) => {
          if(valid){
            if(this.feedForm.value){
              let arr=[];
              arr.unshift({
                platform:0,
                feed:this.feedForm.value
              })
              createInfluencerPost({
                influencer_campaign_assoc_id: this.associd,
                feeds: JSON.stringify(arr),
              }).then((data) => {
                if(data.data.code === 0) {
                  this.feedForm.domains.push({
                    value:this.feedForm.value,
                    key:'',
                  })
                  this.isdomain=false;

                }
              });
            }
          }else{
            return false
          }
        })

      },
      report(id){
        getReport({
          influencer_campaign_assoc_id: id
        }).then((data)=>{
          if(data.data.code===0){
              this.reportObj.click=data.data.clicks;
              this.reportObj.conversion=data.data.conversion;
              this.reportObj.total=(data.data.total_revenue/1000).toFixed(2);
              let obj=[];
               data.data.data.forEach((c,i)=>{
                 obj.push({
                   date:c.date_time,
                   click:c.click,
                   uclick:c.uclick,
                   revenue:c.prices===0?0:((c.prices/1000).toFixed(2)===NaN?'-':(c.prices/1000).toFixed(2)),
                   cr:c.uclick==0?0:(c.action/c.uclick*100).toFixed(2)+'%',
                   conv:c.action,
                 })
               })
               this.getPostLink();
               this.tableData=obj;
          }else if(data.data.code===1){
              this.dialog=true;
          }
        })
      },
//      下载
      download(){
        getPackageMsg({
          op_campaignid:this.associd
        }).then((data)=>{
          if(data.data.code === 0){
            location.href=base.logURL + data.data.msg;
          }
        }).catch((res) => {
          this.$message.error(res);
        });
      },
      isOpenData(){
        this.openFlag=!this.openFlag;
      },
      handleClick(){

      }
    }
  }
</script>

<style scoped>
  .btn{
    margin-left:10px;
    line-height: 0px;
    z-index:20;
  }
  #copy-board{
    font-size:18px;
    font-weight:bold;
    color:#c1272d;
  }
  .material{
    color:#c1272d;
    cursor:pointer;
  }
  .material:hover{
    text-decoration: underline;
    text-decoration-color: #c1272d;
  }
  .promotion{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:20px;
    width:100%;
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    height: 50px;
    line-height: 50px;
  }
  .promotion .link-left,.promotion .link-right{
    font-weight:bold;
    width:100%;
    box-sizing: border-box;
    text-align:center;
  }
  i{
    font-style: normal;
  }
  .data{
    padding-left:0;
  }

 .data h1{
    font-size:20px;
    margin:20px 0;
  }
  .search-list{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    justify-content: space-between;
    margin: 20px 0;
  }
  .clicks span{
    font-size:40px;
    font-weight:bold;
  }
  .clicks span i {
    font-size:20px;
  }
  .clicks{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    justify-content: space-between;
    padding:0;
  }
  .clicks li{
    width: 32%;
    height: 150px;
    background:#f5f7fa;
    display: -webkit-flex;
    display: flex;
    border-radius:8px;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .clicks li:nth-child(2){
    background:#f9ced0;
  }
  .campaign-details {
    margin: 0 auto;
    padding: 10px 20px;
  }
.dialog{
  display: -webkit-flex;
  display: flex;
  /* for uc */

  display: -ms-flexbox; /* TWEENER - IE 10 */
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #c1272d;
  box-sizing: border-box;
  position: relative;
}
.dialog .close{
  position:absolute;
  right:10px;
  top:0px;
}
.dialog .close i{
  font-size:16px;
}
.dialog span{
  display: block;
  text-align: center;
  line-height: 50px;
}
.dialog span i{
  font-size:35px;
  color:#fff;
}
.dialog hgroup{
  margin-left:20px;
  display: -webkit-flex;
  display: flex;
  /* for uc */

  display: -ms-flexbox; /* TWEENER - IE 10 */
  flex-direction: column;
  justify-content: center;
}
.dialog h1{
  font-size:18px;
}
  .take-campaign-details p.amount-box{
    font-size: 14px;
    padding: 0;
    font-family: "微软雅黑";
    margin-bottom: 20px;
  }
  .campaign-list-card-left-content p{
    margin-bottom:5px;
    overflow: hidden;
    min-width:620px;
    word-break: break-all;
  }
  .campaign-list-card-left-content p span{
    float:left;
    font-size: 14px;
    line-height:25px;
  }
  .campaign-list-card-left-content img{
    width:100%;
    display: block;
    margin-bottom: 3px;
  }
  .campaign-list-card-left-content p span:nth-child(1){
    width:110px;
    font-weight:bold;
  }
  .campaign-list-card-left-content p span:nth-child(2){
    margin-left:10px;
    width:80%;
  }
  .social{
    display: -webkit-flex;
    display: flex;
    /* for uc */
    margin-right:10px;
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .social i{
    min-width:90px;
    margin-right:10px;
  }
  .country,.device{
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .device i,.country i{
    display: block;
  }
  .country{
    width:100%;
    /*margin-left:10%;*/
  }
  .device{
    width:180px;
  }
  .device i{
    width:60px;
  }
  .country i{
    width:80px;
    margin-right:20px;
  }
  .subcountry{
    display: -webkit-flex;
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-wrap:wrap;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1;
    flex: 1;
    /* for uc */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
  }
  .back-list-btn {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .take-campaign-details {
    position: relative;
    background-color: #f5f7f9;
    border-radius: 8px;
    padding: 20px 20px;
    margin: 15px 0;
  }
  .grid-content>h1 {
    font-size: 28px;
  }

  .take-campaign-details .grid-content>p {
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
    margin: 5px 0px;
  }

  .download {
    position: absolute;
    left: 10px;
    top: 0;
  }

  .take-campaign-details-logo {
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
  }

  .take-campaign-details-logo>img {
    border-radius: 10px;
    overflow: hidden;
  }
  .campaign-list-card-left .el-row img{
    border-radius:8px;
    float:left;
    width:80px;
    height:80px;
  }
  .take-campaign-details-msg{
    margin-top: 20px;
  }
  .take-campaign-details-msg>p{
    /*margin-top: 20px;*/
    line-height: 30px;
  }
  .take-campaign-details h1 {
    /*text-shadow: 2px 2px 5px #666;*/
    padding-left: 20px;
    font-size: 26px;
  }

  .take-campaign-details h4 {
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: normal;
  }
  .take-campaign-details h4>span {
    font-weight: bold;
  }
  .take-campaign-details p {
    font-size: 22px;
    color: #666;
  }
  .take-btn {
    width: 50%;
  }

  #main-chart1 {
    height: 300px;
    width: 100%;
  }

  .campaings-card-item-second {
    padding-top: 20px;
    text-align: center;
    padding-left: 20px;
  }

  .campaings-card-item-second div {
    text-align: left;
    font-size: 22px;
  }

  .campaings-card-item-second div {
    font-size: 14px;
    color: #999;
  }

  .campaings-card-item-second h2 {
    font-weight: normal;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 18px;
    color: #333;
  }

  .dialog-step-one {
    text-align: center;
    padding-bottom: 30px;
  }

  .dialog-step-one>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-one>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .dialog-step-one-li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
  }

  .dialog-step-one>ul>li>img {
    width: 60px;
    display: block;
    margin-bottom: 10px;
  }

  .active {
    color: #c1272d;
  }

  .activeli {
    border-color: #c1272d;
  }

  .dialog-step-two>h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .dialog-step-two-btn {
    text-align: center;
    margin: 20px 0;
  }

  .dialog-step-two>p {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #c1272d;
    color: #fff;
  }

  .dialog-step-two-left {
    padding: 14px;
  }

  .dialog-step-two-right {
    padding: 14px;
  }

  .dialog-step-three {
    text-align: center;
  }

  .dialog-step-three>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-three-btn {
    text-align: center;
    margin: 20px 0 30px;
  }

  .platform-list {
    padding: 0 0 20px;
  }

  .platform-list h4 {
    font-weight: normal;
    text-align: left;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .platform-list h4>span {
    float: left;
    width: 90px;
    text-align: right;
  }
  .platform-list h4>a {
    padding-left: 10px;
    display: block;
    margin-left: 90px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .platform-list p {
    /*padding: 0;*/
    font-size: 16px;
    word-wrap: break-word;
    word-break: normal;
  }
  .dialog-step-two>h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .dialog-step-two-btn {
    text-align: center;
    margin: 20px 0;
  }

  .dialog-step-two>p {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #c1272d;
    color: #fff;
  }

  .dialog-step-two-left {
    padding: 14px;
  }

  .dialog-step-two-right {
    padding: 14px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    width: 100%;
  }
  .dialog-step-two-right-desc{
    padding: 14px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .dialog-step-one {
    text-align: center;
    padding-bottom: 30px;
  }

  .dialog-step-one>h2 {
    margin-bottom: 30px;
  }

  .dialog-step-one>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .dialog-step-one-li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
  }

  .dialog-step-one>ul>li>img {
    width: 60px;
    display: block;
    margin-bottom: 10px;
  }
  .active {
    color: #c1272d;
  }

  .activeli {
    border-color: #c1272d;
  }
  .post-ruls{
    width: 606px;
    margin: 0 auto;
  }
  .post-ruls>h2{
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .post-ruls {
    width: 606px;
    margin: 0 auto;
  }

  .post-ruls>h2 {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .post-box{
    width:100%;
    box-sizing:border-box;
    font-weight:bold;
    position:relative;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column
  }
  .post-ruls img {
    display: inline-block;
    height: 36px;
    vertical-align: top;
  }

  .post-ruls>div {
    margin: 20px;
  }
  .post-input{
    display: inline-block;
    width: 80%;
    margin-left: 20px;
  }
  .btn-groups{
    margin: 20px 0;
    text-align: center;
  }
  .dialogfooter{
    text-align: center;
  }
  .take-more-dialog1{
    padding: 10px;
  }
  .take-more-dialog1>h3{
    padding: 10px;
    text-align: center;
  }
  .take-more-dialog1>span{
    padding: 10px;
  }
  .campaign-list-card {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    margin-bottom:10px;
  }
  .campaign-list-card-left{
    margin-right: 150px;
  }
  .campaign-list-card-left-logo>img{
    width: 96px;
    height: 96px;
    border-radius: 8px;
    float: left;
  }
  .campaign-list-card-left-logo>h2{
    font-size:18px;
    color: #c1272d;
    margin-left: 120px;
    line-height: 25px;
  }
  .campaign-list-card-left-logo>p{
    margin-left: 120px;
    line-height: 30px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-flex;
    display: flex;
    /* for uc */

    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .campaign-list-card-left-desc{
    margin: 20px 20px 0 0;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 74px;
    overflow: hidden;
    font-size: 14px;
    line-height: 25px;
  }
  .campaign-list-card-right{
    margin-right:10px;
    width: 200px;
    float: right;
    text-align: right;
  }
  .campaign-list-card-right>p{
    padding: 0;
    color:#c1272d;
    margin-bottom:5px;
  }
  .campaign-list-card-right p span{
    font-size:14px;
  }
  .dialog-step-two-right-pop{
    display: inline-block;
    font-size: 12px;
    color: #c1272d;
    border: 1px solid #c1272d;
    padding: 10px;
    position: relative;
    /*margin-left: 120px;*/
  }
  .dialog-step-two-right-pop>div{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -11px;
    left: 200px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #c1272d;
  }
  ul,li{
    list-style:none;
  }
  .nomargin{
    width:100%;
    padding: 15px 0;
    box-sizing: border-box;
    margin:0 0 10px 0;
    overflow: hidden;
    min-height: 160px;
    background:#fff;
    z-index:999;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nomargin .el-form-item{
    margin-bottom:0px;
    padding:0px;
    height: 36px;
    line-height: 36px;
  }
  .nomargin .center-item{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom:10px;
  }
  .link-right{
    display: -webkit-flex;
    display: flex;
    /* for uc */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
  }
  .campaign-list-card-left .el-row .mini-img{
    width:20px;
    height:20px;
    border-radius:5px;
  }
</style>
