<template>
<div>
    <el-popover
    ref="popover4"
    placement="right"
    width="750"
    trigger="click">
    <img style="width: 100%; height: 75%" v-bind:src="banner"></img>
    </el-popover>
    <el-popover
    ref="popover5"
    placement="right"
    width="400"
    trigger="click">
    <img style="width: 100%; height: 25%" v-bind:src="ins"></img>
    </el-popover>
     <el-popover
    ref="popover6"
    placement="right"
    width="400"
    trigger="click">
    <img style="width: 100%; height: 25%" v-bind:src="twitter"></img>
    </el-popover>
    <div class="promotion-body">
        <div>
             <h1 class="promotion-title1">Bonus Activity</h1>
             <p class="promotion-text1">To express our great gratitude to every Star.Storer, we've launched this bonus activity. Three simple steps will help you get the bonus.</p>
        </div>
        <div class="promotion-segment">
            <p class="promotion-title2">I. Check Conversions</p>
            <p class="promotion-text1">Check your account to make sure that you have reached 100 conversions totally.</p>
        </div>
        <div class="promotion-segment">
            <p class="promotion-title2">II. Make Post</p>
            <p class="promotion-text1">Go to http://www.star.store and make a screenshot, then post it & @Star.Store</p>
            <div style="padding-left: 100px; padding-top: 20px">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">sample:</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark"><img v-popover:popover4 style="width: 50%; height: 50%" v-bind:src="banner"></img></div></el-col>
                </el-row>
                    <!--<span style="margin: 122px">sample:</span>-->
                    <!--<span style="width: 50%; height: 50%">
                        <img v-popover:popover4 style="width: 50%; height: 50%" v-bind:src="banner"></img>
                    </span>-->
            </div>
            <p class="promotion-text1" style="padding-top: 20px">Make a post and @Star.Store like below:</p>
            <div style="padding-left: 65px; padding-top: 20px">
                <el-row>
                    <el-col :span="12"><div class="grid-content bg-purple-dark">Instagram:</div></el-col>
                    <el-col :span="12"><div class="grid-content bg-purple-dark">Twitter:</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="12"><div class="grid-content bg-purple-dark"><img v-popover:popover5 style="width: 75%; height: 50%" v-bind:src="ins"></img></div></el-col>
                    <el-col :span="12"><div class="grid-content bg-purple-dark"><img v-popover:popover6 style="width: 75%; height: 50%" v-bind:src="twitter"></img></div></el-col>
                </el-row>
                <!--<span style="margin: 95px">Instagram:</span>
                <span style="margin: 70px">Twitter:</span>
                <span style="width: 30%; height: 25%"><img v-popover:popover5 style="width: 30%; height: 25%" v-bind:src="ins"></img></span>
                <span style="width: 20%; height: 25%; padding-left: 20px;"><img v-popover:popover6 style="width: 30%; height: 25%" v-bind:src="twitter"></img></span>-->
            </div>
        </div>
        <div class="promotion-segment" style="margin-top:30px">
            <p class="promotion-title2">III. Get Bonus</p>
            <p class="promotion-text1">The $30 bonus will be sent to your account automatically.</p>
            <p class="promotion-text1">    200 conversions - $70</p>
            <p class="promotion-text1">    400 conversions - $150</p>
            <p class="promotion-text1">     </p>
            <p class="promotion-text1">    More activities are coming soon.</p>
        </div>
    </div>
</div>
</template>
<script>
    import banner from '../../assets/promotion-banner.jpg';
    import ins from '../../assets/promotion-ins.jpg';
    import twitter from '../../assets/promotion-twitter.jpg';
    export default {
        name : 'promotion',
        data() {
            return {
                banner : banner,
                ins : ins,
                twitter : twitter
            }
        },
    }
</script>
<style scoped>
.promotion-body {
    width: 60%;
    padding: 5px;
    border: 0;
    background-color: #fff;
}
.promotion-title1 {
    color: #c1272d;
    padding: 15px;
}
.promotion-title2 {
   font-size: 20px;
   padding: 20px;
   color: #c1272d
}
.promotion-text1 {
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.promotion-segment {
    border-top: 1px solid #ccc;
}
</style>
