<template>
  <div class="qsearch" v-if="chz">

      <el-form :model="form">
        <el-form-item label="1、 你更加喜欢的合作模式是什么？">
          <el-radio-group v-model="form.radio1">
            <el-radio :label="3">A 固定单价付款（CPA CPS CPC CPM）</el-radio>
            <el-radio :label="6">B package</el-radio>
            <el-radio :label="9">C both of them</el-radio>
          </el-radio-group>

        </el-form-item>

        <el-form-item label="2、 你希望每个POST可以带来多少收益？">
          <el-radio-group v-model="form.radio2">
            <el-radio :label="3">A <=$100</el-radio>
            <el-radio :label="6">B $100<>$500</el-radio>
            <el-radio :label="9">C $500<>$1000</el-radio>
            <el-radio :label="10">D >=$1000</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="3、 你感兴趣的推广品类都有什么？">
          <el-radio-group v-model="form.radio3">
            <el-radio :label="3">A APP</el-radio>
            <el-radio :label="6">B Brand</el-radio>
            <el-radio :label="9">C 电商销售</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="4、 变现动机：">
          <el-radio-group v-model="form.radio4">
            <el-radio :label="3">A 喜欢推广感兴趣的产品</el-radio>
            <el-radio :label="6">B 希望有长期稳定收益</el-radio>
            <el-radio :label="9">C 希望平台帮助形成更大的影响力</el-radio>
            <el-radio :label="10">D 有个人IP输出期望</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="5、 签约情况">
          <el-radio-group v-model="form.radio5">
            <el-radio :label="3">A 自由网红</el-radio>
            <el-radio :label="6">B 已签约网红</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="6、（已签约网红）是否有商业约束？">
          <el-radio-group v-model="form.radio6">
            <el-radio :label="3">A Yes</el-radio>
            <el-radio :label="6">B No</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="7、 （自由网红）是否有过商业推广经验？推广过什么产品？可填写一个POST链接证明你推广过这个产品。">
          <el-radio-group v-model="form.radio7">
            <el-radio :label="3">A Yes</el-radio>
            <el-radio :label="6">B No</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="8、 你对starstore有什么建议或者意见？手动填写">
         <el-input v-model="form.radio8" type="textarea" style="margin:10px 0;padding:0 40px;box-sizing: border-box"></el-input>
        </el-form-item>

      </el-form>
  </div>
  <div class="qsearch" v-else="chz">

    <el-form :model="form">
      <el-form-item label="1、which model of cooperation do you prefer?">
        <el-radio-group v-model="form.radio1">
          <el-radio :label="3">A Fixed unit price settlement</el-radio>
          <el-radio :label="6">B Package</el-radio>
          <el-radio :label="9">C Both</el-radio>
        </el-radio-group>

      </el-form-item>

      <el-form-item label="2、How much do you want to earn in every promotion?">
        <el-radio-group v-model="form.radio2">
          <el-radio :label="3">A <=$100</el-radio>
          <el-radio :label="6">B $100<>$500</el-radio>
          <el-radio :label="9">C $500<>$1000</el-radio>
          <el-radio :label="10">D >=$1000</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="3、 What type of product do you want to promote?">
        <el-radio-group v-model="form.radio3">
          <el-radio :label="3">A APP</el-radio>
          <el-radio :label="6">B Brand</el-radio>
          <el-radio :label="9">C  E-commerce</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="4、What do you want from StarStore ?">
        <el-radio-group v-model="form.radio4">
          <el-radio :label="3">A Just want to promote interesting product to followers.</el-radio>
          <el-radio :label="6">B Hope to have long-term and stable income.</el-radio>
          <el-radio :label="9">C Hope that the platform to help form a greater influence.</el-radio>
          <el-radio :label="10">D  Expect to form personal IP(Intellectual Property).</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="5、 Have you contracted with other MCN companies?">
        <el-radio-group v-model="form.radio5">
          <el-radio :label="3">A  No. I am a free influencer.</el-radio>
          <el-radio :label="6">B  Yes. I have been signed. </el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="6、Do you have commercial constraints?">
        <el-radio-group v-model="form.radio6">
          <el-radio :label="3">A Yes</el-radio>
          <el-radio :label="6">B No</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="7、Do you have commercial promotion experience? If so, you can fill in a promotional POST link.">
        <el-radio-group v-model="form.radio7">
          <el-radio :label="3">A Yes</el-radio>
          <el-radio :label="6">B No</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="8、Do you have any suggestions on starstore? If so, please fill in below, because of your proposal, our service to you will be better.">
        <el-input v-model="form.radio8" type="textarea" style="margin:10px 0;padding:0 40px;box-sizing: border-box"></el-input>
      </el-form-item>
      <div class='submit-button'>
        <el-button >Cancel</el-button>
        <el-button type="primary">Submit</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
  export default {
    name: 'home',
    data() {
      return {
        msg: 'Welcome',
        form: {
          radio1:'',
          radio2:'',
          radio3:'',
          radio4:'',
          radio5:'',
          radio6:'',
          radio7:'',
          radio8:'',
        },
        chz:false,
        formLabelWidth: '120px'
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('text','Questionnaire');
    },
    methods: {

    }
  }
</script>

<style>

</style>
