<template>
  <div class="settings">
    <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="Profile" name="first">
        <div class="settings-item">
            <el-form label-position="right" label-width="130px" :rules="rules" :model="form" ref="form">
                <el-form-item label="Page:" prop="page">
                        <el-popover
                            placement="right"
                            width="250"
                            v-if="!isdisabled"
                            trigger="focus"
                            content="This is your homepage in Star.Store. Type a name to create your unique promotion link, it is unchangeable! Any questions, please contact your publish manager.">
                            <el-input :disabled="isdisabled" slot="reference" v-model="form.page" placeholder="" @blur="onCheckPageName" style="width: 50%;">
                                <div slot="prepend">https://</div>
                                <div slot="append">.star.store</div>
                            </el-input>
                        </el-popover>
                        <p v-if="isdisabled">https://{{form.page}}.star.store</p>
                    </el-form-item>
                <el-form-item label="Email:" prop="email">
                    <el-input style="width:50%;" :disabled="isemaiDisable" v-model="form.email" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Gender:" prop='gender'>
                    <el-select style="width:50%;" v-model="form.gender" placeholder="Select">
                        <el-option label="Male" value='0'></el-option>
                        <el-option label="Female" value='1'></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Birthday:" >
                  <el-form-item prop='birthday'>
                    <el-date-picker
                        v-model="form.birthday"
                        type="date"
                        style="width:50%;"
                        format="yyyy-MM-dd"
                        placeholder="Select">
                    </el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item label="GEO:" prop='geo'>
                  <el-select
                    style="width:50%;"
                    v-model="form.geo"
                    placeholder="Select"
                  >
                    <el-option v-for='item in countryList' :label='item.label' :key="item.value"  :value="item.value"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="City:" prop="city">
                     <el-input  style="width:50%;" v-model="form.city" placeholder="Type in City"></el-input>
                </el-form-item>
                <el-form-item label="Fans Regions:" prop="fansregion">
                    <el-select v-model="form.fansregion" filterable multiple placeholder="Fans Regions" style="width: 50%">
                        <el-option v-for="(item, index) in countryList" :key="item.label+index" :label="item.label" :value="item.value" class="el-select-item"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Interests:" prop='interests'>
                    <el-checkbox-group style="width:50%;" v-model="form.interests">
                        <el-checkbox label="Shopping" style="margin-left:15px;"></el-checkbox>
                        <el-checkbox label="Beauty"></el-checkbox>
                        <el-checkbox label="Games"></el-checkbox>
                        <el-checkbox label="Lifestyle"></el-checkbox>
                        <el-checkbox label="Social"></el-checkbox>
                        <el-checkbox label="Educations"></el-checkbox>
                        <el-checkbox label="Others"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="Avatar:" prop="logo" required>
                    <el-upload
                        class="avatar-uploader"
                        name="logo"
                        :action="baseURL"
                        :show-file-list="false"
                        :on-success="handleAvatarScucess"
                        :before-upload="beforeAvatarUpload">
                        <img v-if="imageBase" :src="imageBase" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="take-btn" @click="onSubmit('form')">UPDATE</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-tab-pane>
<!--social Media-->

    <el-tab-pane label="Social Platform" name="second">
        <div class="settings-item media-box">
          <h1>Here is your social media information, if you have authrized all of it, please take the campaigns to make money. Or you can click on the social media icon to authrize it to star.store.</h1>
            <ul>
                <li>
                    <span @click="checkUrl('t')"><img :src="twitter" alt=""></span>
                    <i>Twitter</i>
                </li>
                <li >
                  <span @click="checkUrl('f')"><img :src="facebook" alt=""></span>
                  <i>Facebook</i>
                </li>
               <li >
                 <span  @click="checkUrl('y')"><img :src="youtube" alt=""></span>
                 <i>YouTube</i>
                </li>
                <li>
                  <span  @click="checkUrl('i')"><img :src="ins" alt=""></span>
                  <i>Instagram</i>
                </li>
                <li >
                  <span  @click="checkUrl('g')"><img :src="google" alt=""></span>
                  <i>Google+</i>
                </li>
            </ul>
        </div>


    </el-tab-pane>
<!--Password-->
    <el-tab-pane label="Password" name="third">
        <div class="settings-item">
            <el-form label-position="right" label-width="140px" :rules="rules2" :model="form3" ref="form3">
                <el-form-item label="Old Password:" prop="old">
                    <el-input type="password" v-model="form3.old" placeholder="" style="width: 50%;" @blur="onCheckPassword"></el-input>
                </el-form-item>
                <el-form-item label="New Password:" prop="pass">
                    <el-input type="password" v-model="form3.pass" placeholder="" style="width: 50%;"></el-input>
                </el-form-item>
                <el-form-item label="Confirm Password:" prop="checkPass">
                    <el-input type="password" v-model="form3.checkPass" placeholder="" style="width: 50%;"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="take-btn" @click="onSubmit('form3')">SUBMIT</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-tab-pane>
    </el-tabs>
    </div>
</template>

<script>
    import {
        setPages,
        checkPages,
        changePassword,
        setInfluencerSocial,
        getInfluencerSocial,
        updateInfluencerDetail,
        getInfluById,
        socialmedia
    } from '../../apiRequest.js';
    import moment from 'moment';
    import config from '../../config.js';
    import sha1 from 'sha1';
    import store from 'store2';
    import countryList from '../../country.json';
    import avatar from '../../assets/avatar.png';
    export default {
        name: 'settings',
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Type in new password'));
                } else {
                    if (this.form3.checkPass !== '') {
                        this.$refs.form3.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Type in new password again'));
                } else if (value !== this.form3.pass) {
                    callback(new Error('Different passwords!'));
                } else {
                    callback();
                }
            };
            return {
                influencerId:'',
                plat:['facebook','instragm','google','twitter','youtube'],
                socialMedia:[],
                twitter:'',
                google:'',
                ins:'',
                facebook:'',
                youtube:'',
                tUrl:'',
                iUrl:'',
                fUrl:'',
                gUrl:'',
                yUrl:'',
                msg: 'Page name is required',
                isemaiDisable:true,
                ispasscheck: false,
                loading: false,
                isdisabled: false,
                isOpen: true,
                baseURL : config.uploadURL,
                imageBase: '',
                imgeL : '',
                form: {
                    page: '',
                    email: '',
                    geo: '',
                    id: '',
                    gender: '',
                    birthday:'',
                    region: '',
                    paypal: '',
                    fansregion: [],
                    interests: [],
                    city: '',
                    social_media_account: '',
                    social_media: ''
                },
                form1: {
                    in: '',
                    yo: '',
                    fa: '',
                    tw: '',
                    mu: '',
                    li: '',
                },
                form1Btn: {
                    in: false,
                    yo: false,
                    fa: false,
                    tw: false,
                    mu: false,
                    li: false
                },
                form3: {
                    old: '',
                    pass: '',
                    checkPass: ''
                },
                countryList: [],
                mediaList: [{
                    label: 'Instagram',
                    value: 'Instagram'
                }, {
                    label: 'Facebook',
                    value: 'Facebook'
                }, {
                    label: 'Twitter',
                    value: 'Twitter'
                }, {
                    label: 'YouTube',
                    value: 'Youtube'
                }, {
                    label: 'Musical.ly',
                    value: 'Musical.ly'
                }, {
                    label: 'Live.ly',
                    value: 'Live.ly'
                }],
                activeName: 'first',
                routeParam: this.$route.params.param,
                rules: {
                    page: [
                        { required: true, message: 'Page name is required!', trigger: 'blur'},
                        { min: 3, max: 30, message: 'The length of page name is limited from 3 to 30 letters.', trigger: 'blur' }
                    ],
                    geo : [{
                        required: true,
                        message: 'Please Select',
                        trigger: 'blur'
                    }],
                    gender:[{
                      required: true,
                      message: 'Please Select',
                      trigger: 'change'
                    }],
                    birthday:[{
                      type:'date',
                      required: true,
                      message: 'Please Select',
                      trigger: 'change'
                    }],
                    email: [{
                        required: true,
                        message: 'Type in e-mail',
                        trigger: 'blur'
                    }, {
                        type: 'email',
                        message: 'E-mail error',
                        trigger: 'blur,change'
                    }],
                    fansregion : [{
                        type : 'array',
                        required: true,
                        message: 'Select Fans Region',
                        trigger: 'blur'
                    }],
                    city : [{
                        required: true,
                        message: 'Type in City',
                        trigger: 'blur'
                    }],
                    interests:[{
                      type:'array',
                      required: true,
                      message: 'Please Select',
                      trigger: 'change'
                    }]
                },
                rules2: {
                    pass: [{
                        required: true,
                        validator: validatePass,
                        trigger: 'blur'
                    }, {
                        min: 6,
                        max: 20,
                        message: 'The password should be 6-20 figures',
                        trigger: 'blur'
                    }],
                    checkPass: [{
                        required: true,
                        validator: validatePass2,
                        trigger: 'blur'
                    }, {
                        min: 6,
                        max: 20,
                        message: 'The password should be 6-20 figures',
                        trigger: 'blur'
                    }],
                    old: [{
                        required: true,
                        message: 'Type in old password!',
                        trigger: 'blur'
                    }]
                },
                userMsg: '',
                userId: '',
                isOk: false,
                oldPassword: ''
            }
        },
        watch: {
            '$route.params.param':function (val) {
                this.chooseToLoad( val )
            }
        },
        created() {
            window.scrollTo(0, 0);
            countryList.forEach((c, i) => {
                this.countryList.push({
                    value: c.iso2,
                    label: c.countryName
                })
            })
            this.chooseToLoad( this.routeParam );
            let msg = store('influencerUser').user;
            this.influencerId=msg.influencer_user_id;
            socialmedia({influ_id:msg.influencer_user_id}).then((data)=>{
              let platdata=data.data.data;
              if(data.data.data){
                let plat=[];
                this.fUrl="http://shop.star.store/authlogin/platform/facebook/start?influ="+this.influencerId;
                this.iUrl="http://shop.star.store/authlogin/platform/instagram/start?influ="+this.influencerId;
                this.tUrl="http://shop.star.store/authlogin/platform/twitter/start?influ="+this.influencerId;
                this.gUrl="http://shop.star.store/authlogin/platform/googleplus/start?influ="+this.influencerId;
                this.yUrl="http://shop.star.store/authlogin/platform/youtube/start?influ="+this.influencerId;
                platdata.forEach((c,i)=>{
                    if(c.influencer_user_platform=='Facebook'){
                       this.fUrl="https://www.facebook.com/"+c.platform_user_id
                    }else if(c.influencer_user_platform=='Instagram'){
                        this.iUrl="https://www.instagram.com"
                    }else if(c.influencer_user_platform=='Twitter'){
                        this.tUrl="https://twitter.com/"+c.platform_user_name
                    }else if(c.influencer_user_platform=='GooglePlus'){
                        this.gUrl="https://plus.google.com/"+c.platform_user_id
                    }else if(c.influencer_user_platform=='Youtube'){
                        this.yUrl="https://www.youtube.com/channel/"+c.platform_user_id
                    }else{}
                    plat.push(c.influencer_user_platform);
                });
                this.facebook=plat.indexOf('Facebook')>-1?require('../../assets/tw.png'):require('../../assets/f.png');
                this.ins=plat.indexOf('Instagram')>-1?require('../../assets/fa.png'):require('../../assets/m.png');
                this.twitter=plat.indexOf('Twitter')>-1?require('../../assets/in.png'):require('../../assets/t.png');
                this.google=plat.indexOf('GooglePlus')>-1?require('../../assets/gg.jpg'):require('../../assets/g.png');
                this.youtube=plat.indexOf('Youtube')>-1?require('../../assets/mu.png'):require('../../assets/y.png');
              }
            });
            getInfluById({influid : msg.influencer_user_id}).then((data)=>{
                if (data.data.code === 0) {
                    store('influencerUser', data.data.msg);
                    msg = store('influencerUser').user;
                    let mmm = store('influencerPage');
                    this.email=msg.influencer_user_email;
                    this.form.email = msg.influencer_user_email;
                    this.oldPassword = msg.influencer_user_password;
                    this.form.page = msg.influencer_user_page || mmm;
                    this.form.geo = msg.influencer_user_country;
                    this.isdisabled = msg.influencer_user_page || mmm ? true : false;
                    this.userId = msg.influencer_user_id;
                    this.form.id = msg.influencer_user_id;
                    this.form.gender = '' + (msg.influencer_user_sex===null||msg.influencer_user_sex===2?'':msg.influencer_user_sex);
                    this.form.paypal = msg.influencer_user_paypal;
                    this.form.birthday = new Date(msg.influencer_user_birthday.replace(/-/g,','));
                    this.form.social_media = msg.influencer_user_socialmadia;
                    this.form.social_media_account = msg.influencer_user_socialmadia_account;
                    this.form.city = msg.influencer_user_city;
                    this.form.logo = msg.influencer_user_logo;
                    this.form.fansregion = msg.influencer_user_fansregion?msg.influencer_user_fansregion.split(','):[];
                    this.form.interests = msg.influencer_user_fansinterests?msg.influencer_user_fansinterests.split(','):[];
                    if (msg.influencer_user_logo)
                        this.imageBase = config.logURL + this.form.logo;
                    else
                        this.imageBase = avatar;
                    this.$parent.amount = msg.influencer_wallet_amount / 1000;

                    // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- Youtube 5 --
                    let media = msg.influencer_user_socialmadia;
                    if (media) {
                        if (media === 'Facebook') {
                            this.form1Btn.fa = true;
                            this.form1.fa = msg.influencer_user_socialmadia_account;
                        } else if(media === 'Instagram') {
                            this.form1Btn.in = true;
                            this.form1.in = msg.influencer_user_socialmadia_account;
                        } else if(media === 'Twitter') {
                            this.form1Btn.tw = true;
                            this.form1.tw = msg.influencer_user_socialmadia_account;
                        } else if(media === 'Musical.ly') {
                            this.form1Btn.mu = true;
                            this.form1.mu = msg.influencer_user_socialmadia_account;
                        } else if(media === 'Live.ly') {
                            this.form1Btn.li = true;
                            this.form1.li = msg.influencer_user_socialmadia_account;
                        } else if(media === 'Youtube') {
                            this.form1Btn.yo = true;
                            this.form1.yo = msg.influencer_user_socialmadia_account;
                        }
                    }
                }
            });
            this.userMsg = store('influencerUser');
            this.$parent.$emit('message', 'se');
            getInfluencerSocial({
                userid: msg.influencer_user_id
            }).then((data) => {
                if (data.data.code === 0) {
                    data.data.msg.forEach((_msg, index) => {
                        // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- Youtube 5 --
                        let sid = _msg.influencer_user_platform;
                        if (sid === 'Facebook') {
                            this.form1Btn.fa = true;
                            this.form1.fa = _msg.influencer_user_account;
                        } else if (sid === 'Instagram') {
                            this.form1Btn.in = true;
                            this.form1.in = _msg.influencer_user_account;
                        } else if (sid === 'Twitter') {
                            this.form1Btn.tw = true;
                            this.form1.tw = _msg.influencer_user_account;
                        } else if (sid === 'Musical.ly') {
                            this.form1Btn.mu = true;
                            this.form1.mu = _msg.influencer_user_account;
                        } else if (sid === 'Live.ly') {
                            this.form1Btn.li = true;
                            this.form1.li = _msg.influencer_user_account;
                        } else if (sid === 'Youtube') {
                            this.form1Btn.yo = true;
                            this.form1.yo = _msg.influencer_user_account;
                        }
                    })
                }
            })
        },
        methods: {
          checkUrl(plat){
              switch (plat){
                case 't':window.open(this.tUrl);break;
                case 'f':window.open(this.fUrl);break;
                case 'i':window.open(this.iUrl);break;
                case 'y':window.open(this.yUrl);break;
                case 'g':window.open(this.gUrl);break;
                default:break;
              }
          },
          chooseToLoad:function (val) {
            if( val === 'pr' ){
              this.activeName = 'first'
            }else if( val === 'so' ){
              this.activeName = 'second'
            }else if( val === 'pa' ){
              this.activeName = 'third'
            }
          },
          handleClick(tab){
              this.$router.push(
                  tab.name === 'first'?'pr'
                  :tab.name === 'second'?'so'
                  :'pa'
              )
          },
          submitPlatform(type) {
                let obj = {
                    userid: this.userMsg.user.influencer_user_id,
                    socialmeadia: type,
                    account: ''
                };
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- Youtube 5 --
                if (type === 'Instagram') {
                    obj.account = this.form1.in;
                } else if (type === 'Youtube') {
                    obj.account = this.form1.yo;
                } else if (type === 'Facebook') {
                    obj.account = this.form1.fa;
                } else if (type === 'Twitter') {
                    obj.account = this.form1.tw;
                } else if (type === 'Musical.ly') {
                    obj.account = this.form1.mu;
                } else if (type === 'Live.ly') {
                    obj.account = this.form1.li;
                }
                if (obj.account) {
                    setInfluencerSocial(obj).then((data) => {
                        if (data.data.code === 0) {
                            if (type === 'Instagram') {
                                this.form1Btn.in = true;
                            } else if (type === 'Youtube') {
                                this.form1Btn.yo = true;
                            } else if (type === 'Facebook') {
                                this.form1Btn.fa = true;
                            } else if (type === 'Twitter') {
                                this.form1Btn.tw = true;
                            } else if (type === 'Musical.ly') {
                                this.form1Btn.mu = true;
                            } else if (type === 'Live.ly') {
                                this.form1Btn.li = true;
                            }
                            this.$message.success('success');
                        }
                    }).catch((res) => {
                        this.$message.error(res);
                    });
                }
            },
            onCheckPassword() {
                if (this.oldPassword !== sha1(this.form3.old)) {
                    this.$message.error('Incorrect old password!');
                } else {
                    this.isOk = true;
                }
            },
            onCheckPageName() {
                checkPages({page: this.form.page.trim().toLowerCase()}).then((data) => {
                    if (data.data.code === 3) {
                        this.$message.error('The name is so popular,  please find a new one！');
                        this.form.page = '';
                    }
                }).catch((err) => {
                    this.$message.error(err);
                });
            },
            onSubmit(form) {
//              profile页面
                if (form === 'form') {
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            let reg = /\w|\d/g;
                            let str = this.form.page.trim().toLowerCase();
                            let arr = str.match(reg);
                            if(arr.length !== str.length){
                                this.$message.error('Only numbers and English letters are allowed no spaces!');
                                this.form.page = '';
                                return;
                            }
                            updateInfluencerDetail({
                                influencer_user_id: this.form.id,
                                influencer_user_page: this.form.page,
                                influencer_user_email: this.form.email,
                                influencer_user_sex: this.form.gender===''?2:parseInt(this.form.gender),
                                influencer_user_birthday: moment(this.form.birthday).format('YYYY-MM-DD'),
                                influencer_user_country: this.form.geo,
                                influencer_user_city: this.form.city,
                                influencer_user_fansregion: this.form.fansregion.length>0?this.form.fansregion.join(','):'',
                                influencer_user_fansinterests: this.form.interests.length>0?this.form.interests.join(','):'',
                                influencer_user_paypal: this.form.paypal,
                                influencer_user_logo: this.form.logo,
                                influencer_user_socialmadia: this.form.social_media,
                                influencer_user_socialmadia_account: this.form.social_media_account
                            }).then((data)=>{
                                if (data.data.code === 0) {
                                    let msg = store('influencerUser').user;
                                    let mmm = store('influencerPage');
                                  if (!msg.influencer_user_page && !mmm) {
                                    this.$router.push('/home/campaignList/ca');
                                  }else{
                                      this.$notify({
                                        type:'success',
                                        title:'success',
                                        message:''
                                      })
                                  }
                                  store('influencerPage', this.form.page);
                                  let influ = store('influencerUser');
                                  influ.user.influencer_user_logo = this.form.logo;
                                  influ.user.influencer_user_promotion_profile = true;
                                  store('influencerUser', influ);
                                  if (this.form.logo)
                                    this.$parent.avatar = config.logURL + this.form.logo;
                                  this.$parent.changePromotion();
                                }
                            }).catch((err)=>{
                                this.loading = false;
                                this.$message.error(err);
                            });
                        } else {
                            return false;
                        }
                    });
                } else if (form === 'form3') {
                    this.$refs['form3'].validate((valid) => {
                        if (valid) {
                            if (this.isOk) {
                                let obj = {
                                    userid: this.userId,
                                    oldpwd: sha1(this.form3.old),
                                    newpwd: sha1(this.form3.checkPass)
                                }
                                changePassword(obj).then((data) => {
                                    if (data.data.code === 0) {
                                        this.isOk = false;
                                        store('influencerUser', {});
                                        store('influencerPage', '');
                                        sessionStorage.setItem("dataToken", '');
                                        this.$router.push('/login');
                                    }
                                }).catch((res) => {
                                    this.loading = false;
                                    this.$message.error(res);
                                })
                            };
                        } else {
                            return false;
                        }
                    });
                }
            },
            handleAvatarScucess(res, file) {
                let url = config.logURL + res.msg;
                this.imageBase = url;
                this.form.logo = res.msg;
            },
            beforeAvatarUpload(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
        }
    }
</script>

<style scoped>
    .settings {
        margin: 20px auto;
        padding: 0px 40px;
    }
    .min-width-item{
      width:30%;
    }
    .settings-item {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .take-btn {
        width: 200px;
    }

    .page-setting{
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #c1272d;
        line-height: 18px;
        color: #666;
        font-size: 12px;
    }

    .avatar-uploader {
        border: 1px dashed #d9d9d9;
        /*border-radius: 6px;*/
        width: 120px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #f5f7fa;
        color: #20a0ff;
    }

    .avatar-uploader:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        display: block;
    }
  .wa{
    position: absolute;
    width: 300px;
    top: 5%;
    right: 10%;
    border: 1px solid saddlebrown;
    border-radius: 2%;
  }
  .wa h3{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    color: #c1272d;
  }
  .wa p{
    font-size: 12px;
    text-indent:2em;
    padding: 10px;
  }
  .media-box{
    padding:40px 20px;
  }
  .media-box h1{
    font-size:14px;
    width:80%;
    font-weight:normal;
  }
    .media-box li span{
      cursor:pointer;
    }
    .media-box ul{
      padding:0;
      width:80%;
      display: flex;
      justify-content: center;
    }
  .media-box ul span,.media-box ul i{
    display: block;
    font-size:13px;
  }
  .media-box img{
    width:100%;
    border-radius:10px;
  }
  i{
    font-style: normal;
  }
  .media-box a{
    color:#c1272d;
  }
  .media-box li{
      margin-left: 15px;
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction:column;
  }
  .media-box li span{
    width: 50px;
    height: 50px;
  }
</style>
