<template>
    <div class="take-campaign">
        <div class="take-campaign-details">
            <!--<el-button type="text" class="back-list-btn"  @click="onClick('back')">
                <i class="fa fa-arrow-circle-left fa-3x" style="color:#a161c9" aria-hidden="true"></i>
            </el-button>-->
            <el-row :gutter="20">
                <el-col :span="20">
                    <div class="take-campaign-details-logo">
                        <img :src="msg.logo" alt="logo">
                    </div>
                    <div class="take-campaign-details-msg">
                        <h1>{{msg.name}}</h1>
                        <h3>{{msg.note}}</h3>
                    </div>
                </el-col>
                <el-col :span="3">
                    <div>
                        <el-button type="primary" style="width:100%;margin-top:50px;" @click="onClick('take')">TAKE</el-button>
                    </div>
                </el-col>
            </el-row>
            <el-row class="page-msg">
                <p> <span>Page: </span> https://{{userPag}}.star.store </p>
                <el-col :span="12" :offset="6">
                    <div class="page-info">The page is used to process the promotion, it is better to add this link in your post or show it in your video, with that your sharing will be much easier to be reached by followers.</div>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="" v-model="dialogFormVisible" :show-close="false">
            <div v-if="step.one" class="dialog-step-one">
                <h2>Which do you want to post?</h2>
                <ul>
                    <li @click="selectPlatform('yo')" :class="{'dialog-step-one-li': true, 'activeli': post.yo}" >
                        <img src="../../assets/mu.png" alt="">
                        <p :class="{'active': post.yo}">YouTube</p>
                    </li>
                    <li @click="selectPlatform('li')" :class="{'dialog-step-one-li': true, 'activeli': post.li}">
                        <img src="../../assets/yo.png" alt="">
                        <p :class="{'active': post.li}">Live.ly</p>
                    </li>
                    <li @click="selectPlatform('tw')" :class="{'dialog-step-one-li': true, 'activeli': post.tw}">
                        <img src="../../assets/in.png" alt="">
                        <p :class="{'active': post.tw}">Twitter</p>
                    </li>
                    <li @click="selectPlatform('in')" :class="{'dialog-step-one-li': true, 'activeli': post.in}">
                        <img src="../../assets/fa.png" alt="">
                        <p :class="{'active': post.in}">Instagram</p>
                    </li>
                    <li @click="selectPlatform('fa')" :class="{'dialog-step-one-li': true, 'activeli': post.fa}">
                        <img src="../../assets/tw.png" alt="">
                        <p :class="{'active': post.fa}">Facebook</p>
                    </li>
                    <li @click="selectPlatform('mu')" :class="{'dialog-step-one-li': true, 'activeli': post.mu}">
                        <img src="../../assets/li.png" alt="">
                        <p :class="{'active': post.mu}">Musical.ly</p>
                    </li>
                </ul>
                <el-button type="primary" @click="onClick('next1')" class="take-btn">NEXT</el-button>
            </div>
            <div v-if="step.two" class="dialog-step-two">
                <h2>Campaign Details</h2>
                <p>You can use materials below to create  your own contents.</p>
                <el-row>
                    <el-col :span="3">
                        <div class="dialog-step-two-left">
                            <span>Page:</span>
                        </div>
                    </el-col>
                    <el-col :span="21">
                        <div class="dialog-step-two-right">
                            https://{{userPag}}.star.store
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="3">
                        <div class="dialog-step-two-left">
                            <span>Text:</span>
                        </div>
                    </el-col>
                    <el-col :span="21">
                        <div class="dialog-step-two-right">
                            {{msg.desc}}
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-if="msg.pics.length > 0" :span="3">
                        <div class="dialog-step-two-left">
                            <span>Pictures:</span>
                        </div>
                    </el-col>
                    <el-col :span="21">
                        <div class="dialog-step-two-right">
                            <el-row :gutter="20">
                                <el-col :span="6" v-for="p in msg.pics" :key="p">
                                    <img :src="baseUrl + p" alt="picture" style="width:100%">
                                </el-col>
                            </el-row>
                        </div>
                    </el-col>
                </el-row>
                <el-row v-if="msg.isVideo">
                    <el-col :span="3">
                        <div class="dialog-step-two-left">
                            <span>Video:</span>
                        </div>
                    </el-col>
                    <el-col :span="21">
                        <div class="dialog-step-two-right">
                            <video width="100%" height="200" :src="msg.video" controls></video>
                        </div>
                    </el-col>
                </el-row>
                <div class="dialog-step-two-btn">
                    <el-button type="primary" @click="onClick('next2')" class="take-btn">NEXT</el-button>
                    <el-button type="primary"  @click="onClick('down')">DOWNLOAD</el-button>
                </div>
            </div>
            <div v-if="step.three" class="dialog-step-three">
                <h2>{{platformName}}</h2>
                <div>
                     <el-input v-model="feedUrl" auto-complete="off" placeholder="Post LINK"></el-input>
                </div>
                <div class="dialog-step-three-btn">
                    <el-button type="primary" @click="onClick('agign')">MAKE ANOTHER POST</el-button>
                    <el-button type="primary" @click="onClick('submit')">SUBMIT</el-button>
                    <el-button type="primary" @click="onClick('close')">CANCEL</el-button>
                </div>
            </div>
            <!--<el-checkbox class="radio" v-model="form.facebook" label="1">Facebook</el-checkbox> <br>
            <el-input v-if="form.facebook" v-model="form1.facebook" auto-complete="off" placeholder="Feed URL"></el-input>
            <el-checkbox class="radio" v-model="form.instagram" label="2">Instagram</el-checkbox> <br>
            <el-input v-if="form.instagram" v-model="form1.instagram" auto-complete="off" placeholder="Feed URL" ></el-input>
            <el-checkbox class="radio" v-model="form.twitter" label="3">Twitter</el-checkbox> <br>
            <el-input v-if="form.twitter" v-model="form1.twitter" auto-complete="off" placeholder="Feed URL"></el-input>
            <el-checkbox class="radio" v-model="form.musical" label="4">Musical.ly</el-checkbox> <br>
            <el-input v-if="form.musical" v-model="form1.musical" auto-complete="off" placeholder="Feed URL"></el-input>
            <el-checkbox class="radio" v-model="form.live" label="5">Live.ly</el-checkbox>
            <el-input v-if="form.live" v-model="form1.live" auto-complete="off" placeholder="Feed URL"></el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">cancel</el-button>
                <el-button type="primary" @click="onClick('confirm')">Confirm</el-button>
            </div>-->
        </el-dialog>
    </div>
</template>

<script>
    import {
        getTakeCampaign,
        conectProductAndInfluencer,
        getPackageMsg
    } from '../../apiRequest.js';
    import base from '../../config.js';
    import store from 'store2';
    export default {
        name: 'take',
        data() {
            return {
                msg: {},
                baseUrl: base.logURL,
                checkList: [],
                dialogFormVisible: false,
                formLabelWidth: '80px',
                step: {
                    one: true,
                    two: false,
                    three: false
                },
                platformName: '',
                post: {
                    mu: false,
                    yo: false,
                    in: false,
                    tw: false,
                    li: false,
                    fa: false
                },
                feedUrl: '',
                feeds: [],
                form: {
                    facebook: false,
                    instagram: false,
                    twitter: false,
                    musical: false,
                    live: false
                },
                form1: {
                    facebook: '',
                    instagram: '',
                    twitter: '',
                    musical: '',
                    live: ''
                },
                campaignid: '',
                userPag: '',
                influencerId: ''
            }
        },
        created() {
            window.scrollTo(0,0);
            let msg = store('influencerUser').user;
            this.influencerId = msg.influencer_user_id
            if (msg.influencer_user_page) {
                this.userPag = msg.influencer_user_page;
            } else {
                this.userPag = store('influencerPage');
            }
            this.campaignid = this.$route.params.id;
            this.$parent.$emit('message', 'ta');
            getTakeCampaign({
                campaignid: this.$route.params.id
            }).then((data) => {
                if (data.data.code === 0) {
                    let msg = data.data.msg[0];
                    if (msg) {
                        this.msg = {
                            name: msg.operation_campaign_name,
                            logo: msg.operation_campaign_logo ? base.logURL + msg.operation_campaign_logo : base.logURL + base.defaultImg,
                            note: msg.operation_campaign_note,
                            package: msg.operation_campaign_amount_type === 2 ? 'Package' : msg.operation_campaign_amount_type === 1 ? 'CPC' : 'CPA',
                            balance: msg.operation_campaign_amount / 1000,
                            id: msg.brand_campaign_id,
                            desc: msg.operation_campaign_desc,
                            pics: '',
                            video: base.logURL + msg.operation_campaign_video,
                            isVideo: msg.operation_campaign_video
                        };
                        if(msg.operation_campaign_pics){
                            this.msg.pics = msg.operation_campaign_pics.split(",");
                        }
                    }
                }
            }).catch((res) => {
                this.$message.error(res);
            });
        },
        methods: {
            selectPlatform(type) {
                this.changeClick(type);
            },
            changeClick(type) {
                for (let i in this.post) {
                    if (this.post[i]) {
                        this.post[i] = false;
                    }
                }
                this.post[type] = true;
                this.platformName = type === 'yo' ? 'YouTube' : type === 'li' ? 'Live.ly' : type === 'tw' ? 'Twitter' : type === 'in' ? 'Instagram' : type === 'fa' ? 'Facebook' : type === 'mu' ? 'Musical.ly' : '';
            },
            makePostUrl(t) {
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
                let num = t === 'Facebook' ? 0 : t === 'Instagram' ? 1 : t === 'Twitter' ? 2 : t === 'Musical.ly' ? 3 : t === 'Live.ly' ? 4 : 5;
                this.feeds.push({
                    platform: num,
                    feed: this.feedUrl
                });
            },
            onClick(t) {
                if (t === 'back') {
                    this.$router.push('/home/campaignList');
                } else if (t === 'take') {
                    this.dialogFormVisible = true;

                } else if (t === 'down') {
                    getPackageMsg({
                        op_campaignid: this.msg.id
                    }).then((data)=>{
                        if(data.data.code === 0){
                            location.href=base.logURL + data.data.msg;
                            // setTimeout(()=>{},1000);
                        }
                    }).catch((res) => {
                        this.$message.error(res);
                    });
                } else if (t === 'confirm') {

                } else if (t === 'next1') {
                    if (this.platformName) {
                        this.step.one = false;
                        this.step.two = true;
                        this.step.three = false;
                    } else {
                        this.$message.error('Please select one social platform.');
                    }
                } else if (t === 'next2') {
                    this.feedUrl = '';
                    this.step.one = false;
                    this.step.two = false;
                    this.step.three = true;
                } else if (t === 'agign') {
                    if (this.feedUrl) {
                        this.makePostUrl(this.platformName);
                        this.step.one = true;
                        this.step.two = false;
                        this.step.three = false;
                    } else {
                        this.$message.error('Fill in the URL of your post.');
                    }
                } else if (t === 'close') {
                    this.dialogFormVisible = false;
                    this.step.one = true;
                    this.step.two = false;
                    this.feedUrl = '';
                    this.feeds = [];
                    this.platformName = '';
                    this.step.three = false;
                    this.changeClick();
                } else if (t === 'submit') {
                    // 请求保存记录
                    if (!this.feedUrl) {
                        this.$message.error('Fill in the URL of your post.');
                        return;
                    }
                    this.makePostUrl(this.platformName);
                    conectProductAndInfluencer({
                        influid: this.influencerId,
                        campaignid: this.campaignid,
                        feeds: JSON.stringify(this.feeds)
                    }).then((data) => {
                        if (data.data.code === 0) {
                            this.$message({
                                type: 'success',
                                message: 'success!'
                            });
                            this.changeClick();
                            this.dialogFormVisible = false;
                            this.feeds = [];
                            this.$router.push('/home/myCampaign');
                            store('influassid', data.data.msg)
                        }
                    }).catch((res) => {
                        this.$message.error(res);
                    });
                }
            }
        }
    }
</script>

<style scoped>
    .take-campaign {
        margin: 0 auto;
        padding: 60px 40px;
    }

    .back-list-btn {
        position: absolute;
        left: 10px;
        top: 0;
    }

    .radio {
        margin: 10px 0;
    }

    .take-campaign-details {
        /*width: 300px;*/
        margin: 0 auto;
        background-color: #f5f7fa;
        border-radius: 10px;
        position: relative;
        padding: 20px;
    }

    .take-campaign-btn {
        text-align: left;
        margin-top: 40px;
        padding-left: 20px;
    }

    .take-campaign-details-msg {
        text-align: center;
        padding-left: 100px;
    }

    .take-campaign-details-msg>h1 {
        font-size: 26px;
        text-align: left;
    }

    .take-campaign-details-msg>h3 {
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
        text-align: left;
        /*text-indent: 1em;*/
        font-weight: normal;
        margin-top: 10px;
        font-size: 10px;
    }

    .take-campaign-details-msg>p {
        margin-top: 20px;
        color: #20A0FF;
        text-align: left;
    }
    .page-msg>p{
        margin: 20px 0;
        color: #20A0FF;
        text-align: center;
    }
    .take-campaign-details-msg>p>span {
        color: #333;
    }

    .download {
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    .materials-download {
        padding: 0;
    }
    .take-campaign-details-logo{
        float:left;
    }
    .take-campaign-details-logo>img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        /*margin: 0 auto;*/
        /*margin-bottom: 10px;*/
    }

    .take-campaign-details>p>span:last-child {
        color: #333;
        font-size: 24px;
        font-weight: bold;
    }

    .box-card {
        text-align: left;
        margin-top: 40px;
    }

    .take-btn {
        width: 200px;
    }

    .dialog-step-one {
        text-align: center;
        padding-bottom: 30px;
    }

    .dialog-step-one>h2 {
        margin-bottom: 30px;
    }

    .dialog-step-one>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .dialog-step-one-li {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 5px;
    }

    .dialog-step-one>ul>li>img {
        width: 60px;
        display: block;
        margin-bottom: 10px;
    }

    .active {
        color: #c1272d;
    }

    .activeli {
        border-color: #c1272d;
    }

    .dialog-step-two>h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    .dialog-step-two-btn {
        text-align: center;
        margin: 20px 0;
    }

    .dialog-step-two>p {
        text-align: center;
        padding: 15px 0;
        margin-bottom: 10px;
        background-color: #c1272d;
        color: #fff;
    }

    .dialog-step-two-left {
        padding: 14px;
    }

    .dialog-step-two-right {
        padding: 14px;
        /*border: 1px solid #ccc;*/
        /*margin: 10px 0;*/
        word-wrap: break-word;
        word-break: break-all;
    }

    .dialog-step-three {
        text-align: center;
    }

    .dialog-step-three>h2 {
        margin-bottom: 30px;
    }

    .dialog-step-three-btn {
        text-align: center;
        margin: 20px 0 30px;
    }

    .page-info {
        border: 1px solid #c1272d;
        font-size: 12px;
        color: #333;
        text-align: left;
        text-indent: 10px;
        padding: 10px;
        margin-top: 10px;
    }
</style>
