<template>
  <div class="wallet">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane  name="first">
            <div class="wallet-item">
                <el-form label-position="left" label-width="130px" :model="form" ref="form" :rules="rules">
                     <el-form-item>
                        <div class="msg-content">After you reach a minimum balance of $50.00, you can submit the withdraw request and receive the money in 2 workdays.</div>
                    </el-form-item>
                    <el-form-item label="Balance:">
                        ${{form.balance}}
                        <span style="margin-left: 20px;color: #c1272d;">
                           Frozen amount: ${{form .freez}}
                        </span>
                        <!--<el-tag v-if="form.withdraw<50" type="danger">The minimum amout is 50$</el-tag>-->
                    </el-form-item>
                    <el-form-item
                        label="Withdraw:" prop="withdraw">
                        <el-input v-model.number="form.withdraw" placeholder="$" style="width: 50%;"></el-input>
                      <el-tag v-if="form.balance<form.withdraw" type="danger">The withdraw amout can't be more than your balance.</el-tag>
                    </el-form-item>
                    <el-form-item label="Paypal Email:" prop="email">
                        <el-input v-model="form.email" style="width: 50%;"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <div style="width:100%">
                            <el-button type="primary" :disabled="exist" class="take-btn" @click="onSubmit('form')">SUBMIT</el-button>
                            <div class="msg-exist" v-if="exist">You have a withdraw request under processing, it is not allowed to submit another one.</div>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-tab-pane>

        <el-tab-pane  name="second">
            <div class="wallet-item">
                <el-table
                    :data="tableData"
                    empty-text="No Data"
                    style="width: 100%">
                    <el-table-column
                        prop="date"
                        label="Date">
                    </el-table-column>
                    <el-table-column
                        prop="type"
                        label="Type">
                    </el-table-column>
                    <el-table-column
                        prop="amount"
                        label="Amount($)">
                    </el-table-column>
                    <el-table-column
                        prop="balance"
                        label="Balance($)">
                    </el-table-column>
                    <el-table-column
                        prop="state"
                        label="Status">
                    </el-table-column>
                </el-table>
            </div>
        </el-tab-pane>

        <el-tab-pane  name="third">
        <div class="wallet-item">
          <el-form
            :label-position="labelPosition"
            label-width="120px"
            :model="formLabelAlign"
            ref="formLabelAlign"
          >
            <!--Personal details-->
            <div class='el-form-card'>
              <h1>Personal details</h1>
              <div class='form-box'>
                <div class='brand-box'>
                  <el-form-item label="Your Name:" prop="name" class='min-width-item'>
                    <el-input v-model="formLabelAlign.name"></el-input>
                  </el-form-item>
                  <el-form-item label="Address:" prop="address" class='min-width-item'>
                    <el-input v-model="formLabelAlign.address"></el-input>
                  </el-form-item>
                </div>
                <div class='brand-box'>
                  <el-form-item label="City:" prop="city" class='min-width-item'>
                    <el-input v-model='formLabelAlign.city'></el-input>
                  </el-form-item>
                  <el-form-item label="ZIP Code:" prop="zipcode" class='min-width-item'>
                    <el-input v-model='formLabelAlign.zipcode'></el-input>
                  </el-form-item>
                </div>
                <div class='brand-box'>
                  <el-form-item label="Country:" prop="country" class='min-width-item'>
                    <el-select v-model="formLabelAlign.country" placeholder="Please Select" style="width:100%;">
                      <el-option key="APP" label="APP" value="APP"></el-option>
                      <el-option key="Link" label="Link" value="Link"></el-option>
                      <el-option key="Subscription" label="Subscription" value="Subscription"></el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </div>
            </div>
            <div class='el-form-card'>
              <h1>Payment details</h1>
              <div class='form-box'>
                <div class='brand-box'>
                  <el-form-item label="Paypal:" prop="paypal" class='min-width-item'>
                    <el-input v-model="formLabelAlign.paypal"></el-input>
                  </el-form-item>
                </div>
              </div>
            </div>
            <div class='submit-button'>
              <el-button >Cancel</el-button>
              <el-button type="primary">Update</el-button>
            </div>
          </el-form>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
    import {
        getInfluWallet,
        setInfluWallet,
        getInfluWalletList,
        influ_wallet_get_exist
    } from '../../apiRequest.js';
    import sha1 from 'sha1';
    import store from 'store2';
    export default {
        name: 'wallet',
        data() {
            return {
                msg: 'Welcome',
                exist : false,
                form: {
                    freez:0,
                    balance: 0,
                    withdraw: '',
                    email: '',
                    id: '',
                    wallet_id: ''
                },
                labelPosition:'right',
                tableData: [
                     {

                     }
                ],
                activeName: 'first',
                routeParam: this.$route.params.param,
                formLabelAlign:{
                  name:'',
                  address:'',
                  zipcode:'',
                  city:'',
                  country:'',
                  paypal:''
                },
                rules: {
                    withdraw: [{
                        required: true,
                        message: 'Withdraw amount is requested.'
                    }, {
                        type: 'number',
                        message: 'must number',
                        trigger: 'change'
                    }],
                    email: [{
                        required: true,
                        message: 'Paypal account is requested.',
                        trigger: 'blur'
                    }]
                },
//                formrules:{
//                    name:[{required:true,trigger:'blur'}],
//                    address:[{required:true,trigger:'blur'}],
//                    city:[{required:true,trigger:'change'}],
//                    country:[{required:true,trigger:'change'}],
//                    paypal:[{required:true,trigger:'blur'}],
//                    zipcode:[{required:true,trigger:'blur'}]
//                },
                userId: ''
            }
        },
        watch: {
            '$route.params.param':function (val) {
                this.chooseToLoad(val)
            }
        },
        created() {
            window.scrollTo(0,0);
            this.chooseToLoad(this.routeParam)
            this.$parent.$emit('message', 'wa');
            let msg = store('influencerUser').user;
            this.userId = msg.influencer_user_id;
            this.getMoneys();
            this.getHistory();
        },
        methods: {
            chooseToLoad:function (val) {
              if( val === 'wi' ){
                this.activeName = 'first'
              }else if(val === 'hi'){
                this.activeName = 'second'
              }else{
                this.activeName = 'third'
              }
            },
            handleClick(tab, event) {
//                this.$router.push( tab.label === 'Withdraw'?'wi':'hi' )
                if(tab.label === 'History'){
                    this.getHistory();
                }
            },
            getHistory(){
                getInfluWalletList({influid: this.userId}).then((data)=>{
                    let arr = [];
                    if(data.data.code === 0 && data.data.msg.length>0){
                        data.data.msg.forEach((_msg,index)=> {
                            let state = '';
                            if(_msg.type*1 == 0){
                                state = _msg.state*1 === 0 ? 'Reviewing' : 'Done';
                            }else{
                                state = '';
                            }
                            if(_msg.createat){
                              arr.push(
                                {
                                  date: _msg.createat.slice(0,10),
                                  type: _msg.type*1 === 0 ? 'Withdraw' : 'Income',
                                  amount: (_msg.amount/1000).toFixed(2),
                                  balance: (_msg.balance/1000).toFixed(2),
                                  state: state
                                }
                              );
                            }
                        });
                    }
                    this.tableData = arr;
                })
            },
            getMoneys(){
                getInfluWallet({
                    influ_id: this.userId
                }).then((data)=>{
                    if(data.data.code === 0 && data.data.msg.length>0){
                        this.$parent.homeNum = ((data.data.msg[0].influencer_wallet_amount+data.data.msg[0].influencer_freez_amount)/1000).toFixed(2);
                        this.form.balance = (data.data.msg[0].influencer_wallet_amount/1000).toFixed(2);
                        this.form.freez = data.data.msg[0].influencer_freez_amount/1000;
                        this.form.id = data.data.msg[0].influencer_user_id;
                        this.form.wallet_id = data.data.msg[0].influencer_wallet_id;
                        this.form.email = data.data.msg[0].paypal;
                        return influ_wallet_get_exist({
                            influencer_wallet_id : this.form.wallet_id
                        });
                    }
                }).then((data)=>{
                    if (data.data.code === 3) {
                        this.exist = true;
                    }
                })
            },
            handlerChange(newValue, oldValue) {
                if (newValue > this.form.balance) {
                    this.$message.error('error');
                } else {
                    // this.form.balance = this.form.balance - newValue;
                }
            },
            onSubmit(form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        if(this.form.withdraw<50){
                            this.$message({
                                type: 'error',
                                message: 'The minimum amout is $50'
                            });
                            return;
                        }
                        let obj = {
                            influencer_wallet_id: this.form.wallet_id,
                            amount: this.form.withdraw.toFixed(2) * 1000,
                            paypal: this.form.email.trim()
                        };
                        setInfluWallet(obj).then((data)=>{
                            if (data.data.code === 0) {
                                this.$notify({
                                    message: 'The request has been submitted, please check your paypal account for the balance in two workdays, if you have any question, please send email to contact@star.store for help.',
                                    type: 'success'
                                });
                                this.$refs[form].resetFields();
                                this.getMoneys();
                                this.getHistory();
                            } else if (data.data.code === 2) {
                                this.$notify({
                                    message: 'You have a withdraw request under processing, it is not allowed to submit another one.',
                                    type: 'error'
                                });
                                this.form.withdraw = '';
                                this.form.email = '';
                                this.getMoneys();
                            } else if (data.data.code === 3) {
                                this.$notify({
                                    message: "The withdraw amout can't be more than your balance.",
                                    type: 'error'
                                });
                                this.form.withdraw = '';
                                this.form.email = '';
                                this.getMoneys();
                            } else if (data.data.code === 5) {
                                this.$notify({
                                    message: "The withdraw amout can't be more than your balance.",
                                    type: 'error'
                                });
                                this.form.withdraw = '';
                                this.form.email = '';
                                this.getMoneys();
                            } else {
                                this.$notify({
                                    message: data.data.msg,
                                    type: 'error'
                                });
                                this.form.withdraw = '';
                                this.form.email = '';
                                this.getMoneys();
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .wallet {
        margin: 20px auto;
        padding: 0px 20px;
    }

    .wallet-item {
        box-sizing: border-box;
        padding: 20px 20px 60px 20px;
        border-radius: 10px;
        width: 100%;
        background:#fff;
    }
    .el-tag--danger{
      width: 200px;
      height: 50px;
      display: inline-block;
      margin-left: 20px;
      white-space: normal;
      margin-right:20%;
      float:right;
    }

    .take-btn {
        width: 200px;
        float:left;
    }
    .msg-content{
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #c1272d;
        line-height: 18px;
        color: #666;
        font-size: 12px;
    }
    .msg-exist{
        width: 300px;
        padding: 5px;
        border: 1px solid #c1272d;
        box-sizing: border-box;
        line-height: 18px;
        font-size: 12px;
        margin-left: 10px;
        float:left;
    }
    .el-form-card{
      margin-bottom: 0px;
    }
    .el-form-card h1 {
      margin-top:0;
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 0px;
      line-height: 30px;
    }
    .el-form-item{
      width:100%;
      margin-right:20px;
    }
    .form-box{
      background: rgba(255,255,255,.3);
      display: flex;
      flex-wrap: wrap;
    }
    .min-width-item{
      width:48% !important;
    }
    .min-width-item:nth-child(even){
      margin-right:0;
      float:right;
    }
    .min-width-item:nth-child(odd){
      float:left;
    }
    .brand-box{
      width:100%;
      overflow: hidden;
      margin-right:25px;
    }
</style>
