<template>
  <div class="home">
    <transition name="fade" mode="out-in">
        <router-view class="view" on:message="aaa"></router-view>
    </transition>
  </div>
</template>

<script>
    export default {
        name: 'home',
        data() {
            return {
                msg: 'Welcome',
            }
        },
        created() {

        },
        methods: {

        }
    }
</script>

<style>
    #app {
        font-family: Helvetica, 'Avenir', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #333;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all .1s ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
</style>
