[v-cloak]{
  display:none !important;
}
html,body,div,p,ul,li,code,span,h1,h2,h3,h4,h5,h6{
  font-family: "微软雅黑";
}
html{
  --message-min-width: 1024px;
  min-width:1024px;
  height:100%;
}
body,.home,.home-body{
  height:100%;
}
.el-form-item.is-required .el-form-item__label:after {
    content: '*'!important;
    color: #ff4949!important;
    margin-right: 0px!important;
}

.el-form-item.is-required .el-form-item__label:before {
    content: none;
    color: #ff4949;
    margin-right: 0px;
}

.el-dialog__title {
    line-height: 1;
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
    color: #1f2d3d;
}

.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:rgba(255,255,255,.5);
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.el-input-group__append,
.el-input-group__prepend {
    background-color: #c1272d;
    color: #fff;
    font-size: 13px;
}

.el-select .el-input .el-input__icon {
    color: #c1272d;
}

.el-form-item__label {
    font-size: 13px;
}

.el-checkbox__label {
    font-size: 13px;
}

.el-upload-dragger {
    background-color: #f5f7fa;
}

.el-icon-plus:before {
    color: #c1272d;
}

.el-icon-date:before {
    color: #c1272d;
}

.el-popover {
    color: #c1272d;
    /*color: #20A0FF;*/
}

.el-tabs__item.is-active {
    color: #c1272d;
}

.el-tabs__active-bar {
    background-color: #c1272d;
}

.el-button--primary {
    color: #fff;
    background-color: #c1272d;
    border-color: #c1272d
}

.el-button--primary:focus,
.el-button--primary:hover {
    background: #ff6c72;
    border-color: #ff6c72;
    color: #fff
}

.el-button--primary.is-active,
.el-button--primary:active {
    background: #ff6c72;
    border-color: #ff6c72;
    color: #fff
}

.el-button--primary:active {
    outline: 0
}

.el-button--primary.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}

.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    background: #fff;
    border-color: #ff6c72;
    color: #ff6c72
}

.el-button--primary.is-plain:active {
    background: #fff;
    border-color: #ff6c72;
    color: #ff6c72;
    outline: 0
}

.el-button--text {
    color: #c1272d;
}

.el-button--text:hover {
    color: #ff6c72;
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    border-color: #d1dbe5
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #c1272d
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    border-color: #d1dbe5
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #c1272d
}

.el-select:hover .el-input__inner {
    border-color: #c1272d
}

.el-select .el-input__inner {
    cursor: pointer
}

.el-select .el-input__inner:focus {
    border-color: #c1272d
}

.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%
}

.el-input__inner::-webkit-input-placeholder {
    color: #97a8be
}

.el-input__inner::-moz-placeholder {
    color: #97a8be
}

.el-input__inner:-ms-input-placeholder {
    color: #97a8be
}

.el-input__inner::placeholder {
    color: #97a8be
}

.el-input__inner:hover {
    border-color: #c1272d
}

.el-input__inner:focus {
    outline: 0;
    border-color: #c1272d
}

.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    color: #1f2d3d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-textarea__inner::-webkit-input-placeholder {
    color: #97a8be
}

.el-textarea__inner::-moz-placeholder {
    color: #97a8be
}

.el-textarea__inner:-ms-input-placeholder {
    color: #97a8be
}

.el-textarea__inner::placeholder {
    color: #97a8be
}

.el-textarea__inner:hover {
    border-color: #c1272d
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #c1272d
}

.el-checkbox__inner:hover {
    border-color: #c1272d
}

.el-radio__input.is-focus .el-radio__inner {
    border-color: #c1272d
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #c1272d;
    background: #c1272d
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #c1272d
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #c1272d;
    border-color: #c1272d
}

.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #c1272d;
}

.el-select-dropdown__item.selected:hover {
    color: #fff;
    background-color: #c1272d;
}

.el-select-dropdown__item.selected.hover {
    background-color: #c1272d;
}

.el-dialog__body {
    padding: 10px 20px;
}
.el-collapse-item__header{
  font-size: 20px;
  font-weight: 900;
  color: #c1272d;
  height: 60px;
  line-height:60px ;

}
.el-tabs__header{
  display: none;
}

.el-pager li.active {
  border-color: #c1272d;
  background-color: #c1272d;
  color: #fff;
  cursor: default;
}

.el-loading-spinner .path {
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90,150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #c1272d;
  stroke-linecap: round;
}
.el-loading-spinner .el-loading-text {
  color: #c1272d;
  margin: 3px 0;
  font-size: 14px;
}

/*登录背景*/
.newUser,.auth-login,.newuser,.enter-inf{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background:url('assets/bg.jpg') no-repeat;
  background-size: cover;
  overflow: auto;
  padding-bottom: 50px;
}
/*注册登录页面logo*/
.logo{
  position: fixed;
  top: 11px;
  left: 30px;
  width: 200px;
  height: 86px;
}
.logo img{
  width: 100%;
  display: block;
}
/*copy*/
.logoin-footer {
  text-align: center;
  position: absolute;
  bottom: 65px;
  width: 100%;
  color: #000;
}
.logoin-footer>span {
  border-top: 1px solid #ccc;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}
/*详情页*/
.campaign-details .el-table{
  margin-bottom:20px;
}
.campaign-details .el-table th {
  white-space: nowrap;
  overflow: hidden;
  background-color: #f9ced0;
  text-align: center;
}
.campaign-details .el-table .cell {
  text-align: center;
  padding:5px 18px;
}
.el-table .cell{
  text-align:center;
}

.data .el-table{
  border:none;
}
.campaign-my-list-card-row2 .el-tag{
  width:25px;
  height:25px;
  padding:0;
  background-color:rgba(255,255,255,0);
}
/*多选框*/
.el-tag--primary {
  background-color: #f9ced0;
  border-color: #f9ced0;
  color: #000;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover, .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #f9ced0;
}
/*日历*/
.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
  background-color: #c1272d !important;
  color: #fff;
}
.el-date-table td.available:hover {
  background-color: #f9ced0;
}
/*上传框*/
.avatar-uploader:hover {
   border-color: #c1272d;
}
.avatar-uploader {
  border: 1px dashed #c1272d;
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #e2e3e5;
  color: #000;
}
.el-table th {
  white-space: nowrap;
  overflow: hidden;
  background-color: #e2e3e5;
  text-align: center;
  border:solid 1px #e2e3e5;
}
.el-table{
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
   border: none;
  font-size: 14px;
  color: #1f2d3d;
}
.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
}
.el-table:after{
  top: 0;
  right: 0;
   width: 0px;
  height: 100%;
}
.el-table td, .el-table th.is-leaf {
   border:none;
}
.el-table tr:nth-child(odd) {
  background: #fff;
}

.el-table tr:nth-child(odd) {
  background: #fff;
}
/*特定页面样式*/
.campaign-details .el-table tr:nth-child(odd) {
  background: #fff;
}
.campaign-details .el-table tr:nth-child(even) {
  background: #f5f7fa;
}

.nomargin .el-form-item__error{
  left:50%;
  transform: translateX(-50%);
}
.nomargin .el-form-item:nth-child(odd) .el-input__inner{
  background:#f5f7fa;
}
.nomargin .el-tooltip__popper.is-light{
  border:solid 1px #c1272d;
  display: block!important;
}
.el-message-box__btns  .el-button--primary:focus{
  background:#c1272d;
  border-color:#c1272d;
}
/*弹窗关闭*/
.el-message-box__close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #999;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}
.el-menu-item-group__money{
  font-size:13px !important;
}
.qsearch .el-form{
  padding: 20px 20px 60px 20px;
  border-radius: 10px;
  margin: 20px;
  background: #fff;
}
.qsearch .el-form-item__label{
  height:36px;
  line-height:36px;
  padding:0 20px;
  width:100%;
  font-size:18px;
  font-weight:bold;
  color:#000;
  text-align:left;
  display:inline-table;

}
.qsearch .el-radio-group{
  width:100%;
  margin:10px 0;
}
.qsearch .el-radio-group .el-radio {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left:40px;
}
.qsearch .el-radio-group .el-radio:hover{
 background:#f5f7f9;
}
.qsearch .el-radio+.el-radio {
  margin-left: 0;
}
.qsearch .el-form-item{
  margin-bottom:0;
}
.el-pager li,.el-pagination .btn-next, .el-pagination .btn-prev,.el-pagination button.disabled,.el-pagination__editor
{
  background:#fff;
}
.iview .el-tabs__item{
  background:#fff;
  height: 36px;
  box-sizing: border-box;
  line-height: 36px;
  display: inline-block;
  list-style: none;
  font-size: 16px;
  font-weight:bold;
  color:#000;
  position: relative;
  border: solid 1px #ccc;
  border-radius: 10px;
  margin-right: 10px;
}
.iview .el-tabs__item.is-active {
  background:#c1272d;
  font-weight:bold;
  color:#fff;
}
.iview .el-tabs__active-bar {
  display:none;
}
.iview .el-tabs__header{
  display:block;
  border:none;
}
.country .el-tag{
  height:20px;
  line-height:20px;
  padding:0 2px;
}
.el-tag{
  vertical-align: middle;
}
.social .el-tag,.device .el-tag{
  width:25px;
  height:25px;
  background:rgba(255,255,255,0);
}
.user-msg .el-dropdown{
  color:#cbcbcb;
}
.el-menu-demo .el-menu-item-group__title{
  padding-top:0;
}
.el-submenu .el-menu-item{
  line-height:20px;
  height:auto;
}

.el-menu-demo .el-submenu .el-menu-item:hover, .el-menu-demo .el-submenu__title:hover {
  background-color: #525a66;
}
.el-menu-demo .el-submenu__icon-arrow{
  display:none;
}
.el-menu-demo .el-menu-item-group__title{
  padding-left:0;
}
.el-menu-demo .el-submenu__title{
  padding-left:40px !important;
  display: flex;
  align-items: center;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
  color:#ccc;
}
.center-item .el-form-item__content{
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button{
  float: right;
  margin: 0 30px 70px 0;
}
